<footer >
    <div class="footer_inner clearfix">
       <div class="footer_top_holder">
          <div class="footer_top">
             <div class="container">
                <div class="container_inner">
                   <div class="four_columns clearfix">
                      <div class="column1 footer_col1">
                         <div class="column_inner">
                            <div id="custom_html-2" class="widget_text widget widget_custom_html">
                               <div class="textwidget custom-html-widget">
                                  <div class="separator  transparent" style="margin-top: -5px;"></div>
                                  <img class="alignnone size-full wp-image-22 lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 60'%3E%3C/svg%3E" alt="" width="192" height="60" data-src="/assets/uploads/2018/12/Puffin-Security-Logo-192x60-1.png" loading="lazy" />
                                  <noscript><img class="alignnone size-full wp-image-22" src="/assets/uploads/2018/12/Puffin-Security-Logo-192x60-1.png" alt="" width="192" height="60" /></noscript>
                               </div>
                            </div>
                            <div id="custom_html-15" class="widget_text widget widget_custom_html">
                               <div class="textwidget custom-html-widget">
                                  <div class="separator  transparent" style="margin-top: 15px;"></div>
                                  At PUFFIN SECURITY we want to help you to enhance your security posture and improve operational efficiency.
                               </div>
			    Member of: <br />
                                  <img class="alignnone size-full wp-image-22" src="/assets/uploads/images/isms_logo.png" alt="" width="96" height="60" />

                            </div>
                            <div id="custom_html-8" class="widget_text widget widget_custom_html">
                               <div class="textwidget custom-html-widget">
                                  <div class="separator  transparent" style="margin-top: 25px;"></div>
                                  <span class='q_social_icon_holder circle_social' data-color=#7d7d7d data-hover-background-color=#35c7c9 data-hover-border-color=#35c7c9 data-hover-color=#ffffff><a itemprop='url' href='https://www.linkedin.com/company/{{ site.linkedin }}/' target='_blank' rel="noopener noreferrer"><span class='fa-stack' style='background-color: rgba(255,255,255,0.01);border-color: #7d7d7d;border-width: 2px;margin: 0 10px 0 0;font-size: 16px;'><i class="qode_icon_font_awesome fa fa-linkedin" style="color: #7d7d7d;font-size: 14px;" ></i></span></a></span><span class='q_social_icon_holder circle_social' data-color=#7d7d7d data-hover-background-color=#35c7c9 data-hover-border-color=#35c7c9 data-hover-color=#ffffff><!--<a itemprop='url' href='https://twitter.com/{{ site.twitter }}' target='_blank' rel="noopener noreferrer"><span class='fa-stack' style='background-color: rgba(255,255,255,0.01);border-color: #7d7d7d;border-width: 2px;margin: 0 10px 0 0;font-size: 16px;'><i class="qode_icon_font_awesome fa fa-twitter" style="color: #7d7d7d;font-size: 14px;" ></i></span></a>--></span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="column2 footer_col2">
                         <div class="column_inner">
                            <div id="nav_menu-8" class="widget widget_nav_menu">
                               <h5>SERVICES</h5>
                               <div class="menu-footer-container">
                                  <ul id="menu-footer" class="menu">
                                     <li><a href="/cybersecurity-services/">Cybersecurity Services</a></li>
                                     <li><a href="/cybersecurity-audit-assesment/">Audit &#038;assessment</a></li>
                                     <li><a href="/adversarial-security-testing-red-team/">Adversarial security testing</a></li>
                                     <li><a href="/mdr/">MDR</a></li>
                                  </ul>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="column3 footer_col3">
                         <div class="column_inner">
                            <div id="custom_html-3" class="widget_text widget widget_custom_html">
                               <h5>Contact us</h5>
                               <div class="textwidget custom-html-widget">
                                  <div class="separator  transparent" style="margin-top: -5px;"></div>
                                  <hr />
                                  Juan Pantoja 1, 2B<br>
                                  28039 Madrid, España<br>
                                  <hr />
                                  1515 Sutter St<br>
                                  San Francisco, CA, 94109, USA
                                  <hr />
                                  T: +34 919 217 257<br>
                                  email: info@puffinsecurity.com
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="column4 footer_col4">
                         <div class="column_inner">
                            <div id="custom_html-30" class="widget_text widget widget_custom_html">
                               <div class="textwidget custom-html-widget">
                                  <img class="alignnone size-medium wp-image-2415 lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 120'%3E%3C/svg%3E" alt="Fondos FEDER " width="300" height="120" data-src="/assets/uploads/2019/02/FEDER-web-300x120-300x120.png" loading="lazy" />
                                  <noscript><img class="alignnone size-medium wp-image-2415" src="/assets/uploads/2019/02/FEDER-web-300x120-300x120.png" alt="Fondos FEDER " width="300" height="120" /></noscript>
                               </div>
                            </div>
                            <div id="custom_html-29" class="widget_text widget widget_custom_html">
                               <div class="textwidget custom-html-widget"><strong>Puffin Security</strong> in the ICEX Export Initiation Framework, has been supported by ICEX and co-financed by the European ERDF fund. The purpose of this support is to contribute to the international development of the company and its environment</div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="footer_bottom_holder">
          <div style="background-color: #c9d5dd;height: 1px" class="footer_bottom_border"></div>
          <div class="container">
             <div class="container_inner">
                <div class="three_columns footer_bottom_columns clearfix">
                   <div class="column1 footer_bottom_column">
                      <div class="column_inner">
                         <div class="footer_bottom">
                            <div class="textwidget custom-html-widget">
                               <div class="separator  transparent" style="margin-top: -3px;"></div>
                               © PUFFIN SECURITY
                            </div>
                         </div>
                      </div>
                   </div>
                   <div class="column2 footer_bottom_column">
                      <div class="column_inner">
                         <div class="footer_bottom">
                         </div>
                      </div>
                   </div>
                   <div class="column3 footer_bottom_column">
                      <div class="column_inner">
                         <div class="footer_bottom">
                            <div class="menu-social-container">
                               <ul id="menu-social" class="menu">
                                  <li><a href="https://www.linkedin.com/company/{{ site.linkedin }}/">LINKEDIN</a></li>
                                  <!--<li><a href="https://twitter.com/{{ site.twitter }}/">TWITTER</a></li>-->
                               </ul>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 </div>
 </div>
 <script type="text/javascript">
    /**
    * We define our custom disqus configs here. This function is invoked from:
    * /disqus-comment-system/public/js/comment_embed.js by variable `disqus_config_custom`
    */
       var disqus_config = function () {
           this.language = "en";
       };
 </script>
 
 <script type='text/javascript'>
    /* <![CDATA[ */
    var countVars = {"disqusShortname":"puffinsecurity"};
    /* ]]> */
 </script>
 <!-- <script type='text/javascript' src='/assets/plugins/disqus-comment-system/public/js/comment_count.js?ver=3.0.17'></script> -->
 <!--  -->
 <script type='text/javascript' src='/assets/plugins/wpcf7-redirect/js/wpcf7-redirect-script.js'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/qode-like.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/core.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/accordion.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/position.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/menu.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/dist/vendor/wp-polyfill.min.js?ver=7.4.4'></script>
 <script type='text/javascript'>
    ( 'fetch' in window ) || document.write( '<script src="/assets/js/dist/vendor/wp-polyfill-fetch.min.js?ver=3.0.0"></scr' + 'ipt>' );( document.contains ) || document.write( '<script src="/assets/js/dist/vendor/wp-polyfill-node-contains.min.js?ver=3.26.0-0"></scr' + 'ipt>' );( window.FormData && window.FormData.prototype.keys ) || document.write( '<script src="/assets/js/dist/vendor/wp-polyfill-formdata.min.js?ver=3.0.12"></scr' + 'ipt>' );( Element.prototype.matches && Element.prototype.closest ) || document.write( '<script src="/assets/js/dist/vendor/wp-polyfill-element-closest.min.js?ver=2.0.2"></scr' + 'ipt>' );
 </script>
 <script type='text/javascript' src='/assets/js/dist/dom-ready.min.js?ver=2.5.1'></script>
 <script type='text/javascript' src='/assets/js/dist/a11y.min.js?ver=2.5.1'></script>
 <script type='text/javascript'>
    /* <![CDATA[ */
    var uiAutocompleteL10n = {"noResults":"No results found.","oneResult":"1 result found. Use up and down arrow keys to navigate.","manyResults":"%d results found. Use up and down arrow keys to navigate.","itemSelected":"Item selected."};
    /* ]]> */
 </script>
 <script type='text/javascript' src='/assets/js/jquery/ui/autocomplete.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/button.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/datepicker.min.js?ver=1.11.4'></script>
 <script type='text/javascript'>
    jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"d MM, yy","firstDay":1,"isRTL":false});});
 </script>
 <script type='text/javascript' src='/assets/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/resizable.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/draggable.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/dialog.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/droppable.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/progressbar.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/selectable.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/sortable.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/slider.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/spinner.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/tooltip.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-blind.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-bounce.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-clip.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-drop.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-explode.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-fade.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-fold.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-highlight.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-pulsate.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-size.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-scale.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-shake.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-slide.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/js/jquery/ui/effect-transfer.min.js?ver=1.11.4'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/jquery.carouFredSel-6.2.1.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/lemmon-slider.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/jquery.fullPage.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/jquery.mousewheel.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/jquery.touchSwipe.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min.js?ver=5.6'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/packery-mode.pkgd.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/jquery.stretch.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/imagesloaded.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/rangeslider.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/jquery.event.move.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/jquery.twentytwenty.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/TweenLite.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/ScrollToPlugin.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/plugins/smoothPageScroll.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/default_dynamic.js?ver=1578693649'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/default.min.js?ver=5.3.3'></script>
 <script type='text/javascript' src='/assets/themes/bridge/js/custom_js.js?ver=1578693647'></script>
 <!-- <script type='text/javascript' src='/assets/js/comment-reply.min.js?ver=5.3.3'></script> -->
 <script type='text/javascript' src='/assets/plugins/js_composer/assets/js/dist/js_composer_front.min.js?ver=5.6'></script>
 <script type='text/javascript'>
    /* <![CDATA[ */
    var moove_frontend_gdpr_scripts = {"enabled_default":{"third_party": false}};
    /* ]]> */
 </script>
 <script type='text/javascript' src='/assets/plugins/gdpr-cookie-compliance/dist/scripts/main.js?ver=4.1.9'></script>
 <script type='text/javascript' src='/assets/js/wp-embed.min.js?ver=5.3.3'></script>
 </html>
