
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDT3MM6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<section class="side_menu right">
    <a href="#" target="_self" class="close_side_menu"></a>
    <div id="custom_html-6" class="widget_text widget widget_custom_html posts_holder">
       <div class="textwidget custom-html-widget">
          <img  class="size-full wp-image-30 aligncenter lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 180 55'%3E%3C/svg%3E" alt="" width="180" height="55" data-src="/assets/uploads/2018/12/Puffin-Security-Logo-176x50.png" loading="lazy" />
          <noscript><img class="size-full wp-image-30 aligncenter" src="/assets/uploads/2018/12/Puffin-Security-Logo-176x50.png" alt="" width="180" height="55" /></noscript>
          <div class="separator  normal" style="margin-top: 15px;margin-bottom: 0px;background-color: #dbdbdb;opacity: 1;height: 1pxpx;"></div>
       </div>
    </div>
    <div id="nav_menu-7" class="widget widget_nav_menu posts_holder">
      <a href="#" target="_self" class="close_side_menu">X</a>
       <div class="menu-sidebar-container">
          <ul id="menu-sidebar" class="menu">
             <li><a href="/cybersecurity-services/">Cybersecurity Services</a></li>
             <li><a href="/cybersecurity-audit-assesment/">Cyber security audit &#038;assessment</a></li>
             <li><a href="/adversarial-security-testing-red-team/">Red Team services</a></li>
             <li><a href="/experienced-a-breach/">Experienced a breach?</a></li>
             <li><a href="/mdr/">MDR</a></li>
          </ul>
       </div>
    </div>
    <div id="custom_html-5" class="widget_text widget widget_custom_html posts_holder">
       <div class="textwidget custom-html-widget"><span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91><a itemprop='url' href='https://www.linkedin.com/company/{{ site.linkedin }}' target='_blank' rel="noopener noreferrer"><i class="qode_icon_font_awesome fa fa-linkedin  simple_social" style="color: #012132;margin: 0 5px 0 0;font-size: 14px;" ></i></a></span><span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91><!--<a itemprop='url' href='https://twitter.com/{{ site.twitter }}?lang=en' target='_blank' rel="noopener noreferrer"><i class="qode_icon_font_awesome fa fa-twitter  simple_social" style="color: #012132;margin: 0 5px 0 0;font-size: 14px;" ></i></a>--></span></div>
    </div>
    <div id="custom_html-16" class="widget_text widget widget_custom_html posts_holder">
       <div class="textwidget custom-html-widget">
          <img class="alignnone size-medium wp-image-2412 lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 109'%3E%3C/svg%3E" alt="" width="300" height="109" data-src="/assets/uploads/2019/02/INCIBE-y-Fondos-FEDER-300x109.png" loading="lazy" />
          <noscript><img class="alignnone size-medium wp-image-2412" src="/assets/uploads/2019/02/INCIBE-y-Fondos-FEDER-300x109.png" alt="" width="300" height="109" /></noscript>
       </div>
    </div>
 </section>
 <div class="wrapper">
 <div class="wrapper_inner">
 <!-- Google Analytics start -->
 <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-144683878-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
 </script>
 <!-- Google Analytics end -->
 <header class="has_top scroll_top  stick transparent scrolled_not_transparent page_header">
    <div class="header_inner clearfix">
       <div class="header_top_bottom_holder">
          <div class="header_top clearfix" style='background-color:rgba(255, 255, 255, 0);' >
             <div class="left">
                <div class="inner">
                </div>
             </div>
             <div class="right">
                <div class="inner">
                   <div class="header-widget widget_nav_menu header-right-widget">
                      <div class="menu-top-header-container">
                         <ul id="menu-top-header" class="menu">
                            <li><a href="/experienced-a-breach/">Experienced a breach?</a></li>
                            <li class="website-language"><a href="/es/">ES</a> <a href="/">EN</a>
                         </ul>
                      </div>
                   </div>
                   <div class="widget_text header-widget widget_custom_html header-right-widget">
                      <div class="textwidget custom-html-widget"><span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91>
                      <a itemprop='url' href='https://www.linkedin.com/company/{{ site.linkedin }}/' target='_blank' rel="noopener noreferrer">
                      <i class="qode_icon_font_awesome fa fa-linkedin  simple_social" style="color: #012132;margin: 0 20px 0 0;font-size: 14px;" ></i></a></span>
                      <span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91><!--<a itemprop='url' href='https://twitter.com/{{ site.twitter }}?lang=en' target='_blank' rel="noopener noreferrer"><i class="qode_icon_font_awesome fa fa-twitter  simple_social" style="color: #012132;margin: 0 20px 0 0;font-size: 14px;" ></i></a>--></span>
                      <span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91>
                      <a itemprop='url' href="https://www.youtube.com/@puffinsecurity" target='_blank' rel="noopener noreferrer">
                      <i class="qode_icon_font_awesome fa fa-youtube-play simple_social" style="color: #012132;margin: 0 20px 0 0;font-size: 14px;" aria-hidden="true"></i>
                      </a>
                      </span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="header_bottom clearfix" style=' background-color: rgba(0, 0, 0, .2) !important;' >
             <div class="header_inner_left">
                <div class="mobile_menu_button">
                   <span>
                   <i class="qode_icon_font_awesome fa fa-bars" ></i>		</span>
                </div>
                <div class="logo_wrapper" >
                   <div class="q_logo">
                      <a itemprop="url" href="/" >
                         <img itemprop="image" id="puff-logo" class="normal puff-logo lazyload" style ="display: block !important;" src="/assets/uploads/2023/01/logo-pufoon.png" alt="Logo" data-src="/assets/uploads/2023/01/logo-pufoon.png" loading="lazy" />
                      </a>
                   </div>
                </div>
             </div>
             <div class="header_inner_right">
                <div class="side_menu_button_wrapper right">
                   <div class="header_bottom_right_widget_holder">
                      <div class="widget_text header_bottom_widget widget_custom_html">
                         <div class="textwidget custom-html-widget"><a itemprop="url" href="https://hub.puffinsecurity.com/quote" target="_blank" class="qbutton  default" style="" rel="noopener noreferrer">Request a Quote</a></div>
                      </div>
                   </div>
                   <div class="side_menu_button">
                      <a class="side_menu_button_link normal" href="javascript:void(0)">
                      <i class="qodef-icon-dripicons dripicon dripicons-view-apps" ></i>	</a>
                   </div>
                </div>
             </div>
             <nav class="main_menu drop_down right">
                <ul id="menu-main" class="">

                   <li id="nav-menu-item-1997" class="{% if page.active == 'home' %} current-menu-item current_page_item active {% else %} narrow {% endif %}"><a href="/" class=""><i class="menu_icon blank fa"></i><span>Home<span class="underline_dash"></span></span><span class="plus"></span></a></li>
                   <li id="nav-menu-item-1998" class="{% if page.active == 'why-puffin' %} current-menu-item current_page_item active {% else %} narrow {% endif %}"><a href="/why-puffin/"><i class="menu_icon blank fa"></i><span>Why Puffin<span class="underline_dash"></span></span><span class="plus"></span></a></li>
                   <li id="nav-menu-item-1999" class="has_sub wide right_position {% if page.active == 'services' %} active {% endif %}">
                      <a href="/cybersecurity-services/" class=""><i class="menu_icon blank fa"></i><span>Cybersecurity Services<span class="underline_dash"></span></span><span class="plus"></span></a>
                      <div class="second">
                         <div class="inner">
                            <ul>
                               <li id="nav-menu-item-2160" class="sub">
                                  <a href="#" class="no_link" style="cursor: default;" onclick="JavaScript: return false;"><i class="menu_icon blank fa"></i><span>TYPES OF AUDIT</span><span class="plus"></span><i class="q_menu_arrow fa fa-angle-right"></i></a>
                                  <ul>
                                     <li id="nav-menu-item-2279" class=""><a href="/cybersecurity-audit-assesment/internet-of-things/" class=""><i class="menu_icon blank fa"></i><span>IoT audit</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2164" class=""><a href="/cybersecurity-audit-assesment/wifi-wireless-networks/" class=""><i class="menu_icon blank fa"></i><span>Wi-Fi audit</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2163" class=""><a href="/cybersecurity-audit-assesment/web-app/" class=""><i class="menu_icon blank fa"></i><span>Web app audit</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2162" class=""><a href="/cybersecurity-audit-assesment/mobile-app/" class=""><i class="menu_icon blank fa"></i><span>Mobile app audit</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2161" class=""><a href="/cybersecurity-audit-assesment/source-code/" class=""><i class="menu_icon blank fa"></i><span>Source Code audit</span><span class="plus"></span></a></li>
                                  </ul>
                               </li>
                               <li id="nav-menu-item-2165" class="sub">
                                  <a href="#" class="no_link" style="cursor: default;" onclick="JavaScript: return false;"><i class="menu_icon blank fa"></i><span>SERVICES</span><span class="plus"></span><i class="q_menu_arrow fa fa-angle-right"></i></a>
                                  <ul>
                                     <li id="nav-menu-item-2166" class=""><a href="/cybersecurity-services/" class=""><i class="menu_icon blank fa"></i><span>Security services</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2000" class=""><a href="/cybersecurity-audit-assesment/" class=""><i class="menu_icon blank fa"></i><span>Cyber security audit</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2002" class=""><a href="/adversarial-security-testing-red-team/" class=""><i class="menu_icon blank fa"></i><span>Red Team testing</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2001" class=""><a href="/mdr/" class=""><i class="menu_icon blank fa"></i><span>MDR</span><span class="plus"></span></a></li>
                                  </ul>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </li>
                   <li id="nav-menu-item-1453" class="has_sub {% if page.active == 'about' %} active {% else %} narrow {% endif %}">
                      <a href="/cybersecurity-experts/" class=""><i class="menu_icon blank fa"></i><span>About us<span class="underline_dash"></span></span><span class="plus"></span></a>
                      <div class="second">
                         <div class="inner">
                            <ul>
                               <li id="nav-menu-item-120" class=""><a href="/cybersecurity-experts/" class=""><i class="menu_icon blank fa"></i><span>Company</span><span class="plus"></span></a></li>
                               <li id="nav-menu-item-1454" class=""><a href="/our-customers/" class=""><i class="menu_icon blank fa"></i><span>Our customers</span><span class="plus"></span></a></li>
                               <li id="nav-menu-item-1576" class=""><a href="/partnership/" class=""><i class="menu_icon blank fa"></i><span>Partnership</span><span class="plus"></span></a></li>
                            </ul>
                         </div>
                      </div>
                   </li>
                   <li id="nav-menu-item-3010" class="{% if page.active == 'blog' %} current-menu-item current_page_item active {% else %} narrow {% endif %}"><a href="/cyber-security-blog/blog" class=""><i class="menu_icon blank fa"></i><span>Blog<span class="underline_dash"></span></span><span class="plus"></span></a></li>
                </ul>
             </nav>
             <nav class="mobile_menu">
                <ul id="menu-mobile" class="">
                   <li id="mobile-menu-item-2182" class=""><a href="/" class=""><span>Home</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                   <li id="mobile-menu-item-1590" class="current-menu-item current_page_item  active"><a href="/why-puffin/" class="current"><span>Why Puffin</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                   <li id="mobile-menu-item-1588" class="has_sub">
                      <a href="/cybersecurity-services/" class=""><span>Cybersecurity Services</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                      <ul class="sub_menu">
                         <li id="mobile-menu-item-2171" class=""><a href="/cybersecurity-services/" class=""><span>Cybersecurity Services</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                         <li id="mobile-menu-item-1582" class="has_sub">
                            <a href="/cybersecurity-audit-assesment/" class=""><span>Audit &#038;assessment</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                            <ul class="sub_menu">
                               <li id="mobile-menu-item-2519" class=""><a href="/cybersecurity-audit-assesment/internet-of-things/" class=""><span>Internet of Things</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                               <li id="mobile-menu-item-2170" class=""><a href="/cybersecurity-audit-assesment/wifi-wireless-networks/" class=""><span>Wi-Fi Networks</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                               <li id="mobile-menu-item-2169" class=""><a href="/cybersecurity-audit-assesment/web-app/" class=""><span>Web application</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                               <li id="mobile-menu-item-2168" class=""><a href="/cybersecurity-audit-assesment/mobile-app/" class=""><span>Mobile application</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                               <li id="mobile-menu-item-2167" class=""><a href="/cybersecurity-audit-assesment/source-code/" class=""><span>Source Code</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                            </ul>
                         </li>
                         <li id="mobile-menu-item-1581" class=""><a href="/adversarial-security-testing-red-team/" class=""><span>Red Team services</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                         <li id="mobile-menu-item-1580" class=""><a href="/mdr/" class=""><span>MDR</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                      </ul>
                   </li>
                   <li id="mobile-menu-item-1593" class="has_sub">
                      <a href="/cybersecurity-experts/" class=""><span>About us</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                      <ul class="sub_menu">
                         <li id="mobile-menu-item-1591" class=""><a href="/cybersecurity-experts/" class=""><span>Cybersecurity experts</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                         <li id="mobile-menu-item-1578" class=""><a href="/partnership/" class=""><span>Partnership</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                         <li id="mobile-menu-item-1579" class=""><a href="/our-customers/" class=""><span>Our customers</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                      </ul>
                   </li>
                   <li id="mobile-menu-item-1587" class=""><a href="/cyber-security-blog/blog" class=""><span>Blog</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                   <li id="mobile-menu-item-1589" class=""><a href="/contact-us/" class=""><span>Contact us</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                   <li id="mobile-menu-item-1586" class=""><a href="/experienced-a-breach/" class=""><span>Experienced a breach?</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                </ul>
             </nav>
          </div>
       </div>
    </div>
 </header>
