{% include es/head.liquid %}
{% include es/header.liquid %}

<a id="back_to_top" href="#">
	<span class="fa-stack">
	<i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
	</a>
	<div class="content content_top_margin_none">
	   <div class="content_inner">
		  <div class="full_width">
			 <div class="full_width_inner" >
				<section      data-speed="1" class="parallax_section_holder   lazyload" style = " height:px; " data-bg="/assets/uploads/2019/01/about-us-1.jpg">
				   <div class="parallax_content_full_width left" >
					  <div class='parallax_section_inner_margin clearfix'>
						 <div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner vc_custom_1550492634670">
							   <div class="wpb_wrapper">
								  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1546398432501 grid_section" style=' text-align:left;'>
									 <div class="section_inner clearfix">
										<div class='section_inner_margin clearfix'>
										   <div class="wpb_column vc_column_container vc_col-sm-8">
											  <div class="vc_column-inner">
												 <div class="wpb_wrapper">
													<div class="wpb_text_column wpb_content_element">
													   <div class="wpb_wrapper">
														  <p><strong><span style="color: #ffffff;">SERVICIOS DE CIBERSEGURIDAD</span></strong></p>
													   </div>
													</div>
													<div class="wpb_text_column wpb_content_element">
													   <div class="wpb_wrapper">
														  <h1><span style="color: #ffffff;">Expertos en<br />
															 ciberseguridad</span>
														  </h1>
													   </div>
													</div>
													<div class="vc_empty_space"  style="height: 32px" ><span
													   class="vc_empty_space_inner">
													   <span class="empty_space_image"  ></span>
													   </span>
													</div>
													<div class="wpb_text_column wpb_content_element">
													   <div class="wpb_wrapper">
														  <h4 style="text-align: left;"><span style="color: #ffffff;">En Puffin Security nuestros consultores participan activamente en eventos nacionales e internacionales y también publicando vulnerabilidades en formato CVE</span></h4>
													   </div>
													</div>
												 </div>
											  </div>
										   </div>
										</div>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</section>
				<div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
				   <div class="section_inner clearfix">
					  <div class='section_inner_margin clearfix'>
						 <div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner vc_custom_1548357181630">
							   <div class="wpb_wrapper">
								  <div class='q_elements_holder three_columns responsive_mode_from_768' >
									 <div class='q_elements_item' data-animation='no' style='background-color:#ffffff;background-image: url();background-position: center;background-size: cover;'>
										<div class='q_elements_item_inner'>
										   <div class='q_elements_item_content q_elements_holder_custom_896997' style='padding:22% 12%'>
											  <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_896997{ padding: 17% 15% !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_896997{ padding: 19% 25% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_896997{ padding: 17% 16% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_896997{ padding: 16% 8% !important;}}</style>
											  <div class="wpb_text_column wpb_content_element">
												 <div class="wpb_wrapper">
													<h5><span style="color: #ff4242;">Atención al cliente</span></h5>
												 </div>
											  </div>
											  <div class="vc_empty_space"  style="height: 12px" ><span
												 class="vc_empty_space_inner">
												 <span class="empty_space_image"  ></span>
												 </span>
											  </div>
											  <div class="wpb_text_column wpb_content_element">
												 <div class="wpb_wrapper">
													<p>Nuestro compromiso con la excelencia hace que nuestros clientes sigan confiando en nosotros.</p>
												 </div>
											  </div>
											  <div class="vc_empty_space"  style="height: 14px" ><span
												 class="vc_empty_space_inner">
												 <span class="empty_space_image"  ></span>
												 </span>
											  </div>
										   </div>
										</div>
									 </div>
									 <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/01/cybersecurity-Auditing-940.jpg">
										<div class='q_elements_item_inner'>
										   <div class='q_elements_item_content q_elements_holder_custom_426272'>
											  <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_426272{ padding: 30% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_426272{ padding: 35% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_426272{ padding: 37% !important;}}</style>
										   </div>
										</div>
									 </div>
									 <div class='q_elements_item' data-animation='no' style='background-color:#ffffff;'>
										<div class='q_elements_item_inner'>
										   <div class='q_elements_item_content q_elements_holder_custom_941067' style='padding:22% 12%'>
											  <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_941067{ padding: 17% 15% !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_941067{ padding: 19% 25% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_941067{ padding: 17% 16% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_941067{ padding: 16% 8% !important;}}</style>
											  <div class="wpb_text_column wpb_content_element">
												 <div class="wpb_wrapper">
													<h5><span style="color: #ff4242;">Agilidad + eficiencia</span></h5>
												 </div>
											  </div>
											  <div class="vc_empty_space"  style="height: 12px" ><span
												 class="vc_empty_space_inner">
												 <span class="empty_space_image"  ></span>
												 </span>
											  </div>
											  <div class="wpb_text_column wpb_content_element">
												 <div class="wpb_wrapper">
													<p>Analizamos su caso en profundidad, diseñamos la mejor estrategia y la ejecutamos de forma eficiente.</p>
												 </div>
											  </div>
											  <div class="vc_empty_space"  style="height: 14px" ><span
												 class="vc_empty_space_inner">
												 <span class="empty_space_image"  ></span>
												 </span>
											  </div>
										   </div>
										</div>
									 </div>
								  </div>
								  <div class='q_elements_holder three_columns responsive_mode_from_768' >
									 <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/01/cybersecurity-outsourcing-services-940.jpg">
										<div class='q_elements_item_inner'>
										   <div class='q_elements_item_content q_elements_holder_custom_800736'>
											  <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_800736{ padding: 30% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_800736{ padding: 35% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_800736{ padding: 37% !important;}}</style>
										   </div>
										</div>
									 </div>
									 <div class='q_elements_item' data-animation='no' style='background-color:#f7f7f7;background-image: url();background-position: center;background-size: cover;'>
										<div class='q_elements_item_inner'>
										   <div class='q_elements_item_content q_elements_holder_custom_427261' style='padding:18% 12%'>
											  <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_427261{ padding: 17% 15% !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_427261{ padding: 19% 25% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_427261{ padding: 17% 16% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_427261{ padding: 16% 8% !important;}}</style>
											  <div class="wpb_text_column wpb_content_element">
												 <div class="wpb_wrapper">
													<h5><span style="color: #ff4242;">A medida y asequible</span></h5>
												 </div>
											  </div>
											  <div class="vc_empty_space"  style="height: 12px" ><span
												 class="vc_empty_space_inner">
												 <span class="empty_space_image"  ></span>
												 </span>
											  </div>
											  <div class="wpb_text_column wpb_content_element">
												 <div class="wpb_wrapper">
													<p>Nos adaptamos a las necesidades su compañía ofreciendo un servicio a medida. Combinamos talento con experiencia al mejor precio.</p>
												 </div>
											  </div>
											  <div class="vc_empty_space"  style="height: 14px" ><span
												 class="vc_empty_space_inner">
												 <span class="empty_space_image"  ></span>
												 </span>
											  </div>
										   </div>
										</div>
									 </div>
									 <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/01/cybersecurity-assesment-commpliance-940.jpg">
										<div class='q_elements_item_inner'>
										   <div class='q_elements_item_content q_elements_holder_custom_690345'>
											  <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_690345{ padding: 30% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_690345{ padding: 35% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_690345{ padding: 37% !important;}}</style>
										   </div>
										</div>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
				<div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549541154932 grid_section" style=' text-align:left;'>
				   <div class="section_inner clearfix">
					  <div class='section_inner_margin clearfix'>
						 <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-12">
							<div class="vc_column-inner vc_custom_1549445021853">
							   <div class="wpb_wrapper"></div>
							</div>
						 </div>
						 <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-lg-8 vc_col-md-8 vc_col-xs-12">
							<div class="vc_column-inner vc_custom_1550492579071">
							   <div class="wpb_wrapper">
								  <div class="wpb_text_column wpb_content_element">
									 <div class="wpb_wrapper">
										<h3 style="text-align: center;">De la estrategia a la implementación</h3>
									 </div>
								  </div>
								  <div class="separator  small center" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff7f00;height: 1px;width: 50px;"></div>
								  <div class="wpb_text_column wpb_content_element">
									 <div class="wpb_wrapper">
										<h4 style="text-align: center;">Gracias a la experiencia de nuestros expertos mejoraremos las capacidades de seguridad de tu compañía solventando brechas cruciales y proporcionando información del mundo real sobre las amenazas y su impacto en las operaciones de seguridad.</h4>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="wpb_column vc_column_container vc_col-sm-2">
							<div class="vc_column-inner">
							   <div class="wpb_wrapper"></div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
				<div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549541077594 grid_section" style=' text-align:left;'>
				   <div class="section_inner clearfix">
					  <div class='section_inner_margin clearfix'>
						 <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7 vc_col-md-7 vc_col-xs-12">
							<div class="vc_column-inner vc_custom_1546395625301">
							   <div class="wpb_wrapper">
								  <div class="wpb_single_image wpb_content_element vc_align_center">
									 <div class="wpb_wrapper">
										<div class="vc_single_image-wrapper   vc_box_border_grey">
										   <img width="1288" height="924" src="/assets/ewww/lazy/placeholder-1288x924.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/Puffin-cibersecurity-services-about-us.jpg" data-srcset="/assets/uploads/2019/01/Puffin-cibersecurity-services-about-us.jpg 1288w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-300x215.jpg 300w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-768x551.jpg 768w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-1024x735.jpg 1024w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-700x502.jpg 700w" data-sizes="auto" loading="lazy" />
										   <noscript><img width="1288" height="924" src="/assets/uploads/2019/01/Puffin-cibersecurity-services-about-us.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/Puffin-cibersecurity-services-about-us.jpg 1288w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-300x215.jpg 300w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-768x551.jpg 768w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-1024x735.jpg 1024w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-700x502.jpg 700w" sizes="(max-width: 1288px) 100vw, 1288px" /></noscript>
										</div>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_col-md-5 vc_col-xs-12">
							<div class="vc_column-inner vc_custom_1550492587806">
							   <div class="wpb_wrapper">
								  <div class="wpb_text_column wpb_content_element">
									 <div class="wpb_wrapper">
										<h2>Mejorando tu estrategia de <strong><span style="color: #ff6600;">ciberseguridad</span></strong></h2>
									 </div>
								  </div>
								  <div class="separator  small left" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff7f00;height: 1px;width: 50px;"></div>
								  <div class="wpb_text_column wpb_content_element">
									 <div class="wpb_wrapper">
										<p>Puffin Security ha estado proporcionando <a href="/es/servicios-de-ciberseguridad/">servicios de ciberseguridad</a> con éxito desde hace más de 8 años. Hemos trabajado a nivel internacional en diferentes países y en todo tipo de industrias para proteger los activos más importantes de <a href="/es/nuestros-clientes/">nuestros clientes</a>.</p>
									 </div>
								  </div>
								  <div class="vc_empty_space"  style="height: 40px" ><span
									 class="vc_empty_space_inner">
									 <span class="empty_space_image"  ></span>
									 </span>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
				<div      class="vc_row wpb_row section vc_row-fluid  qode-row-with-bg vc_custom_1549541221609" style=' text-align:left;'>
				   <div class="full_section_inner clearfix">
					  <div class="wpb_column vc_column_container vc_col-sm-12">
						 <div class="vc_column-inner">
							<div class="wpb_wrapper">
							   <div      class="vc_row wpb_row section vc_row-fluid vc_inner  grid_section disable_negative_margin" style=' text-align:center;'>
								  <div class="section_inner clearfix">
									 <div class='section_inner_margin clearfix'>
										<div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
										   <div class="vc_column-inner vc_custom_1549541723228">
											  <div class="wpb_wrapper"><a  itemprop="url" href="/es/contacto" target="_blank" data-hover-background-color=#ff6600 data-hover-border-color=#4c8dff data-hover-color=#ffffff class="qbutton  big_large_full_width enlarge" style="color: #ffffff; border-color: #4c8dff; border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px; background-color: #ff6600;">CONOCE AHORA NUESTROS SERVICIOS</a></div>
										   </div>
										</div>
									 </div>
								  </div>
							   </div>
							   <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1549541821787 grid_section" style=' text-align:left;'>
								  <div class="section_inner clearfix">
									 <div class='section_inner_margin clearfix'>
										<div class="wpb_column vc_column_container vc_col-sm-2">
										   <div class="vc_column-inner">
											  <div class="wpb_wrapper"></div>
										   </div>
										</div>
										<div class="wpb_column vc_column_container vc_col-sm-8">
										   <div class="vc_column-inner vc_custom_1550492600029">
											  <div class="wpb_wrapper">
												 <div class="wpb_text_column wpb_content_element">
													<div class="wpb_wrapper">
													   <h2 style="text-align: center;"><span style="color: #ffffff;">Nuestros</span> <span style="color: #ff6600;">valores</span></h2>
													</div>
												 </div>
												 <div class="separator  small center" style="margin-top: 25px;margin-bottom: 50px;background-color: #ff6600;height: 1px;width: 50px;"></div>
												 <div class='q_icon_with_title small custom_icon_image'>
													<div class="icon_holder" style=" ">
													   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
													   <noscript>
														  <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
														  <noscript>
															 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
															 <noscript>
																<img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
																<noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
															 </noscript>
														  </noscript>
													   </noscript>
													</div>
													<div class="icon_text_holder" style="">
													   <div class="icon_text_inner" style="">
														  <h4 class="icon_title" style="color: #ffffff;">OFRECER UNA EXPERIENCIA INMEJORABLE</h4>
														  <p style='color: #d4d1d1'>Nos esforzamos en entender las necesidades de nuestros clientes y mantenemos una comunicación estrecha durante todo el proceso.</p>
													   </div>
													</div>
												 </div>
												 <div class='q_icon_with_title small custom_icon_image'>
													<div class="icon_holder" style=" ">
													   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
													   <noscript>
														  <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
														  <noscript>
															 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
															 <noscript>
																<img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
																<noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
															 </noscript>
														  </noscript>
													   </noscript>
													</div>
													<div class="icon_text_holder" style="">
													   <div class="icon_text_inner" style="">
														  <h4 class="icon_title" style="color: #ffffff;">FUERTE COMPROMISO CON LO QUE HACEMOS</h4>
														  <p style='color: #d4d1d1'>Siempre damos lo mejor de nosotros para hacer el trabajo lo mejor posible y superar las expectativas.</p>
													   </div>
													</div>
												 </div>
												 <div class="vc_empty_space"  style="height: 15px" ><span
													class="vc_empty_space_inner">
													<span class="empty_space_image"  ></span>
													</span>
												 </div>
												 <div class='q_icon_with_title small custom_icon_image'>
													<div class="icon_holder" style=" ">
													   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
													   <noscript>
														  <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
														  <noscript>
															 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
															 <noscript>
																<img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
																<noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
															 </noscript>
														  </noscript>
													   </noscript>
													</div>
													<div class="icon_text_holder" style="">
													   <div class="icon_text_inner" style="">
														  <h4 class="icon_title" style="color: #ffffff;">HONESTIDAD</h4>
														  <p style='color: #d4d1d1'>Somos respetuosos con las opiniones de nuestros clientes, pero nos gusta decir todo aquello que podría mejorar el resultado final.</p>
													   </div>
													</div>
												 </div>
												 <div class="vc_empty_space"  style="height: 15px" ><span
													class="vc_empty_space_inner">
													<span class="empty_space_image"  ></span>
													</span>
												 </div>
												 <div class='q_icon_with_title small custom_icon_image'>
													<div class="icon_holder" style=" ">
													   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
													   <noscript>
														  <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
														  <noscript>
															 <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
															 <noscript>
																<img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
																<noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
															 </noscript>
														  </noscript>
													   </noscript>
													</div>
													<div class="icon_text_holder" style="">
													   <div class="icon_text_inner" style="">
														  <h4 class="icon_title" style="color: #ffffff;">MEJORA CONTINUA</h4>
														  <p style='color: #d4d1d1'>La tecnología evoluciona cada día, por lo que nos preocupamos de estar muy informados para mejorar nuestra metodología día a día.</p>
													   </div>
													</div>
												 </div>
												 <div class="vc_empty_space"  style="height: 90px" ><span
													class="vc_empty_space_inner">
													<span class="empty_space_image"  ></span>
													</span>
												 </div>
											  </div>
										   </div>
										</div>
										<div class="wpb_column vc_column_container vc_col-sm-2">
										   <div class="vc_column-inner">
											  <div class="wpb_wrapper"></div>
										   </div>
										</div>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
				<div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549541118256 grid_section" style=' text-align:left;'>
				   <div class="section_inner clearfix">
					  <div class='section_inner_margin clearfix'>
						 <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_col-md-5 vc_col-xs-12">
							<div class="vc_column-inner vc_custom_1550492610299">
							   <div class="wpb_wrapper">
								  <div class="wpb_text_column wpb_content_element">
									 <div class="wpb_wrapper">
										<h2><b>Priorizar controles y mitigar riesgos</b></h2>
									 </div>
								  </div>
								  <div class="separator  small left" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff7f00;height: 1px;width: 50px;"></div>
								  <div class="wpb_text_column wpb_content_element">
									 <div class="wpb_wrapper">
										<p>Puffin Security ha estado proporcionando <a href="/es/servicios-de-ciberseguridad/">servicios de seguridad</a> con éxito desde hace más de 8 años. Hemos trabajado a nivel internacional en diferentes países y en todo tipo de industrias para proteger los activos más importantes de nuestros clientes.</p>
									 </div>
								  </div>
								  <div class="vc_empty_space"  style="height: 40px" ><span
									 class="vc_empty_space_inner">
									 <span class="empty_space_image"  ></span>
									 </span>
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7 vc_col-md-7 vc_col-xs-12">
							<div class="vc_column-inner vc_custom_1546395625301">
							   <div class="wpb_wrapper">
								  <div class="wpb_single_image wpb_content_element vc_align_center">
									 <div class="wpb_wrapper">
										<div class="vc_single_image-wrapper   vc_box_border_grey">
										   <img width="1196" height="672" src="/assets/ewww/lazy/placeholder-1196x672.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg" data-srcset="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg 1196w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-300x169.jpg 300w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-768x432.jpg 768w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-1024x575.jpg 1024w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-700x393.jpg 700w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-539x303.jpg 539w" data-sizes="auto" loading="lazy" />
										   <noscript><img width="1196" height="672" src="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg 1196w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-300x169.jpg 300w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-768x432.jpg 768w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-1024x575.jpg 1024w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-700x393.jpg 700w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-539x303.jpg 539w" sizes="(max-width: 1196px) 100vw, 1196px" /></noscript>
										</div>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
				<div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546398314217 grid_section" style=' text-align:left;'>
				   <div class="section_inner clearfix">
					  <div class='section_inner_margin clearfix'>
						 <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
							<div class="vc_column-inner">
							   <div class="wpb_wrapper">
								  <div class="q_counter_holder  center" style="">
									 <span class="counter  zero" style="color: #d4d4d4;font-size: 70px;font-weight: 700;">8</span>
									 <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Años auditando compañías</p>
								  </div>
								  <div class="vc_empty_space"  style="height: 30px" ><span
									 class="vc_empty_space_inner">
									 <span class="empty_space_image"  ></span>
									 </span>
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
							<div class="vc_column-inner">
							   <div class="wpb_wrapper">
								  <div class="q_counter_holder  center" style="">
									 <span class="counter  zero" style="color: #d4d4d4;font-size: 70px;font-weight: 700;">100428</span>
									 <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Brechas de seguridad prevenidas</p>
								  </div>
								  <div class="vc_empty_space"  style="height: 30px" ><span
									 class="vc_empty_space_inner">
									 <span class="empty_space_image"  ></span>
									 </span>
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
							<div class="vc_column-inner">
							   <div class="wpb_wrapper">
								  <div class="q_counter_holder  center" style="">
									 <span class="counter  zero" style="color: #d4d4d4;font-size: 70px;font-weight: 700;">12</span>
									 <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Países en los que hemos trabajado</p>
								  </div>
								  <div class="vc_empty_space"  style="height: 30px" ><span
									 class="vc_empty_space_inner">
									 <span class="empty_space_image"  ></span>
									 </span>
								  </div>
							   </div>
							</div>
						 </div>
						 <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
							<div class="vc_column-inner">
							   <div class="wpb_wrapper">
								  <div class="q_counter_holder  center" style="">
									 <span class="counter  zero" style="color: #d4d4d4;font-size: 70px;font-weight: 700;">538</span>
									 <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Compañías con las que hemos trabajado</p>
								  </div>
								  <div class="vc_empty_space"  style="height: 30px" ><span
									 class="vc_empty_space_inner">
									 <span class="empty_space_image"  ></span>
									 </span>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
				<section      data-speed="1" class="parallax_section_holder" style = " height:px; background-image:url('');">
				   <div class="parallax_content center">
					  <div class='parallax_section_inner_margin clearfix'>
						 <div class="wpb_column vc_column_container vc_col-sm-12">
							<div class="vc_column-inner">
							   <div class="wpb_wrapper">
								  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
									 <div class="full_section_inner clearfix">
										<div class="wpb_column vc_column_container vc_col-sm-2">
										   <div class="vc_column-inner">
											  <div class="wpb_wrapper"></div>
										   </div>
										</div>
										<div class="wpb_column vc_column_container vc_col-sm-8">
										   <div class="vc_column-inner">
											  <div class="wpb_wrapper">
												 <div class="wpb_text_column wpb_content_element">
													<div class="wpb_wrapper">
													   <h2 style="text-align: center;"><span style="color: #333333;">Lo que dicen nuestros clientes</span></h2>
													</div>
												 </div>
												 <div class='testimonials_c_holder clearfix'>
													<div class="testimonials_c testimonials_c_carousel" data-show-navigation="no" data-animation-speed="" data-auto-rotate-slides="5" data-number-per-slide="1">
													   <ul class="slides">
														  <li id="testimonials-c-2246" class="testimonial_content">
															 <div class="testimonial_content_inner">
																<div class="testimonial_text_holder">
																   <div class="testimonial_text_inner" style="color: #565656;">
																	  <p style='font-size:24px;color:#565656;'>"Delegar el desafío de la ciberseguridad a una empresa como Puffin Security nos da una gran tranquilidad"</p>
																	  <p class="testimonial_author" style="color: #565656;font-weight: 600;color: #f48a00;font-size: 16px;">CISO International Insurance industry</p>
																   </div>
																</div>
															 </div>
														  </li>
														  <li id="testimonials-c-2247" class="testimonial_content">
															 <div class="testimonial_content_inner">
																<div class="testimonial_text_holder">
																   <div class="testimonial_text_inner" style="color: #565656;">
																	  <p style='font-size:24px;color:#565656;'>"Si tuvieramos que recomendar una compañía de servicios de ciberseguridad, sin ninguna duda sería Puffin Security"</p>
																	  <p class="testimonial_author" style="color: #565656;font-weight: 600;color: #f48a00;font-size: 16px;">Cybersecurity services manager – One of the BIG FOUR</p>
																   </div>
																</div>
															 </div>
														  </li>
													   </ul>
													</div>
												 </div>
											  </div>
										   </div>
										</div>
										<div class="wpb_column vc_column_container vc_col-sm-2">
										   <div class="vc_column-inner">
											  <div class="wpb_wrapper"></div>
										   </div>
										</div>
									 </div>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</section>
				<div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
				   <div class="full_section_inner clearfix">
					  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
						 <div class="vc_column-inner vc_custom_1546390920460">
							<div class="wpb_wrapper">
							   <div class="qode-advanced-call-to-action" style="height:155px">
								  <a class="advanced-cta-link" href="/es/por-que-puffin" target="_self"></a>
								  <div class="qode-advanced-cta-content">		
									 <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px;font-weight:700">
									 ¿Por qué trabajar con nosotros?	    </span>
									 <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
									 <span class="qode-advanced-cta-icon-holder-table">
									 <span class="qode-advanced-cta-icon-holder-cell" >
									 <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
									 </span>
									 </span>
								  </div>
								  <div class="qode-advanced-cta-background-holder">
									 <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
									 <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
									 <span class="qode-advanced-cta-background-3"></span>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
					  <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
						 <div class="vc_column-inner vc_custom_1546440172136">
							<div class="wpb_wrapper">
							   <div class="qode-advanced-call-to-action" style="height:155px">
								  <a class="advanced-cta-link" href="/es/contacto" target="_self"></a>
								  <div class="qode-advanced-cta-content">		
									 <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px;font-weight:700">
									 Conoce AHORA nuestros servicios	    </span>
									 <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
									 <span class="qode-advanced-cta-icon-holder-table">
									 <span class="qode-advanced-cta-icon-holder-cell" >
									 <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
									 </span>
									 </span>
								  </div>
								  <div class="qode-advanced-cta-background-holder">
									 <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
									 <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
									 <span class="qode-advanced-cta-background-3"></span>
								  </div>
							   </div>
							</div>
						 </div>
					  </div>
				   </div>
				</div>
			 </div>
		  </div>
	   </div>
	</div>

{% include es/footer.liquid %}