{% include es/head.liquid %}
{% include es/header.liquid %}

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548890647775 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner vc_custom_1548877141934">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h1><span style="color: #070b26;">MDR</span></h1>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 27px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h4><span style="color: #070b26;">Nuestro servicio <span class="il">MDR</span> dota a tu empresa de tecnología pionera en la detección de ataques de ciberseguridad 24/7 a la vez que pone a tu disposición un equipo profesional de ciberseguridad para resolverlos.</span></h4>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 39px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space"  style="height: 100px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left" >
                                     <div class="wpb_wrapper">
                                        <div class="wpb_video_wrapper"><iframe title="Atacando con Mimikatz | Defendiendo con nuestro  MDR" width="1060" height="596" src="{{ page.youtube1Url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner vc_custom_1548407533332">
                            <div class="wpb_wrapper">
                               <div class="call_to_action normal" style="background-color: #c3c3c3;padding-top: 10px;padding-bottom: 10px;">
                                  <div class="container_inner">
                                     <div class="two_columns_75_25 clearfix">
                                        <div class="text_wrapper column1">
                                           <div class="call_to_action_text" style="">
                                              <h5><span style="color: #000000;">¿HAS SIDO VÍCTIMA DE UN CIBERATAQUE?</span></h5>
                                           </div>
                                        </div>
                                        <div class="button_wrapper column2"><a itemprop="url" href="/es/mdr/victima-ciberataque/" class="qbutton white small" target="_self" style="color: #ffffff;border-color: #dd3333;background-color: #dd3333;">SOLICITA AYUDA</a></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1563779280151 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1548358340228">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;"><b>Nuestro servicio <span class="il">MDR</span> incorpora:</b></h3>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1563538441668">
                               <div class="wpb_wrapper">
                                  <div class="separator  small center  qode-type1-gradient-left-to-right" style=""></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1563780108953 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner vc_custom_1563538441668">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2><span style="color: #993366;">Malware Deception</span></h2>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_283086' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_283086{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_283086{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_283086{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_283086{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: justify;">Nos dimos cuenta que el Malware moderno cada vez es más evasivo. Esto quiere decir que evita ser analizado, evitando que conozcan su comportamiento y por tanto ser controlado. El Malware se analiza en entornos aislados que tienen unas características concretas. Cuando el Malware detecta este tipo de entorno, no se ejecuta.</h5>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_363995' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_363995{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_363995{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_363995{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_363995{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: justify;">Con <strong>Malware Deception</strong> emulamos este entorno evitando que se ejecute, pero además lo atrapamos al registrar todas las llamadas al sistema que realiza el Malware para detectar el entorno.</h5>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space"  style="height: 80px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left" >
                                     <div class="wpb_wrapper">
                                        <div class="wpb_video_wrapper"><iframe width="1060" height="596" src="{{ page.youtube2Url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1563538441668">
                               <div class="wpb_wrapper">
                                  <div class="separator  normal   qode-type1-gradient-left-to-right" style=""></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1563780098663 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1563538441668">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2><span style="color: #008080;">Anti-Ransomware</span></h2>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_707374' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_707374{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_707374{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_707374{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_707374{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: justify;">Los productos de seguridad están agregando continuamente nuevos tipos de tecnologías para detectar y bloquear Malware. Estas podrían incluir tecnologías como el aprendizaje automático, la detección de exploits o el análisis de comportamiento. Pero tan pronto como se introducen estas tecnologías, los atacantes encuentran formas de evitarlos. Nuestra tecnología detiene este ciclo al proteger sus archivos críticos y permitir que cualquier cambio no deseado se revierta.</h5>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_460589' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_460589{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_460589{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_460589{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_460589{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: justify;">Con nuestra solución los efectos del Ransomware siempre se pueden deshacer. Incluso los cambios de Ransomware de día cero o desconocido. La tecnología puede preservar el archivo original sin requerir una copia de seguridad, lo que protege los archivos prácticamente sin actividad de disco adicional.</h5>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1563782837762 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1548358340228">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;"><b>Nuestro servicio <span class="il">MDR</span> dotará a tu empresa de:</b></h3>
                                     </div>
                                  </div>
                                  <div class="separator  small center  qode-type1-gradient-left-to-right" style="margin-top: 20px;margin-bottom: 40px;background-color: #cecece;height: 2px;"></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="1941" height="1052" src="/assets/ewww/lazy/placeholder-1920x1041.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/07/esquema-mdr-castellano.png" data-srcset="/assets/uploads/2019/07/esquema-mdr-castellano.png 1941w, /assets/uploads/2019/07/esquema-mdr-castellano-300x163.png 300w, /assets/uploads/2019/07/esquema-mdr-castellano-768x416.png 768w, /assets/uploads/2019/07/esquema-mdr-castellano-1024x555.png 1024w, /assets/uploads/2019/07/esquema-mdr-castellano-700x379.png 700w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="1941" height="1052" src="/assets/uploads/2019/07/esquema-mdr-castellano.png" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/07/esquema-mdr-castellano.png 1941w, /assets/uploads/2019/07/esquema-mdr-castellano-300x163.png 300w, /assets/uploads/2019/07/esquema-mdr-castellano-768x416.png 768w, /assets/uploads/2019/07/esquema-mdr-castellano-1024x555.png 1024w, /assets/uploads/2019/07/esquema-mdr-castellano-700x379.png 700w" sizes="(max-width: 1941px) 100vw, 1941px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;"><strong>¿Está tu empresa preparada para responder a un incidente?</strong></h3>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff9f1f;height: 1px;width: 50px;"></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-bottom:90pxpx; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1549572540852">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_332945' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_332945{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_332945{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_332945{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_332945{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="vc_empty_space"  style="height: 20px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4 style="text-align: left;">Las empresas pierden de media miles de euros al año por ataques e incidentes de ciberseguridad. El riesgo de sufrir pérdidas por estos ataques aumenta año a año, y la clave para reducirlo es estar preparado para detectarlos lo más rápido posible y responder de forma adecuada cuándo ocurren.</h4>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-bottom:90pxpx; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1549572540852">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="940" height="628" src="/assets/ewww/lazy/placeholder-940x628.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg" data-srcset="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg 940w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-300x200.jpg 300w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-768x513.jpg 768w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-700x468.jpg 700w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="940" height="628" src="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg 940w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-300x200.jpg 300w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-768x513.jpg 768w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-700x468.jpg 700w" sizes="(max-width: 940px) 100vw, 940px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548619706371 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md vc_hidden-sm vc_hidden-xs">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder two_columns responsive_mode_from_768' >
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/01/download-whitepaper-cyber-security.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_694095'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_694095{ padding: 30% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_694095{ padding: 30% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_694095{ padding: 30% !important;}}</style>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item' data-animation='no' style='background-color:#152535;vertical-align:middle;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_406923' style='padding:19.8% 7% 15.5%'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h2><span style="color: #ffffff;">Industry case of study</span></h2>
                                                 </div>
                                              </div>
                                              <div class="separator  small center" style="background-color: #FFFFFF;"></div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p><span style="color: #ffffff;">We help industry sector customers gain an understanding of their cyber security risks and assist them identify business-driven remediation actions</span></p>
                                                 </div>
                                              </div>
                                              <div class="separator  transparent" style="margin-top: 41px;margin-bottom: 0px;height: 0px;"></div>
                                              <a  itemprop="url" href="" target="_self" data-hover-background-color=#191919 data-hover-border-color=#191919  class="qbutton  medium default" style="color: #ffffff; font-style: normal; background-color: #ff8d42;">Download it now</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548619804597" style=' text-align:center;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548622874371" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-2">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper"></div>
                                        </div>
                                     </div>
                                     <div class="wpb_column vc_column_container vc_col-sm-8">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h2 style="text-align: center;"><span style="color: #333333;">Lo que nuestros clientes dicen</span></h2>
                                                 </div>
                                              </div>
                                              <div class='testimonials_c_holder clearfix'>
                                                 <div class="testimonials_c testimonials_c_carousel" data-show-navigation="no" data-animation-speed="" data-auto-rotate-slides="10" data-number-per-slide="1">
                                                    <ul class="slides">
                                                       <li id="testimonials-c-2246" class="testimonial_content">
                                                          <div class="testimonial_content_inner">
                                                             <div class="testimonial_text_holder">
                                                                <div class="testimonial_text_inner" style="color: #565656;">
                                                                   <p style='font-size:20px;color:#565656;'>"Delegar el desafío de la ciberseguridad a una empresa como Puffin Security nos da una gran tranquilidad"</p>
                                                                   <p class="testimonial_author" style="color: #565656;font-weight: 300;color: #f48a00;font-size: 16px;">CISO International Insurance industry</p>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </li>
                                                       <li id="testimonials-c-2247" class="testimonial_content">
                                                          <div class="testimonial_content_inner">
                                                             <div class="testimonial_text_holder">
                                                                <div class="testimonial_text_inner" style="color: #565656;">
                                                                   <p style='font-size:20px;color:#565656;'>"Si tuvieramos que recomendar una compañía de servicios de ciberseguridad, sin ninguna duda sería Puffin Security"</p>
                                                                   <p class="testimonial_author" style="color: #565656;font-weight: 300;color: #f48a00;font-size: 16px;">Cybersecurity services manager – One of the BIG FOUR</p>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </li>
                                                    </ul>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="wpb_column vc_column_container vc_col-sm-2">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper"></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548543627640 grid_section" style=' padding-top:300px; padding-bottom:117px; text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;"><span style="color: #ffffff;">Solo en España se han producido más de 120.000 incidentes de ciberseguridad durante el año pasado</span></h2>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1548624315836 grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element">
                                           <div class="wpb_wrapper">
                                              <h4 style="text-align: center;">En Puffin Security profundizamos en la seguridad de tu organización más allá de la tecnología, considerando estructuras, procesos y personas, anlizando la ciberseguridad dentro del contexto y las necesidades de tu industria.</h4>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="separator  transparent" style="margin-top: 30px;margin-bottom: 8px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Otros servicios relacionados</h3>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548624326017 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548624270221 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" data-src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">CONSULTORÍA</h5>
                                                       <div class="wpb_text_column wpb_content_element">
                                                          <div class="wpb_wrapper">
                                                             <p style="text-align: center;">Auditoría &amp; Asesoría</p>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/auditorias-de-ciberseguridad/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548624276617 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" data-src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">RED TEAM</h5>
                                                       <div class="wpb_text_column wpb_content_element">
                                                          <div class="wpb_wrapper">
                                                             <p style="text-align: center;">Emulación de adversarios</p>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/servicios-de-red-team/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548624283430 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" data-src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5>SEGURIDAD PROACTIVA</h5>
                                                       <div class="wpb_text_column wpb_content_element">
                                                          <div class="wpb_wrapper">
                                                             <p>Mejora tu ciberseguridad</p>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/contacto" target="_self"  class="qbutton  white default  qode-button-shadow" style="">Contacto</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548545321638" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="qode-advanced-call-to-action" style="height:140px">
                                  <a class="advanced-cta-link" href="/es/victima-ciberataque/" target="_self"></a>
                                  <div class="qode-advanced-cta-content">		
                                     <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px">
                                     ¿Has sido víctima de un ciberataque?	    </span>
                                     <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                     <span class="qode-advanced-cta-icon-holder-table">
                                     <span class="qode-advanced-cta-icon-holder-cell" >
                                     <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                     </span>
                                     </span>
                                  </div>
                                  <div class="qode-advanced-cta-background-holder">
                                     <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-3"></span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

{% include es/footer.liquid %}