{% include es/head.liquid %}
{% include es/header.liquid %}

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549557982946 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1550499658933">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h1 class="home-h" style="margin-top:100px"><span style="color: #ffffff;">¿Qué opinan<br />
                                                          nuestros clientes?</span>
                                                       </h1>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 27px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h4><span style="color: #ffffff;">Sabemos de ciberseguridad, por lo que nos enfocamos en brindar una excelente experiencia al cliente y la mejor calidad para mantener a su empresa más segura</span></h4>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 39px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549537109543" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-8">
                         <div class="vc_column-inner vc_custom_1550499671896">
                            <div class="wpb_wrapper">
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h3 style="text-align: center;"><strong>El 100% de nuestros clientes quedan satisfechos con nuestros servicios de ciberseguridad. Todos ellos nos recomendarían.</strong></h3>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549538979762 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-8 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_left">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="940" height="628" src="/assets/ewww/lazy/placeholder-940x628.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg" data-srcset="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg 940w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-300x200.jpg 300w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-768x513.jpg 768w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-700x468.jpg 700w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="940" height="628" src="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg 940w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-300x200.jpg 300w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-768x513.jpg 768w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-700x468.jpg 700w" sizes="(max-width: 940px) 100vw, 940px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 50px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1550499678457">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>ENFOQUE INTERNACIONAL</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 10px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3>¿Con quien<br />
                                           <span style="color: #ff6600;">trabajamos?</span>
                                        </h3>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 35px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p><strong>Grandes consultoras (Big Four)</strong></p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 4px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Actualmente trabajamos para las grandes firmas internacionales de consultoría.</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 10px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p><strong>Grandes y medianas empresas</strong></p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 4px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Trabajamos para empresas de dimensiones y responsabilidades importantes; bancos, aseguradoras, compañías energéticas.</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 10px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p><strong>Startups y PYMES</strong></p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 4px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>En Puffin Security también ofrecemos servicios a empresas más pequeñas adaptándonos a sus necesidades.</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder two_columns responsive_mode_from_768' >
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/02/Testimonial-cybersecurity-services-2.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_980531'></div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item' data-animation='no' style='background-color:#eaeaea;vertical-align:middle;text-align:left;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_887037' style='padding:12% 12% 12% 12%'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_887037{ padding: 0 90px 0 90px !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_887037{ padding: 0 20px 0 20px !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_887037{ padding: 80px 100px 80px 100px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_887037{ padding: 50px 40px 50px 40px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_887037{ padding: 50px 40px 50px 40px !important;}}</style>
                                              <div class="vc_empty_space"  style="height: 40px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4><span style="color: #808080;">«Gracias a nuestra experiencia ya sabíamos que un código seguro es la base para evitar ataques a nuestras apicaciones. Con Puffin todo fue fácil, nos pusimos en contacto con ellos y les contamos lo que necesitabamos. Ellos rápidamente se nos dieron un presupuesto que encajaba con lo queríamos y se pusieron a trabajar.Después de las pruebas nuestros ingenerios fueron capaces de corregir algunas vulnerabilidades críticas que sin la ayuda de Puffin hubiera sido imposible descubrir».</span></h4>
                                                    <p><strong><span style="color: #ff6600;">CIO Empresa internacional</span></strong></p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 40px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder two_columns responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no' style='background-color:#1683ff;vertical-align:middle;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_702254' style='padding:12% 12% 12% 12%'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_702254{ padding: 0 90px 0 90px !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_702254{ padding: 0 30px 0 30px !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_702254{ padding: 80px 100px 80px 100px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_702254{ padding: 50px 40px 50px 40px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_702254{ padding: 50px 40px 50px 40px !important;}}</style>
                                              <div class="vc_empty_space"  style="height: 40px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4><span style="color: #ffffff;">«Las aplicaciones móviles son una parte muy importante de nuestro negocio, ya que permiten a usuarios conocer en todo momento información general de las empresas desde cualquier sitio. Hasta trabajar con Puffin Security, no éramos conscientes del riesgo que corríamos al no realizar un pentesting a nuestras apps. Pensábamos que como no estaban subidas a las diferentes stores no corríamos peligro. Pero los Smartphones son sencillos de perder y susceptibles a robos, como nuestras app tenían vulnerabilidades criticas al almacenar datos, cualquiera que se hiciera con un terminal podría obtener credenciales para acceder a la organización. Los chicos de Puffin Security encontraron todas las vulnerabilidades y gracias a un informe detallado fuimos capaces de solucionarlas.».</span></h4>
                                                    <p><span style="color: #ffffff;"><strong>CEO Empresa de producción</strong></span></p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 40px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/02/Testimonial-cybersecurity-services-1.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_386623'></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549554865292 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="q_counter_holder  center" style="">
                                     <span class="counter  zero" style="color: #fc9b3a;font-size: 70px;font-weight: 700;">8</span>
                                     <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Años de experiencia</p>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="q_counter_holder  center" style="">
                                     <span class="counter  zero" style="color: #fc9b3a;font-size: 70px;font-weight: 700;">4</span>
                                     <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">CVE publicados</p>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="q_counter_holder  center" style="">
                                     <span class="counter  zero" style="color: #fc9b3a;font-size: 70px;font-weight: 700;">12</span>
                                     <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Países en los que hemos trabajado</p>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="q_counter_holder  center" style="">
                                     <span class="counter  zero" style="color: #fc9b3a;font-size: 70px;font-weight: 700;">538</span>
                                     <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Compañías con las que hemos trabajado</p>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549540369948 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder two_columns eh_two_columns_75_25 responsive_mode_from_768 alignment_one_column_center' >
                                     <div class='q_elements_item' data-animation='no' style='vertical-align:middle;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_767989' style='padding:0 5% 0 5%'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_767989{ padding: 0 0 22px 0 !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_767989{ padding: 0 0 22px 0 !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_767989{ padding: 0 0 22px 0 !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element  call-to-action">
                                                 <div class="wpb_wrapper">
                                                    <h4 style="text-align: center;"><span style="color: #ffffff;">Escríbenos y nos pondremos en contacto contigo</span></h4>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item' data-animation='no' style='vertical-align:middle;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_570721'><a  itemprop="url" href="/es/contacto" target="_self" data-hover-background-color=rgba(255,255,255,0.4) data-hover-color=#ffffff class="qbutton  default" style="color: #ffffff; background-color: rgba(255,255,255,0.2);">Contacta con nosotros</a></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#testimonials"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1549554938938" style=' text-align:center;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-8">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class='testimonials_c_holder clearfix light'>
                                  <div class="testimonials_c testimonials_c_carousel" data-show-navigation="yes" data-animation-speed="" data-auto-rotate-slides="10" data-number-per-slide="1">
                                     <ul class="slides">
                                        <li id="testimonials-c-2251" class="testimonial_content">
                                           <div class="testimonial_content_inner">
                                              <div class="testimonial_text_holder">
                                                 <div class="testimonial_text_inner" style="color: #565656;">
                                                    <p style='font-size:18px;color:#565656;'>Las aplicaciones móviles son una parte muy importante de nuestro negocio, ya que permiten a usuarios conocer en todo momento información general de la empresas desde cualquier sitio. Hasta trabajar con Puffin Security, no éramos conscientes del riesgo que corríamos al no realizar un pentesting a nuestras apps. Pensabamos que como no estaban subidas a las diferentes stores no corríamos peligro. Pero los Smartphones son sencillos de perder y susceptibles a robos, como nuestras app tenían vulnerabilidades criticas al almacenar datos, cualquiera que se hiciera con un terminal podría obtener credenciales para acceder a la organización. Los chicos de Puffin Security encontraron todas las vulnerabilidades y gracias a un informe detallado fuimos capaces de solucionarlas.</p>
                                                    <p class="testimonial_author" style="color: #565656;font-weight: 600;color: #f48a00;font-size: 16px;">CEO CRM company</p>
                                                 </div>
                                              </div>
                                           </div>
                                        </li>
                                        <li id="testimonials-c-2245" class="testimonial_content">
                                           <div class="testimonial_content_inner">
                                              <div class="testimonial_text_holder">
                                                 <div class="testimonial_text_inner" style="color: #565656;">
                                                    <p style='font-size:18px;color:#565656;'>Somos una empresa mediana con 150 empleados que tenemos una red Wi-Fi de invitados y nuestra red interna de la organización. Contactamos con Puffin Security porque me daba miedo que la red de invitados no fuera segura y cualquiera pudiera conectarse. El proceso fue sencillo, les explique cual era la situación y a las pocas horas recibí una oferta competitiva y detallada donde explicaban las pruebas que se iban a realizar y la metodología que iban a seguir. Finalizadas las pruebas mi sorpresa llego después de leer el informe final. El equipo de Puffin Security había sido capaz de acceder a las red privada de la organización desde la red de invitados, lo que suponía un gran riesgo. Fue un gran acierto haber contactado con Puffin Security  ya que en ningún momento imagine que toda mi organización podía estar en riesgo simplemente por la red Wi-Fi de invitados.</p>
                                                    <p class="testimonial_author" style="color: #565656;font-weight: 600;color: #f48a00;font-size: 16px;">CIO Services company</p>
                                                 </div>
                                              </div>
                                           </div>
                                        </li>
                                        <li id="testimonials-c-2248" class="testimonial_content">
                                           <div class="testimonial_content_inner">
                                              <div class="testimonial_text_holder">
                                                 <div class="testimonial_text_inner" style="color: #565656;">
                                                    <p style='font-size:18px;color:#565656;'>Nuestro core de negocio son dos websites donde nuestros clientes adquieren nuestros servicios. Cada día escuchábamos más noticias de ciberataques y estábamos muy preocupados Temíamos ser atacados y perder la confianza de nuestros clientes que tanto nos había costado ganar. Finalmente nos decidimos y contactamos con Puffin Security. Todo el proceso fue muy sencillo, se mostraron muy cercanos con nosotros y nos transmitieron esa confianza que tanto necesitábamos. Una vez finalizada la auditoria nos entregaron un informe muy detallado con todos los problemas de seguridad que sufrían nuestros aplicativos y recomendaciones para solucionarlo, además en todo momento estaban disponibles para responder a nuestras dudas.</p>
                                                    <p class="testimonial_author" style="color: #565656;font-weight: 600;color: #f48a00;font-size: 16px;">CEO Real estate Company</p>
                                                 </div>
                                              </div>
                                           </div>
                                        </li>
                                     </ul>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549538886660" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1508844313230 grid_section" style=' text-align:center;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10">
                                           <div class="vc_column-inner vc_custom_1508844237087">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_empty_space"  style="height: 30px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="custom_font_holder" style="font-family: Work Sans; font-size: 80px; line-height: 90px; font-style: normal; font-weight: 700; color: #ffffff; text-decoration: none; letter-spacing: -3.8px; text-align: center;">$17.000 millones</div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h3 style="text-align: center;"><span style="color: #ffffff;">Gestionar la ciberseguridad debe ser una prioridad para una empresa, no solo un desafío tecnológico</span></h3>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1550312027029 grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner vc_custom_1550499694151">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4>En Puffin Security profundizamos en la seguridad de tu organización más allá de la tecnología, considerando estructuras, procesos y personas, anlizando la ciberseguridad dentro del contexto y las necesidades de tu industria.</h4>
                                     </div>
                                  </div>
                                  <div class="separator  transparent" style="margin-top: 30px;margin-bottom: 8px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Servicios que pueden interesarte</h3>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1550311986110 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner vc_custom_1550499720197">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1549570311973 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" data-src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">RED TEAM</h5>
                                                       <p style="text-align: center;">Emulación de adversarios</p>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/servicios-de-red-team/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner vc_custom_1550499710116">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1549570300212 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" data-src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5>MDR</h5>
                                                       <p>Gestiona la seguridad de tu empresa</p>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/mdr/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner vc_custom_1550499727525">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1549570305684 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" data-src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">SEGURIDAD PROACTIVA</h5>
                                                       <p style="text-align: center;">Mejora tu ciberseguridad</p>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/contacto" target="_self"  class="qbutton  white default  qode-button-shadow" style="">Contacto</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                         <div class="vc_column-inner vc_custom_1546390920460">
                            <div class="wpb_wrapper">
                               <div class="qode-advanced-call-to-action" style="height:155px">
                                  <a class="advanced-cta-link" href="/es/por-que-puffin" target="_self"></a>
                                  <div class="qode-advanced-cta-content">		
                                     <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px;font-weight:700">
                                     ¿Por que trabajar con nosotros?	    </span>
                                     <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                     <span class="qode-advanced-cta-icon-holder-table">
                                     <span class="qode-advanced-cta-icon-holder-cell" >
                                     <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                     </span>
                                     </span>
                                  </div>
                                  <div class="qode-advanced-cta-background-holder">
                                     <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-3"></span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                         <div class="vc_column-inner vc_custom_1546440172136">
                            <div class="wpb_wrapper">
                               <div class="qode-advanced-call-to-action" style="height:155px">
                                  <a class="advanced-cta-link" href="/es/contacto" target="_self"></a>
                                  <div class="qode-advanced-cta-content">		
                                     <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px;font-weight:700">
                                     Conoce nuestros servicios	    </span>
                                     <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                     <span class="qode-advanced-cta-icon-holder-table">
                                     <span class="qode-advanced-cta-icon-holder-cell" >
                                     <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                     </span>
                                     </span>
                                  </div>
                                  <div class="qode-advanced-cta-background-holder">
                                     <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-3"></span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

{% include es/footer.liquid %}
