{% include es/head.liquid %}
{% include es/header.liquid %}

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548890499977 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix" style="width:100%">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1550510112741">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h1 class="home-h" style="margin-top:100px"><span style="color: #070b26;">Servicios de<br />
                                           </span><span style="color: #070b26;">Red team<br />
                                           </span>
                                        </h1>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 27px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h4><span style="color: #070b26;">La emulación de adversarios permite evaluar la capacidad de respuesta de una organización frente a amenazas reales</span></h4>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 39px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-6 vc_hidden-md vc_hidden-sm vc_hidden-xs">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner vc_custom_1548407533332">
                            <div class="wpb_wrapper">
                               <div class="call_to_action normal" style="background-color: #c3c3c3;">
                                  <div class="container_inner">
                                     <div class="two_columns_75_25 clearfix">
                                        <div class="text_wrapper column1">
                                           <div class="call_to_action_text" style="">
                                              <h5><span style="color: #000000;">SOLICITA EL SERVICIO RED TEAM</span></h5>
                                           </div>
                                        </div>
                                        <div class="button_wrapper column2"><a itemprop="url" href="/es/contacto"  class="cta-button" target="_self" style="color: #ffffff;border-color: #dd3333;background-color: #dd3333;">EMPIEZA AHORA</a></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1548544068529 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1548358340228">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h5 style="text-align: center;"><span style="color: #ff0000;">EJERCITE SUS CAPACIDADES DE DETECCIÓN Y RESPUESTA</span></h5>
                                     </div>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Servicios a medida de Red Team para tu negocio</h3>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 20px;margin-bottom: 40px;background-color: #cecece;height: 1px;width: 50px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4 style="text-align: center;"><span style="color: #808080;">El Red Teaming consiste en la simulación de ataques reales desde la perspectiva de los cibercriminales. Gracias a nuestra experiencia en el campo de la ciberseguridad, somos capaces de simular escenarios de ataques reales adaptados a su industria y negocio.</span></h4>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                         <div class="vc_column-inner vc_custom_1549570751530">
                            <div class="wpb_wrapper">
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h3>Simulación de ataques de adversarios</h3>
                                  </div>
                               </div>
                               <div class="separator  small left" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff3a3a;height: 1px;width: 50px;"></div>
                               <div class='q_icon_with_title tiny custom_icon_image'>
                                  <div class="icon_holder" style=" ">
                                     <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success.png" loading="lazy" class="lazyload">
                                     <noscript>
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success.png" loading="lazy" class="lazyload">
                                           <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success.png" alt=""></noscript>
                                        </noscript>
                                     </noscript>
                                  </div>
                                  <div class="icon_text_holder" style="">
                                     <div class="icon_text_inner" style="">
                                        <h5 class="icon_title" style=""></h5>
                                        <p style=''>Identificar las vulnerabilidades físicas, de hardware, de software y humanas.</p>
                                     </div>
                                  </div>
                               </div>
                               <div class='q_icon_with_title tiny custom_icon_image'>
                                  <div class="icon_holder" style=" ">
                                     <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success.png" loading="lazy" class="lazyload">
                                     <noscript>
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success.png" loading="lazy" class="lazyload">
                                           <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success.png" alt=""></noscript>
                                        </noscript>
                                     </noscript>
                                  </div>
                                  <div class="icon_text_holder" style="">
                                     <div class="icon_text_inner" style="">
                                        <h5 class="icon_title" style=""></h5>
                                        <p style=''>Obtener una visión más realista del estado de la seguridad de su organización.</p>
                                     </div>
                                  </div>
                               </div>
                               <div class='q_icon_with_title tiny custom_icon_image'>
                                  <div class="icon_holder" style=" ">
                                     <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success.png" loading="lazy" class="lazyload">
                                     <noscript>
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/success.png" loading="lazy" class="lazyload">
                                           <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/success.png" alt=""></noscript>
                                        </noscript>
                                     </noscript>
                                  </div>
                                  <div class="icon_text_holder" style="">
                                     <div class="icon_text_inner" style="">
                                        <h5 class="icon_title" style=""></h5>
                                        <p style=''>Ayudar a solucionar y corregir todas las debilidades de seguridad identificadas.</p>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12">
                         <div class="vc_column-inner vc_custom_1549570744268">
                            <div class="wpb_wrapper">
                               <div class="wpb_single_image wpb_content_element vc_align_right">
                                  <div class="wpb_wrapper">
                                     <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img width="768" height="674" src="/assets/ewww/lazy/placeholder-768x674.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/red-team-adversarial-emulation-offensive-cyber-security-testing-puffin.jpg" data-srcset="/assets/uploads/2019/01/red-team-adversarial-emulation-offensive-cyber-security-testing-puffin.jpg 768w, /assets/uploads/2019/01/red-team-adversarial-emulation-offensive-cyber-security-testing-puffin-300x263.jpg 300w, /assets/uploads/2019/01/red-team-adversarial-emulation-offensive-cyber-security-testing-puffin-700x614.jpg 700w" data-sizes="auto" loading="lazy" />
                                        <noscript><img width="768" height="674" src="/assets/uploads/2019/01/red-team-adversarial-emulation-offensive-cyber-security-testing-puffin.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/red-team-adversarial-emulation-offensive-cyber-security-testing-puffin.jpg 768w, /assets/uploads/2019/01/red-team-adversarial-emulation-offensive-cyber-security-testing-puffin-300x263.jpg 300w, /assets/uploads/2019/01/red-team-adversarial-emulation-offensive-cyber-security-testing-puffin-700x614.jpg 700w" sizes="(max-width: 768px) 100vw, 768px" /></noscript>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548897901196 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1548675309541">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;"><span style="color: #ffffff;">BENEFICIOS</span></h5>
                                                       <h2 style="text-align: center;"><span style="color: #ffffff;">¿Por que contratar servicios de Red Team?</span></h2>
                                                    </div>
                                                 </div>
                                                 <div class="separator  small center" style="margin-top: 21px;margin-bottom: 28px;background-color: #ff6666;height: 1px;width: 50px;"></div>
                                                 <div class="vc_empty_space"  style="height: 60px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-6">
                                           <div class="vc_column-inner vc_custom_1550510828548">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <p><span style="color: #c4c4c4;">Las operaciones de Red team es un proceso dinámico que permite mejorar y adaptar tu plan de ciberseguridad al panorama actual de amenazas avanzadas. A diferencia de los pentesting, los servicios de RED TEAM permite poner a prueba las capacidades de tu equipo para enfrentarse a una simulación de ataques desde el punto de vista de los cibercriminales&#8230;</span></p>
                                                       <p><span style="color: #c4c4c4;">Nuestras operaciones del Red Team pueden incluir diferentes métodos de ataque, tales como: explotación de vulnerabilidades, intrusiones físicas, engaños telefónicos, ingeniería social, spear phising&#8230;</span></p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-6">
                                           <div class="vc_column-inner vc_custom_1548675329822">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_empty_space"  style="height: 32px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title tiny custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h5 class="icon_title" style="color: #ffffff;">Validar su respuesta frente a ciberataques.</h5>
                                                          <p style=''></p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class='q_icon_with_title tiny custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h5 class="icon_title" style="color: #ffffff;">Revelar vulnerabilidades desconocidas.</h5>
                                                          <p style=''></p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class='q_icon_with_title tiny custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h5 class="icon_title" style="color: #ffffff;">Identificar y clasificar riesgos de seguridad.</h5>
                                                          <p style=''></p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class='q_icon_with_title tiny custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h5 class="icon_title" style="color: #ffffff;">Verifica la efectividad del plan de ciberseguridad.</h5>
                                                          <p style=''></p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class='q_icon_with_title tiny custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript>
                                                                   <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                   <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                                </noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h5 class="icon_title" style="color: #ffffff;">Medir la capacidad contra enemigos en el mundo real.</h5>
                                                          <p style=''></p>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 100px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;">Desafía tus capacidades de ciberseguridad</h2>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff9f1f;height: 1px;width: 50px;"></div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section disable_negative_margin" style=' padding-top:30px; padding-bottom:80px; text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1548615190202">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_821019' style='padding:0 8% 0 8%'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p>El cibercrimen busca debilidades en procesos, tecnología y personas. Si no conoces cuáles son las últimas estrategias y procedimientos de los cibercriminales, nunca podrás detectar adecuadamente las vulnerabilidades presentes en tu empresa.</p>
                                                    <p>El servicio de Red Team puede ayudar a tu empresa a mejorar y fortalecer los planes de seguridad. El principal objetivo es conocer desde un punto de vista realista, las vulnerabilidades existentes y el nivel de riesgo de la compañía.</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 38px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-offset-0 vc_col-lg-6 vc_col-md-offset-1 vc_col-md-10 vc_col-sm-offset-0 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1548615318507">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space"  style="height: 32px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/target-30.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/target-30.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/target-30.png" loading="lazy" class="lazyload">
                                              <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/target-30.png" alt=""></noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">Identificar vulnerabilidades en hardware, software y personas.</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/target-30.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/target-30.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/target-30.png" loading="lazy" class="lazyload">
                                              <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/target-30.png" alt=""></noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">Obtener una visión real de los riesgos de tu organización.</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_icon_with_title tiny custom_icon_image'>
                                     <div class="icon_holder" style=" ">
                                        <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/target-30.png" loading="lazy" class="lazyload">
                                        <noscript>
                                           <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/target-30.png" loading="lazy" class="lazyload">
                                           <noscript>
                                              <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/target-30.png" loading="lazy" class="lazyload">
                                              <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/target-30.png" alt=""></noscript>
                                           </noscript>
                                        </noscript>
                                     </div>
                                     <div class="icon_text_holder" style="">
                                        <div class="icon_text_inner" style="">
                                           <h5 class="icon_title" style="">Ayudarte a solucionar las vulnerabilidades encontradas.</h5>
                                           <p style=''></p>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md vc_hidden-sm vc_hidden-xs">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder two_columns responsive_mode_from_768' >
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/01/download-whitepaper-cyber-security.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_601325'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_601325{ padding: 30% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_601325{ padding: 30% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_601325{ padding: 30% !important;}}</style>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item' data-animation='no' style='background-color:#152535;vertical-align:middle;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_643883' style='padding:19.8% 7% 15.5%'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h2><span style="color: #ffffff;">Industry case of study</span></h2>
                                                 </div>
                                              </div>
                                              <div class="separator  small center" style="background-color: #FFFFFF;"></div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p><span style="color: #ffffff;">We help industry sector customers gain an understanding of their cyber security risks and assist them identify business-driven remediation actions</span></p>
                                                 </div>
                                              </div>
                                              <div class="separator  transparent" style="margin-top: 41px;margin-bottom: 0px;height: 0px;"></div>
                                              <a  itemprop="url" href="" target="_self" data-hover-background-color=#191919 data-hover-border-color=#191919  class="qbutton  medium default" style="color: #ffffff; font-style: normal; background-color: #ff8d42;">Download it now</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:center;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548622874371" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-2">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper"></div>
                                        </div>
                                     </div>
                                     <div class="wpb_column vc_column_container vc_col-sm-8">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h2 style="text-align: center;"><span style="color: #333333;">Lo que dicen nuestros clientes</span></h2>
                                                 </div>
                                              </div>
                                              <div class='testimonials_c_holder clearfix'>
                                                 <div class="testimonials_c testimonials_c_carousel" data-show-navigation="no" data-animation-speed="" data-auto-rotate-slides="10" data-number-per-slide="1">
                                                    <ul class="slides">
                                                       <li id="testimonials-c-2246" class="testimonial_content">
                                                          <div class="testimonial_content_inner">
                                                             <div class="testimonial_text_holder">
                                                                <div class="testimonial_text_inner" style="color: #565656;">
                                                                   <p style='font-size:20px;color:#565656;'>"Delegar el desafío de la ciberseguridad a una empresa como Puffin Security nos da una gran tranquilidad"</p>
                                                                   <p class="testimonial_author" style="color: #565656;font-weight: 600;color: #f48a00;font-size: 16px;">CISO International Insurance industry</p>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </li>
                                                       <li id="testimonials-c-2247" class="testimonial_content">
                                                          <div class="testimonial_content_inner">
                                                             <div class="testimonial_text_holder">
                                                                <div class="testimonial_text_inner" style="color: #565656;">
                                                                   <p style='font-size:20px;color:#565656;'>"Si tuvieramos que recomendar una compañía de servicios de ciberseguridad, sin ninguna duda sería Puffin Security"</p>
                                                                   <p class="testimonial_author" style="color: #565656;font-weight: 600;color: #f48a00;font-size: 16px;">Cybersecurity services manager – One of the BIG FOUR</p>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </li>
                                                    </ul>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="wpb_column vc_column_container vc_col-sm-2">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper"></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548897515394 grid_section" style=' padding-top:300px; padding-bottom:117px; text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;"><span style="color: #ffffff;">El 98% de las aplicaciones que hemos analizado presentan alguna brecha de seguridad</span></h2>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1548624315836 grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4 style="text-align: center;">En Puffin Security profundizamos en la seguridad de tu organización más allá de la tecnología, considerando estructuras, procesos y personas, anlizando la ciberseguridad dentro del contexto y las necesidades de tu industria.</h4>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="separator  transparent" style="margin-top: 30px;margin-bottom: 8px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Otros servicios relacionados</h3>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548624326017 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548624270221 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" data-src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">CONSULTORÍA</h5>
                                                       <div class="wpb_text_column wpb_content_element">
                                                          <div class="wpb_wrapper">
                                                             <p style="text-align: center;">Auditoría &amp; Asesoría</p>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/auditorias-de-ciberseguridad/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548624276617 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" data-src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">MDR</h5>
                                                       <div class="wpb_text_column wpb_content_element">
                                                          <div class="wpb_wrapper">
                                                             <p style="text-align: center;">Gestionamos tu seguridad</p>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/mdr" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548624283430 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" data-src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5>SEGURIDAD PROACTIVA</h5>
                                                       <div class="wpb_text_column wpb_content_element">
                                                          <div class="wpb_wrapper">
                                                             <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                   <p>Mejora tu ciberseguridad</p>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/contacto" target="_self"  class="qbutton  white default  qode-button-shadow" style="">CONTACTO</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548676440573" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="qode-advanced-call-to-action" style="height:140px">
                                  <a class="advanced-cta-link" href="/es/contacto" target="_self"></a>
                                  <div class="qode-advanced-cta-content">		
                                     <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px">
                                     Comienza a preparar tus defensas	    </span>
                                     <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                     <span class="qode-advanced-cta-icon-holder-table">
                                     <span class="qode-advanced-cta-icon-holder-cell" >
                                     <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                     </span>
                                     </span>
                                  </div>
                                  <div class="qode-advanced-cta-background-holder">
                                     <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-3"></span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

{% include es/footer.liquid %}
