{% include es/head.liquid %}
{% include es/header.liquid %}

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1550502607680 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1546404136148">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h1><span style="color: #ffffff;">Servicios de<br />
                                           Ciberseguridad</span>
                                        </h1>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 27px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h4><span style="color: #ffffff;">Ofrecemos una amplia gama de servicios de ciberseguridad para ayudarte a prevenir amenazas y defenderte de potenciales atacantes</span></h4>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 39px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/contacto" target="_self"  class="qbutton  white default" style="border-color: #2885ff; margin: 0 6px 6px 0; background-color: #2885ff;">Contacta con nosotros</a>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-6 vc_hidden-md vc_hidden-sm vc_hidden-xs">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549564044678 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1481124718179">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                           <div class="vc_column-inner vc_custom_1549564954108">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_empty_space  vc_custom_1546416375561"  style="height: 32px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="qode-info-card">
                                                    <div class="qode-info-card-image" style="background-color:#fff">
                                                       <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Puffin-Cybersecurity-Audit-and-Assesment-120.png" loading="lazy" class="lazyload" />
                                                       <noscript><img src="/assets/uploads/2019/01/Puffin-Cybersecurity-Audit-and-Assesment-120.png" alt="" /></noscript>
                                                    </div>
                                                    <div class="qode-info-card-text-holder" style="background-color:#fff">
                                                       <h4 class="qode-info-card-title" >
                                                          Auditoría			
                                                       </h4>
                                                       <p class="qode-info-card-text" >
                                                          Servicios de consultoría y auditoría de ciberseguridad utilizando los últimos métodos y los principales estándares de la industria.			
                                                       </p>
                                                    </div>
                                                    <div class="qode-info-card-link-holder">
                                                       <a itemprop="url" class="qode-qbutton-main-color qode-qbutton-full-width qode-qbutton-square" href="/es/auditorias-de-ciberseguridad/" target="_self" style="background-color:#e55454;height:75px;line-height:75px"><span>VER MÁS</span></a>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                           <div class="vc_column-inner vc_custom_1549564959109">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_empty_space  vc_custom_1546416375561"  style="height: 32px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="qode-info-card">
                                                    <div class="qode-info-card-image" style="background-color:#fff">
                                                       <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Puffin-Cybersecurity-GDPR-compliance-120.png" loading="lazy" class="lazyload" />
                                                       <noscript><img src="/assets/uploads/2019/01/Puffin-Cybersecurity-GDPR-compliance-120.png" alt="" /></noscript>
                                                    </div>
                                                    <div class="qode-info-card-text-holder" style="background-color:#fff">
                                                       <h4 class="qode-info-card-title" >
                                                          Red teaming			
                                                       </h4>
                                                       <p class="qode-info-card-text" >
                                                          La emulación de adversarios permite evaluar la capacidad de respuesta que una organización frente a amenazas reales.			
                                                       </p>
                                                    </div>
                                                    <div class="qode-info-card-link-holder">
                                                       <a itemprop="url" class="qode-qbutton-main-color qode-qbutton-full-width qode-qbutton-square" href="/es/servicios-de-red-team/" target="_self" style="background-color:#efa028;height:75px;line-height:75px"><span>VER MÁS</span></a>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-4">
                                           <div class="vc_column-inner vc_custom_1549564963094">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_empty_space  vc_custom_1546416375561"  style="height: 32px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="qode-info-card">
                                                    <div class="qode-info-card-image" style="background-color:#fff">
                                                       <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Puffin-Cybersecurity-Incident-Response-120.png" loading="lazy" class="lazyload" />
                                                       <noscript><img src="/assets/uploads/2019/01/Puffin-Cybersecurity-Incident-Response-120.png" alt="" /></noscript>
                                                    </div>
                                                    <div class="qode-info-card-text-holder" style="background-color:#fff">
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549565002452 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-8 vc_col-md-8 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_left">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="940" height="628" src="/assets/ewww/lazy/placeholder-940x628.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg" data-srcset="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg 940w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-300x200.jpg 300w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-768x513.jpg 768w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-700x468.jpg 700w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="940" height="628" src="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg 940w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-300x200.jpg 300w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-768x513.jpg 768w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-700x468.jpg 700w" sizes="(max-width: 940px) 100vw, 940px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 50px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-4 vc_col-md-4 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>ENFOQUE INTERNACIONAL</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 10px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3>¿Con quien<br />
                                           <span style="color: #ff6600;">trabajamos?</span>
                                        </h3>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 35px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p><strong>Grandes consultoras (Big Four)</strong></p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 10px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Actualmente trabajamos para las grandes firmas internacionales de consultoría.</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 10px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p><strong>Grandes y medianas empresas</strong></p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 10px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Trabajamos para empresas de dimensiones y responsabilidades importantes; bancos, aseguradoras, compañías energéticas.</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 10px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p><strong>Startups &amp; PYMES</strong></p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 10px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>En Puffin Security también ofrecemos servicios de acuerdo a empresas más pequeñas adaptándonos a sus necesidades.</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  lazyload" style=' text-align:left;' data-bg="/assets/uploads/2019/01/background-h2.jpg">
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1509629671284 grid_section" style=' text-align:left;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h2><span style="color: #ffffff;">Algunas cifras para considerar la <span style="color: #ff3333;">ciberseguridad </span> como una prioridad</span></h2>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1508422018910 grid_section" style=' text-align:left;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner vc_custom_1508421058822">
                                              <div class="wpb_wrapper">
                                                 <div class='q_elements_holder four_columns responsive_mode_from_768' >
                                                    <div class='q_elements_item' data-animation='no'>
                                                       <div class='q_elements_item_inner'>
                                                          <div class='q_elements_item_content q_elements_holder_custom_561729' style='padding:0 48px 40px 0'>
                                                             <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_561729{ padding: 0 47px 100px 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_561729{ padding: 0 35px 100px 0 !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_561729{ padding: 0 0 100px 0 !important;}}</style>
                                                             <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                   <h2><span style="color: #ff3333;">1 Millón</span></h2>
                                                                   <h4><span style="color: #ffffff;">Nyetya fue instalado en + 1M de ordenadores</span></h4>
                                                                </div>
                                                             </div>
                                                             <div class="vc_empty_space"  style="height: 15px" ><span
                                                                class="vc_empty_space_inner">
                                                                <span class="empty_space_image"  ></span>
                                                                </span>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <div class='q_elements_item' data-animation='no'>
                                                       <div class='q_elements_item_inner'>
                                                          <div class='q_elements_item_content q_elements_holder_custom_460374' style='padding:0 48px 40px 0'>
                                                             <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_460374{ padding: 0 47px 100px 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_460374{ padding: 0 35px 100px 0 !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_460374{ padding: 0 0 100px 0 !important;}}</style>
                                                             <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                   <h2><span style="color: #ff3333;">53%</span></h2>
                                                                   <h4><span style="color: #ffffff;">Gestionan la mitad de su estructura en la nube</span></h4>
                                                                </div>
                                                             </div>
                                                             <div class="vc_empty_space"  style="height: 15px" ><span
                                                                class="vc_empty_space_inner">
                                                                <span class="empty_space_image"  ></span>
                                                                </span>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <div class='q_elements_item' data-animation='no'>
                                                       <div class='q_elements_item_inner'>
                                                          <div class='q_elements_item_content q_elements_holder_custom_206395' style='padding:0 48px 40px 0'>
                                                             <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_206395{ padding: 0 47px 100px 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_206395{ padding: 0 35px 100px 0 !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_206395{ padding: 0 0 100px 0 !important;}}</style>
                                                             <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                   <h2><span style="color: #ff3333;">600%</span></h2>
                                                                   <h4><span style="color: #ffffff;">Incremento de los ataques en dispositivos IoT desde el año pasado</span></h4>
                                                                </div>
                                                             </div>
                                                             <div class="vc_empty_space"  style="height: 15px" ><span
                                                                class="vc_empty_space_inner">
                                                                <span class="empty_space_image"  ></span>
                                                                </span>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                    <div class='q_elements_item' data-animation='no'>
                                                       <div class='q_elements_item_inner'>
                                                          <div class='q_elements_item_content q_elements_holder_custom_425291' style='padding:0 97px 40px 0'>
                                                             <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_425291{ padding: 0 47px 100px 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_425291{ padding: 0 33px 100px 0 !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_425291{ padding: 0 0 100px 0 !important;}}</style>
                                                             <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                   <h2><span style="color: #ff3333;">58%</span></h2>
                                                                   <h4><span style="color: #ffffff;">De los ataques tienen como resultado daños &gt; 0,5M €</span></h4>
                                                                </div>
                                                             </div>
                                                             <div class="vc_empty_space"  style="height: 15px" ><span
                                                                class="vc_empty_space_inner">
                                                                <span class="empty_space_image"  ></span>
                                                                </span>
                                                             </div>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1546436396619">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_765299'>
                                              <div class="vc_empty_space"  style="height: 60px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h3 style="text-align: center;"><span style="color: #ffffff;">Servicios de ciberseguridad</span></h3>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 60px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="qode_video_box">
                                                 <a itemprop="image" class="qode_video_image" href="#" data-rel="prettyPhoto">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="/assets/uploads/2019/01/home_webdeveloper_slider_pic1.png" loading="lazy" class="lazyload" />
                                                    <noscript><img src="/assets/uploads/2019/01/home_webdeveloper_slider_pic1.png" /></noscript>
                                                    <span class="qode_video_box_button_holder">
                                                    <span class="qode_video_box_button">
                                                    <span class="qode_video_box_button_arrow">
                                                    </span>
                                                    </span>
                                                    </span>
                                                 </a>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 80px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549565117566" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6 vc_col-xs-12 vc_col-has-fill">
                         <div class="vc_column-inner vc_custom_1549565344081">
                            <div class="wpb_wrapper">
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <p><strong><span style="color: #666666;">ANALISIS EN PROFUNDIDAD</span></strong></p>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 10px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h2>Toda los servicios de ciberseguridad que necesita tu empresa</h2>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 25px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <p>Ofrecemos una amplia gama de servicios de ciberseguridad para ayudar a organizaciones a protegerse y responder frente a ciberataques como: evaluaciones de seguridad, preparación para el cumplimiento, análisis de vulnerabilidades y pruebas de pentest, así como auditoria de estrategias de ciberseguridad.</p>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 20px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <p>Gracias a la experiencia de nuestros expertos mejoraremos las capacidades de seguridad de tu compañía solventando brechas cruciales y proporcionando información del mundo real sobre las amenazas y su impacto en las operaciones de seguridad.</p>
                                     <section class="section container-full">
                                        <div class="tabs">
                                           <div class="tabs__nav">
                                              <div class="container">
                                                 <div class="row"></div>
                                              </div>
                                           </div>
                                        </div>
                                     </section>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-6 vc_col-xs-12">
                         <div class="vc_column-inner vc_custom_1549565269993">
                            <div class="wpb_wrapper">
                               <div class="wpb_single_image wpb_content_element vc_align_center">
                                  <div class="wpb_wrapper">
                                     <div class="vc_single_image-wrapper   vc_box_border_grey">
                                        <img width="940" height="825" src="/assets/ewww/lazy/placeholder-940x825.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/holistic-cyber-security-services.jpg" data-srcset="/assets/uploads/2019/01/holistic-cyber-security-services.jpg 940w, /assets/uploads/2019/01/holistic-cyber-security-services-300x263.jpg 300w, /assets/uploads/2019/01/holistic-cyber-security-services-768x674.jpg 768w, /assets/uploads/2019/01/holistic-cyber-security-services-700x614.jpg 700w" data-sizes="auto" loading="lazy" />
                                        <noscript><img width="940" height="825" src="/assets/uploads/2019/01/holistic-cyber-security-services.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/holistic-cyber-security-services.jpg 940w, /assets/uploads/2019/01/holistic-cyber-security-services-300x263.jpg 300w, /assets/uploads/2019/01/holistic-cyber-security-services-768x674.jpg 768w, /assets/uploads/2019/01/holistic-cyber-security-services-700x614.jpg 700w" sizes="(max-width: 940px) 100vw, 940px" /></noscript>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546439158219 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space"  style="height: 40px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Ofrecemos <span style="color: #ff6600;">servicios de ciberseguridad</span> en los siguientes sectores</h3>
                                        <section class="section container-full">
                                           <div class="tabs">
                                              <div class="tabs__nav">
                                                 <div class="container">
                                                    <div class="row"></div>
                                                 </div>
                                              </div>
                                           </div>
                                        </section>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546439217478 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-ecommerce-diamond qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Finanzas                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-software-layers1 qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Seguros                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-basic-book qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Educación                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-basic-case qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Instituciones                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-basic-paperplane qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Logística                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-basic-accelerator qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Automoción                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-basic-heart qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Salud                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-basic-bolt qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Industria                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-basic-share qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Farmaceútico                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-1/5 vc_col-lg-1/5 vc_col-md-6 vc_col-xs-6">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="qode-giwt">
                                                    <div class="qode-giwt-inner qode-type1-gradient-bottom-to-top-text-hover">
                                                       <span class="qode-giwt-icon-holder">
                                                       <span data-type="normal"  class="qode_icon_shortcode  q_font_awsome_icon fa-lg" style=" "><i class="qodef-icon-linea-icon icon-basic-magnifier qode_icon_element" style="font-size: 50px;color: #b6b6b6;" ></i></span>            </span>
                                                       <div class="qode-giwt-content-holder">
                                                          <div class="qode-giwt-title-holder">
                                                             <h6 style="color: #222222">
                                                                Industria crítica                                    
                                                             </h6>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  lazyload" style=' text-align:left;' data-bg="/assets/uploads/2019/01/services-big-quote.jpg">
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner vc_custom_1546436213216">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  custom-font-row vc_custom_1509374367916 grid_section" style=' text-align:center;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="vc_empty_space"  style="height: 40px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="custom_font_holder" style="font-family: Work Sans; font-size: 97px; line-height: 100px; font-style: normal; font-weight: 700; color: #ffffff; text-decoration: none; letter-spacing: -3.88px; text-align: center;">$17.000 Millones</div>
                                                 <div class="vc_empty_space"  style="height: 25px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h2><span style="color: #ffffff;">Es la cantidad que los cibercriminales le cuestan al mundo en un año.</span></h2>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1549538379103 grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4>En Puffin Security profundizamos en la seguridad de tu organización más allá de la tecnología, considerando estructuras, procesos y personas, anlizando la ciberseguridad dentro del contexto y las necesidades de tu industria.</h4>
                                     </div>
                                  </div>
                                  <div class="separator  transparent" style="margin-top: 30px;margin-bottom: 8px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Elige el servicio que necesitas</h3>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549538393273 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-4 vc_col-lg-offset-0">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548548222957 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" data-src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">CONSULTORÍA</h5>
                                                       <p style="text-align: center;">Auditoría &amp; Asesoría</p>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/auditorias-de-ciberseguridad/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">vER MÁS</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548548216226 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" data-src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">RED TEAM</h5>
                                                       <p style="text-align: center;">Emulación de adversarios</p>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/es/servicios-de-red-team/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548548209092 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" data-src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  lazyload" style=' text-align:left;' data-bg="/assets/uploads/2019/01/home_airport_slider_bg.jpg">
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="qode-advanced-call-to-action" style="height:168px">
                                  <a class="advanced-cta-link" href="/es/contacto" target="_self"></a>
                                  <div class="qode-advanced-cta-content">		
                                     <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px">
                                     Contacta AHORA con nosotros	    </span>
                                     <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                     <span class="qode-advanced-cta-icon-holder-table">
                                     <span class="qode-advanced-cta-icon-holder-cell" >
                                     <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                     </span>
                                     </span>
                                  </div>
                                  <div class="qode-advanced-cta-background-holder">
                                     <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-3"></span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

{% include es/footer.liquid %}
