{% include es/head.liquid %}
{% include es/header.liquid %}

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <section data-speed="1" class="parallax_section_holder   lazyload" style = " height:px; " data-bg="/assets/uploads/2019/01/services-big-quote.jpg">
                   <div class="parallax_content left">
                      <div class='parallax_section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element  vc_custom_1550010725903">
                                     <div class="wpb_wrapper">
                                        <h1 class="breach-title" style="text-align: center;"><span style="color: #ffffff;">¿Víctima de un ciberataque?</span></h1>
                                     </div>
                                  </div>
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1503059764905" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10 vc_col-has-fill">
                                           <div class="vc_column-inner vc_custom_1548289098349">
                                              <div class="wpb_wrapper">
                                                 <div class='q_elements_holder one_column responsive_mode_from_768' >
                                                    <div class='q_elements_item' data-animation='no' style='vertical-align:top;'>
                                                       <div class='q_elements_item_inner'>
                                                          <div class='q_elements_item_content q_elements_holder_custom_951018' style='padding:6.3% 9.7% 11.6%'>
                                                             <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                   <h4 style="text-align: center;">En Puffin Security podemos ayudar a tu empresa a recuperarse de un ciberataque, para evitar más daños y que vuelva a estar operativa lo antes posible. Para <span style="color: #ff0000;">servicios de URGENCIA </span>puedes llamarnos al: <a href="tel:+34919217257" target="_blank" rel="noopener noreferrer">+34 919 217 257</a> o rellena el siguiente formulario y nos pondremos en contacto contigo lo antes posible.</h4>
                                                                </div>
                                                             </div>
                                                             <div class="vc_empty_space"  style="height: 25px" ><span
                                                                class="vc_empty_space_inner">
                                                                <span class="empty_space_image"  ></span>
                                                                </span>
                                                             </div>
                                                             <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                                                             <script>
                                                                hbspt.forms.create({
                                                                portalId: "4879471",
                                                                formId: "c868aef1-0382-48d8-a012-225a393a62b4"
                                                                });
                                                             </script>
                                                             <!--
                                                                <div role="form" class="wpcf7" id="wpcf7-f1762-p1772-o1" lang="en-US" dir="ltr">
                                                                <div class="screen-reader-response"></div>
                                                                <form action="/es/victima-ciberataque/#wpcf7-f1762-p1772-o1" method="post" class="wpcf7-form default mailchimp-ext-0.5.18" novalidate="novalidate">
                                                                <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="1762" />
                                                                <input type="hidden" name="_wpcf7_version" value="5.1.7" />
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1762-p1772-o1" />
                                                                <input type="hidden" name="_wpcf7_container_post" value="1772" />
                                                                </div>
                                                                <div id="responsive-form" class="clearfix">
                                                                <div class="form-row">
                                                                <div class="column-full">EMAIL<span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-half">NOMBRE<span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                                <div class="column-half">APELLIDOS<span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-full">COMPAÑÍA<span class="wpcf7-form-control-wrap company"><input type="text" name="company" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-half">TELÉFONO<span class="wpcf7-form-control-wrap telephone"><input type="tel" name="telephone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span></div>
                                                                <div class="column-half">PAÍS<span class="wpcf7-form-control-wrap position"><input type="text" name="position" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-full-conditions"><span class="wpcf7-form-control-wrap opt-in"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="opt-in[]" value="Me gustaría recibir emails de Puffin Security para saber más sobre sus servicios" /><span class="wpcf7-list-item-label">Me gustaría recibir emails de Puffin Security para saber más sobre sus servicios</span></span></span></span></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-full-conditions"><span class="wpcf7-form-control-wrap privacy-policy"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><input type="checkbox" name="privacy-policy" value="1" aria-invalid="false" /></span></span></span>  Acepto <a href ="https://puffinsecurity.com/es/politica-de-privacidad">Política de privacidad</a> de Puffin Security</div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-full"><input type="submit" value="ENVIAR SOLICITUD" class="wpcf7-form-control wpcf7-submit" /></div>
                                                                </div>
                                                                </div>
                                                                -->
                                                             <p>
                                                                <!--end responsive-form-->
                                                             </p>
                                                             <input type='hidden' class='wpcf7-pum' value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />
                                                             <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                             <p style="display: none !important"><span class="wpcf7-form-control-wrap referer-page"><input type="hidden" name="referer-page" value="/es/victima-ciberataque/" class="wpcf7-form-control wpcf7-text referer-page" aria-invalid="false"></span></p>
                                                             <!-- Chimpmail extension by Renzo Johnson --></form>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
             </div>
             </section>
             <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1548376550939 grid_section" style=' padding-top:100px; text-align:center;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-8">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <div class="wpb_text_column wpb_content_element">
                                        <div class="wpb_wrapper">
                                           <h4>En Puffin Security profundizamos en la seguridad de tu organización más allá de la tecnología, considerando estructuras, procesos y personas, analizando la ciberseguridad dentro del contexto y las necesidades de tu industria.</h4>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="separator  transparent" style="margin-top: 30px;margin-bottom: 8px;"></div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h3 style="text-align: center;">Elige el servicio que necesitas</h3>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548376562301 grid_section" style=' text-align:left;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-3">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548376633304 disable_negative_margin" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" data-src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 22px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: center;">CONSULTORÍA</h5>
                                                    <p style="text-align: center;">Auditoría y asesoría</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 16px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <a  itemprop="url" href="/es/auditorias-de-ciberseguridad/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 20px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-3">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548376661713 disable_negative_margin" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" data-src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 22px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: center;">RED TEAM</h5>
                                                    <p style="text-align: center;">Emulación de adversarios</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 16px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <a  itemprop="url" href="/es/servicios-de-red-team/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 20px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-3">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548376670802 disable_negative_margin" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" data-src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 22px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: center;">MDR</h5>
                                                    <div class="wpb_text_column wpb_content_element">
                                                       <div class="wpb_wrapper">
                                                          <p style="text-align: center;">Gestiona la seguridad de tu empresa</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 16px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <a  itemprop="url" href="/es/mdr/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 20px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-3">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548376678986 disable_negative_margin" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" data-src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 22px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5>SEGURIDAD PROACTIVA</h5>
                                                    <div class="wpb_text_column wpb_content_element">
                                                       <div class="wpb_wrapper">
                                                          <p>Mejora tu ciberseguridad</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 16px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <a  itemprop="url" href="/es/contacto" target="_self"  class="qbutton  white default  qode-button-shadow" style="">VER MÁS</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546229203903" style=' text-align:left;'>
                <div class="full_section_inner clearfix">
                   <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                         <div class="wpb_wrapper">
                            <div class="qode-advanced-call-to-action" style="height:140px">
                               <a class="advanced-cta-link" href="/es/contacto" target="_self"></a>
                               <div class="qode-advanced-cta-content">		
                                  <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px">
                                  Prioiza controles y mitiga riesgos	    </span>
                                  <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                  <span class="qode-advanced-cta-icon-holder-table">
                                  <span class="qode-advanced-cta-icon-holder-cell" >
                                  <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                  </span>
                                  </span>
                               </div>
                               <div class="qode-advanced-cta-background-holder">
                                  <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                  <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                  <span class="qode-advanced-cta-background-3"></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    </div>

{% include es/footer.liquid %}
