.vc_custom_1550190772044 {
	background-image: url(/assets/uploads/2019/02/Puffin-security-testimonials-cybersecurity-services-3.jpg?id=2193) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1549564044678 {
	background-color: #f2f2f2 !important;
}

.vc_custom_1549565002452 {
	padding-top: 140px !important;
	padding-bottom: 55px !important;
}

.vc_custom_1549565117566 {
	background-color: #ffffff !important;
}

.vc_custom_1546439158219 {
	padding-top: 60px !important;
	padding-bottom: 40px !important;
	background: #f2f2f2 url(/assets/uploads/2019/01/home_pay_pic11.png?id=588) !important;
}

.vc_custom_1546439217478 {
	background-color: #f2f2f2 !important;
}

.vc_custom_1549538379103 {
	background-color: #f4f4f4 !important;
}

.vc_custom_1549538393273 {
	padding-top: 60px !important;
	padding-bottom: 70px !important;
	background-color: #f4f4f4 !important;
}

.vc_custom_1546404136148 {
	padding-top: 10% !important;
	padding-bottom: 30% !important;
}

.vc_custom_1481124718179 {
	margin-top: -12.2% !important;
}

.vc_custom_1549564954108 {
	margin-right: 10px !important;
	margin-bottom: 50px !important;
	margin-left: 10px !important;
}

.vc_custom_1549564959109 {
	margin-right: 10px !important;
	margin-bottom: 50px !important;
	margin-left: 10px !important;
}

.vc_custom_1549564963094 {
	margin-right: 10px !important;
	margin-bottom: 50px !important;
	margin-left: 10px !important;
}

.vc_custom_1546416375561 {
	background-color: #ffffff !important;
}

.vc_custom_1546416375561 {
	background-color: #ffffff !important;
}

.vc_custom_1546416375561 {
	background-color: #ffffff !important;
}

.vc_custom_1509629671284 {
	padding-top: 8% !important;
	padding-bottom: 65px !important;
}

.vc_custom_1508422018910 {
	padding-bottom: 20% !important;
}

.vc_custom_1508421058822 {
	padding-right: 30px !important;
}

.vc_custom_1546436396619 {
	margin-top: -25% !important;
	border-top-width: 20px !important;
	border-right-width: 20px !important;
	border-bottom-width: 20px !important;
	border-left-width: 20px !important;
	background-image: url(/assets/uploads/2019/01/background-video-1200.jpg?id=576) !important;
	border-left-color: #eaeaea !important;
	border-left-style: solid !important;
	border-right-color: #eaeaea !important;
	border-right-style: solid !important;
	border-top-color: #eaeaea !important;
	border-top-style: solid !important;
	border-bottom-color: #eaeaea !important;
	border-bottom-style: solid !important;
}

.vc_custom_1549565344081 {
	padding-top: 15% !important;
	padding-right: 15% !important;
	padding-left: 20% !important;
	background-color: #ffffff !important;
}

.vc_custom_1549565269993 {
	padding-top: 12% !important;
	padding-bottom: 12% !important;
}

.vc_custom_1546436213216 {
	margin-top: -80px !important;
}

.vc_custom_1509374367916 {
	padding-top: 17.5% !important;
	padding-bottom: 16% !important;
}

.vc_custom_1548548222957 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548548216226 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548548209092 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.page-id-97.transparent_content,
.page-id-97.transparent_content.overlapping_content .content .content_inner>.container,
.page-id-97.transparent_content.overlapping_content .content .content_inner>.full_width {
	background-image: url(/assets/uploads/2018/12/background-whole.jpg);
	background-size: cover;
	background-position: center 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.page-id-97.disabled_footer_top .footer_top_holder,
.page-id-97.disabled_footer_bottom .footer_bottom_holder {
	display: none;
}