.vc_custom_1550166902656 {
	background-image: url(/assets/uploads/2019/02/Puffin-security-wifi-wireless-networks-cyber-security-audit.jpg?id=2110) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1549569969851 {
	padding-top: 90px !important;
}

.vc_custom_1550150920303 {
	padding-top: 7% !important;
	padding-bottom: 7% !important;
}

.vc_custom_1550152265986 {
	padding-top: 80px !important;
	background-color: #f2f2f2 !important;
}

.vc_custom_1550751741198 {
	padding-bottom: 40px !important;
	background-color: #f2f2f2 !important;
}

.vc_custom_1550751767637 {
	padding-bottom: 100px !important;
}

.vc_custom_1548890946395 {
	background-image: url(/assets/uploads/2019/01/advantages-benefits-cyber-security-auditing-puffin-security.jpg?id=1228) !important;
}

.vc_custom_1550156005455 {
	padding-top: 90px !important;
	padding-bottom: 90px !important;
}

.vc_custom_1550155845523 {
	padding-top: 90px !important;
	padding-bottom: 90px !important;
}

.vc_custom_1548545321638 {
	background-image: url(/assets/uploads/2018/12/blue2.jpg?id=242) !important;
}

.vc_custom_1550239824163 {
	padding-top: 90px !important;
	padding-bottom: 90px !important;
	background-color: #f2f2f2 !important;
}

.vc_custom_1550153883340 {
	padding-bottom: 80px !important;
}

.vc_custom_1548898682701 {
	padding-top: 140px !important;
	padding-bottom: 140px !important;
	background-image: url(/assets/uploads/2019/01/experienced-a-data-breach-we-can-help-you-with-incident-response-e1565088203154.jpg) !important;
}

.vc_custom_1550154776272 {
	background-color: #f2f2f2 !important;
}

.vc_custom_1550154764291 {
	padding-top: 60px !important;
	padding-bottom: 70px !important;
	background-color: #f2f2f2 !important;
}

.vc_custom_1550507482017 {
	padding-top: 8% !important;
	padding-right: 9% !important;
	padding-bottom: 8% !important;
	padding-left: 9% !important;
}

.vc_custom_1548875727298 {
	margin-top: -5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.vc_custom_1548358340228 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1549569725402 {
	padding-top: 10% !important;
	padding-right: 10% !important;
	padding-bottom: 10% !important;
	padding-left: 10% !important;
}

.vc_custom_1549569491131 {
	padding-top: 10% !important;
	padding-right: 10% !important;
	padding-bottom: 20% !important;
	padding-left: 10% !important;
}

.vc_custom_1548358340228 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1550751729207 {
	padding-top: 9% !important;
	padding-right: 9% !important;
	padding-bottom: 9% !important;
	padding-left: 9% !important;
}

.vc_custom_1550751709713 {
	padding-top: 9% !important;
	padding-right: 9% !important;
	padding-bottom: 9% !important;
	padding-left: 9% !important;
}

.vc_custom_1550146038139 {
	padding-left: 10px !important;
}

.vc_custom_1550150337664 {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

.vc_custom_1527595327842 {
	padding-top: 115px !important;
}

.vc_custom_1548607264319 {
	margin-top: -45px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	background-color: #ff3a3a !important;
}

.vc_custom_1550752310656 {
	padding-top: 9% !important;
	padding-bottom: 9% !important;
	padding-left: 10px !important;
}

.vc_custom_1550148164879 {
	padding-top: 10% !important;
	padding-right: 10% !important;
	padding-bottom: 10% !important;
	padding-left: 10% !important;
}

.vc_custom_1550148181388 {
	padding-top: 10% !important;
	padding-right: 10% !important;
	padding-bottom: 20% !important;
	padding-left: 10% !important;
}

.vc_custom_1550155879278 {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}

.vc_custom_1550155832724 {
	padding-right: 5% !important;
	padding-left: 5% !important;
}

.vc_custom_1546436213216 {
	margin-top: -80px !important;
}

.vc_custom_1509374367916 {
	padding-top: 17.5% !important;
	padding-bottom: 16% !important;
}

.vc_custom_1550237817922 {
	padding-right: 5% !important;
	padding-left: 20% !important;
}

.vc_custom_1550242820273 {
	padding-right: 10% !important;
	padding-left: 10% !important;
}

.vc_custom_1548898439654 {
	padding-top: 9% !important;
	padding-bottom: 9% !important;
}

.vc_custom_1549570311973 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1549570300212 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1549570305684 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1546390920460 {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	background-color: #152535 !important;
}

.vc_custom_1546440172136 {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	background-color: #3c93ea !important;
}