.vc_custom_1461763813473 {
	padding-bottom: 100px !important;
}

.vc_custom_1548198829145 {
	margin-top: -80px !important;
}
.page-id-1989,
.page-id-1989 .content .content_inner>.container,
.page-id-1989 .content .content_inner>.full_width {
	background-image: url(/assets/uploads/2018/12/background-whole.jpg);
	background-size: cover;
	background-position: center 0px;
	background-repeat: no-repeat;
	background-attachment: initial;
}
