.vc_custom_1548376550939 {
	background-color: #f2f2f2 !important;
}

.vc_custom_1548376562301 {
	padding-top: 60px !important;
	padding-bottom: 70px !important;
	background-color: #f2f2f2 !important;
}

.vc_custom_1546229203903 {
	background-image: url(/assets/uploads/2018/12/blue2.jpg?id=242) !important;
}

.vc_custom_1548289220161 {
	padding-top: 16% !important;
	padding-bottom: 10.6% !important;
}

.vc_custom_1503059764905 {
	padding-right: 4% !important;
	padding-bottom: 19.8% !important;
	padding-left: 4% !important;
}

.vc_custom_1548289098349 {
	background-color: #ffffff !important;
}

.vc_custom_1548376633304 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548376661713 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548376670802 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548376678986 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}