.vc_custom_1548890647775 {
	background-image: url(/assets/uploads/2019/01/cybersecurity-incident-response-containment-service-puffin-security.jpg?id=1226) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1563788289641 {
	padding-top: 90px !important;
	
}

.vc_custom_1563788429882 {
	padding-top: 90px !important;
	padding-bottom: 40px !important;
}

.vc_custom_1563788461018 {
	padding-top: 40px !important;
	padding-bottom: 88px !important;
}

.vc_custom_1563788763014 {
	padding-top: 90px !important;
}

.vc_custom_1548619706371 {
	padding-top: 80px !important;
}

.vc_custom_1548619804597 {
	margin-bottom: -50px !important;
}
.vc_custom_1548543627640 {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
	background-image: url(/assets/uploads/2019/01/background-h2.jpg?id=426) !important;
}

.vc_custom_1548624315836 {
	background-color: #f7f7f7 !important;
}

.vc_custom_1548624326017 {
	padding-top: 60px !important;
	padding-bottom: 70px !important;
	background-color: #f7f7f7 !important;
}

.vc_custom_1548545321638 {
	background-image: url(/assets/uploads/2018/12/blue2.jpg?id=242) !important;
}

.vc_custom_1548877141934 {
	padding-top: 14% !important;
	padding-bottom: 14% !important;
}

.vc_custom_1548407533332 {
	margin-top: -5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.vc_custom_1548358340228 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1548407533332 {
	margin-top: -5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.vc_custom_1563788581819 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1548407533332 {
	margin-top: -5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.vc_custom_1563788634665 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1548358340228 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1549572540852 {
	padding-bottom: 150px !important;
}

.vc_custom_1548622874371 {
	padding-top: 80px !important;
	padding-bottom: 100px !important;
}

.vc_custom_1548624270221 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548624276617 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548624283430 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

