<section class="side_menu right">
    <a href="#" target="_self" class="close_side_menu"></a>
    <div id="custom_html-6" class="widget_text widget widget_custom_html posts_holder">
       <div class="textwidget custom-html-widget">
          <img class="size-full wp-image-30 aligncenter lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 180 55'%3E%3C/svg%3E" alt="" width="180" height="55" data-src="/assets/uploads/2018/12/Puffin-Security-Logo-176x50.png" loading="lazy" />
          <noscript><img class="size-full wp-image-30 aligncenter" src="/assets/uploads/2018/12/Puffin-Security-Logo-176x50.png" alt="" width="180" height="55" /></noscript>
          <div class="separator  normal" style="margin-top: 15px;margin-bottom: 0px;background-color: #dbdbdb;opacity: 1;height: 1pxpx;"></div>
       </div>
    </div>
    <div id="nav_menu-4" class="widget widget_nav_menu posts_holder">
      <a href="#" target="_self" class="close_side_menu">X</a>
       <div class="menu-sidebar-es-container">
          <ul id="menu-sidebar-es" class="menu">
             <li><a href="/es/servicios-de-ciberseguridad/">Servicios de ciberseguridad</a></li>
             <li><a href="/es/victima-ciberataque/">¿Víctima de un ciberataque?</a></li>
             <li><a href="/es/auditorias-de-ciberseguridad/">Auditorías de ciberseguridad</a></li>
             <li><a href="/es/servicios-de-red-team/">Servicios de red team</a></li>
             <li><a href="/es/mdr/">MDR</a></li>
          </ul>
       </div>
    </div>
    <div id="custom_html-5" class="widget_text widget widget_custom_html posts_holder">
       <div class="textwidget custom-html-widget"><span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91><a itemprop='url' href='https://www.linkedin.com/company/{{ site.linkedin }}/' target='_blank' rel="noopener noreferrer"><i class="qode_icon_font_awesome fa fa-linkedin  simple_social" style="color: #012132;margin: 0 5px 0 0;font-size: 14px;" ></i></a></span><span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91><!--<a itemprop='url' href='https://twitter.com/{{ site.twitter }}?lang=en' target='_blank' rel="noopener noreferrer"><i class="qode_icon_font_awesome fa fa-twitter  simple_social" style="color: #012132;margin: 0 5px 0 0;font-size: 14px;" ></i></a>--></span></div>
    </div>
    <div id="custom_html-16" class="widget_text widget widget_custom_html posts_holder">
       <div class="textwidget custom-html-widget">
          <img class="alignnone size-medium wp-image-2412 lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 109'%3E%3C/svg%3E" alt="" width="300" height="109" data-src="/assets/uploads/2019/02/INCIBE-y-Fondos-FEDER-300x109.png" loading="lazy" />
          <noscript><img class="alignnone size-medium wp-image-2412" src="/assets/uploads/2019/02/INCIBE-y-Fondos-FEDER-300x109.png" alt="" width="300" height="109" /></noscript>
       </div>
    </div>
 </section>
 <div class="wrapper">
 <div class="wrapper_inner">
 <!-- Google Analytics start -->
 <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-144683878-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
 </script>
 <!-- Google Analytics end -->
 <header class="has_top scroll_top  stick scrolled_not_transparent page_header">
    <div class="header_inner clearfix">
       <div class="header_top_bottom_holder">
          <div class="header_top clearfix" style='background-color:rgba(255, 255, 255, 1);' >
             <div class="left">
                <div class="inner">
                </div>
             </div>
             <div class="right">
                <div class="inner">
                   <div class="header-widget widget_nav_menu header-right-widget">
                      <div class="menu-top-header-es-container">
                         <ul id="menu-top-header-es" class="menu">
                            <li><a href="/es/victima-ciberataque/">¿Víctima de un ciberataque?</a></li>
                             <li class="website-language"><a href="/es/">ES</a> <a href="/">EN</a>
                         </ul>
                      </div>
                   </div>
                   <div class="widget_text header-widget widget_custom_html header-right-widget">
                      <div class="textwidget custom-html-widget"><span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91>
                      <a itemprop='url' href='https://www.linkedin.com/company/{{ site.linkedin }}/' target='_blank' rel="noopener noreferrer"><i class="qode_icon_font_awesome fa fa-linkedin  simple_social" style="color: #012132;margin: 0 20px 0 0;font-size: 14px;" ></i></a></span><span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91><!--<a itemprop='url' href='https://twitter.com/{{ site.twitter }}?lang=en' target='_blank' rel="noopener noreferrer"><i class="qode_icon_font_awesome fa fa-twitter  simple_social" style="color: #012132;margin: 0 20px 0 0;font-size: 14px;" ></i></a>--></span>
                      <span class='q_social_icon_holder normal_social' data-color=#012132 data-hover-color=#276c91>
                      <a itemprop='url' href="#" target='_blank' rel="noopener noreferrer">
                      <i class="qode_icon_font_awesome fa fa-youtube-play simple_social" style="color: #012132;margin: 0 20px 0 0;font-size: 14px;" aria-hidden="true"></i>
                      </a>
                      </span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="header_bottom clearfix" style=' background-color:rgba(255, 255, 255, 1);' >
             <div class="header_inner_left">
                <div class="mobile_menu_button">
                   <span>
                   <i class="qode_icon_font_awesome fa fa-bars" ></i>		</span>
                </div>
                <div class="logo_wrapper" >
                   <div class="q_logo">
                      <a itemprop="url" href="/es/" >
                         <img itemprop="image" class="normal lazyload" src="/assets/uploads/2023/01/logo-pufoon.png" alt="Logo" data-src="/assets/uploads/2023/01/logo-pufoon.png" loading="lazy" />
                      </a>
                   </div>
                </div>
             </div>
             <div class="header_inner_right">
                <div class="side_menu_button_wrapper right">
                   <div class="header_bottom_right_widget_holder">
                      <div class="widget_text header_bottom_widget widget_custom_html">
                         <div class="textwidget custom-html-widget"><a itemprop="url" href="https://hub.puffinsecurity.com/presupuesto" target="_self" class="qbutton  default" style="" rel="noopener noreferrer">Solicita Presupuesto</a></div>
                      </div>
                   </div>
                   <div class="side_menu_button">
                      <a class="side_menu_button_link normal" href="javascript:void(0)">
                      <i class="qodef-icon-dripicons dripicon dripicons-view-apps" ></i>	</a>
                   </div>
                </div>
             </div>
             <nav class="main_menu drop_down right">
                <ul id="menu-principal" class="">
                   
                   <li id="nav-menu-item-2020" class="{% if page.active == 'home' %} current-menu-item current_page_item active {% else %} narrow {% endif %}"><a href="/es/" class="current"><i class="menu_icon icon-basic-home fa"></i><span>Inicio<span class="underline_dash"></span></span><span class="plus"></span></a></li>
                   <li id="nav-menu-item-2018" class="{% if page.active == 'por-que-puffin' %} current-menu-item current_page_item active {% else %} narrow {% endif %}"><a href="/es/por-que-puffin/" class=""><i class="menu_icon blank fa"></i><span>¿Por qué Puffin?<span class="underline_dash"></span></span><span class="plus"></span></a></li>
                   <li id="nav-menu-item-2016" class="has_sub wide right_position">
                      <a href="/es/servicios-de-ciberseguridad/" class="{% if page.active == 'servicios-de-ciberseguridad' %} active {% else %} narrow {% endif %}"><i class="menu_icon icon-arrows-down fa"></i><span>Ciberseguridad<span class="underline_dash"></span></span><span class="plus"></span></a>
                      <div class="second">
                         <div class="inner">
                            <ul>
                               <li id="nav-menu-item-2741" class="sub">
                                  <a href="#" class=""><i class="menu_icon blank fa"></i><span>AUDITORÍAS</span><span class="plus"></span><i class="q_menu_arrow fa fa-angle-right"></i></a>
                                  <ul>
                                     <li id="nav-menu-item-2783" class=""><a href="/es/auditorias-de-ciberseguridad/internet-of-things/" class=""><i class="menu_icon blank fa"></i><span>Internet of Things</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2780" class=""><a href="/es/auditorias-de-ciberseguridad/aplicaciones-web/" class=""><i class="menu_icon blank fa"></i><span>Aplicaciones Web</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2781" class=""><a href="/es/auditorias-de-ciberseguridad/aplicacion-movil/" class=""><i class="menu_icon blank fa"></i><span>Aplicaciones Móviles</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2782" class=""><a href="/es/auditorias-de-ciberseguridad/source-code/" class=""><i class="menu_icon blank fa"></i><span>Codigo fuente</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2789" class=""><a href="/es/auditorias-de-ciberseguridad/wifi-wireless-networks/" class=""><i class="menu_icon blank fa"></i><span>Redes Wi-Fi</span><span class="plus"></span></a></li>
                                  </ul>
                               </li>
                               <li id="nav-menu-item-2740" class="sub">
                                  <a href="#" class=""><i class="menu_icon blank fa"></i><span>SERVICIOS</span><span class="plus"></span><i class="q_menu_arrow fa fa-angle-right"></i></a>
                                  <ul>
                                     <li id="nav-menu-item-2739" class=""><a href="/es/servicios-de-ciberseguridad/" class=""><i class="menu_icon blank fa"></i><span>Servicios</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2013" class=""><a href="/es/auditorias-de-ciberseguridad/" class=""><i class="menu_icon blank fa"></i><span>Auditorías de ciberseguridad</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2012" class=""><a href="/es/servicios-de-red-team/" class=""><i class="menu_icon blank fa"></i><span>Servicios de red team</span><span class="plus"></span></a></li>
                                     <li id="nav-menu-item-2011" class=""><a href="/es/mdr/" class=""><i class="menu_icon blank fa"></i><span>MDR</span><span class="plus"></span></a></li>
                                  </ul>
                               </li>
                            </ul>
                         </div>
                      </div>
                   </li>
                   <li id="nav-menu-item-2022" class="has_sub narrow {% if page.active == 'expertos-en-ciberseguridad' %} active {% else %} narrow {% endif %}">
                      <a href="/es/expertos-en-ciberseguridad/" class=""><i class="menu_icon icon-arrows-down fa"></i><span>Compañía<span class="underline_dash"></span></span><span class="plus"></span></a>
                      <div class="second">
                         <div class="inner">
                            <ul>
                               <li id="nav-menu-item-2019" class=""><a href="/es/expertos-en-ciberseguridad/" class=""><i class="menu_icon blank fa"></i><span>Sobre nosotros</span><span class="plus"></span></a></li>
                               <li id="nav-menu-item-2010" class=""><a href="/es/nuestros-clientes/" class=""><i class="menu_icon blank fa"></i><span>Nuestros clientes</span><span class="plus"></span></a></li>
                               <li id="nav-menu-item-2009" class=""><a href="/es/programa-de-partners/" class=""><i class="menu_icon blank fa"></i><span>Programa de partners</span><span class="plus"></span></a></li>
                            </ul>
                         </div>
                      </div>
                   </li>
                   <li id="nav-menu-item-2818" class="{% if page.active == 'blog' %} current-menu-item current_page_item active {% else %} narrow {% endif %}"><a href="/es/blog-de-ciberseguridad/blog/" class=""><i class="menu_icon blank fa"></i><span>Blog<span class="underline_dash"></span></span><span class="plus"></span></a></li>
                </ul>
             </nav>
             <nav class="mobile_menu">
                <ul id="menu-movil" class="">
                   <li id="mobile-menu-item-2435" class=" "><a href="/es/" class="current"><span>Inicio</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                   <li id="mobile-menu-item-2436" class="current-menu-item current_page_item active"><a href="/es/por-que-puffin/" class=""><span>¿Por qué Puffin?</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                   <li id="mobile-menu-item-2440" class="has_sub">
                      <a href="/es/servicios-de-ciberseguridad/" class=""><span>Ciberseguridad</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                      <ul class="sub_menu">
                         <li id="mobile-menu-item-2441" class=""><a href="/es/auditorias-de-ciberseguridad/" class=""><span>Auditorías de ciberseguridad</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                         <li id="mobile-menu-item-2442" class=""><a href="/es/mdr/" class=""><span>MDR</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                         <li id="mobile-menu-item-2443" class=""><a href="/es/servicios-de-red-team/" class=""><span>Servicios de red team</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                      </ul>
                   </li>
                   <li id="mobile-menu-item-2446" class="has_sub">
                      <a href="/es/expertos-en-ciberseguridad/" class=""><span>Compañía</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span>
                      <ul class="sub_menu">
                         <li id="mobile-menu-item-2437" class=""><a href="/es/expertos-en-ciberseguridad/" class=""><span>Expertos en ciberseguridad</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                         <li id="mobile-menu-item-2438" class=""><a href="/es/nuestros-clientes/" class=""><span>Nuestros clientes</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                         <li id="mobile-menu-item-2439" class=""><a href="/es/programa-de-partners/" class=""><span>Programa de partners</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                      </ul>
                   </li>
                   <li id="mobile-menu-item-2444" class=""><a href="/es/blog-de-ciberseguridad/blog/" class=""><span>Blog</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                   <li id="mobile-menu-item-2445" class=""><a href="/es/contacto/" class=""><span>Contacto</span></a><span class="mobile_arrow"><i class="fa fa-angle-right"></i><i class="fa fa-angle-down"></i></span></li>
                </ul>
             </nav>
          </div>
       </div>
    </div>
 </header>
