.page-id-1801.transparent_content,
.page-id-1801.transparent_content.overlapping_content .content .content_inner>.container,
.page-id-1801.transparent_content.overlapping_content .content .content_inner>.full_width {
	background-image: url(/assets/uploads/2018/12/background-whole.jpg);
	background-size: cover;
	background-position: center 0px;
	background-repeat: no-repeat;
	background-attachment: initial;
}

.page-id-1801.disabled_footer_top .footer_top_holder,
.page-id-1801.disabled_footer_bottom .footer_bottom_holder {
	display: none;
}

.vc_custom_1550191281469 {
	background-image: url(/assets/uploads/2019/02/puffin-security-cyber-sercurity-audit-services-ciberseguridad-auditorias-1.jpg?id=2196) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1548875693308 {
	margin-top: -5px !important;
	background-color: #f2f2f2 !important;
}

.vc_custom_1548534750152 {
	background-color: #f2f2f2 !important;
}

.vc_custom_1548543973112 {
	margin-top: -30px !important;
	padding-bottom: 80px !important;
	background-color: #f2f2f2 !important;
}

.vc_custom_1549569969851 {
	padding-top: 90px !important;
}

.vc_custom_1548890946395 {
	background-image: url(/assets/uploads/2019/01/advantages-benefits-cyber-security-auditing-puffin-security.jpg?id=1228) !important;
}

.vc_custom_1548898566396 {
	padding-top: 85px !important;
}

.vc_custom_1548898682701 {
	padding-top: 140px !important;
	padding-bottom: 140px !important;
	background-image: url(/assets/uploads/2019/08/experienced-a-data-breach-we-can-help-you-with-incident-response.jpg?id=1267) !important;
}

.vc_custom_1548375315782 {
	padding-top: 60px !important;
	padding-bottom: 70px !important;
}

.vc_custom_1548545321638 {
	background-image: url(/assets/uploads/2018/12/blue2.jpg?id=242) !important;
}

.vc_custom_1548888772962 {
	padding-top: 14% !important;
	padding-bottom: 14% !important;
}

.vc_custom_1548875727298 {
	margin-top: -5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.vc_custom_1527600457938 {
	padding-right: 15px !important;
}

.vc_custom_1551779892103 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.vc_custom_1527600481486 {
	padding-left: 15px !important;
}

.vc_custom_1527600467704 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.vc_custom_1527600457938 {
	padding-right: 15px !important;
}

.vc_custom_1527600481486 {
	padding-left: 15px !important;
}

.vc_custom_1548358340228 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1551776054437 {
	padding-top: 10% !important;
	padding-right: 10% !important;
	padding-bottom: 20% !important;
	padding-left: 10% !important;
}

.vc_custom_1527595327842 {
	padding-top: 115px !important;
}

.vc_custom_1548607264319 {
	margin-top: -45px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	background-color: #ff3a3a !important;
}

.vc_custom_1548543876288 {
	padding-left: 10px !important;
}

.vc_custom_1548898439654 {
	padding-top: 9% !important;
	padding-bottom: 9% !important;
}

.vc_custom_1549570311973 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1549570300212 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1549570305684 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}