.vc_custom_1549629367860 {
	background-image: url(/assets/uploads/2019/02/puffin-security-experienced-a-data-breach-contact-us.jpg?id=1628) !important;
}

.vc_custom_1546423312686 {
	background-color: #ffffff !important;
}

.vc_custom_1548899450547 {
	background-image: url(/assets/uploads/2018/07/puffinsecurity-partiendo-la-base-exploiting-ciberseguridad.jpg?id=771) !important;
}

.vc_custom_1503064533211 {
	padding-top: 8.9% !important;
	padding-bottom: 8.9% !important;
}

.vc_custom_1550312809568 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.vc_custom_1546429606463 {
	padding-top: 80px !important;
	padding-bottom: 400px !important;
}

.vc_custom_1546428957301 {
	padding-top: 5.5% !important;
	padding-bottom: 15.5% !important;
}

.vc_custom_1546429642907 {
	margin-top: -42% !important;
}

.vc_custom_1546424115802 {
	background-color: #ffffff !important;
}

.vc_custom_1550007165813 {
	background-color: #ffffff !important;
}

.vc_custom_1546423526125 {
	background-color: #ffffff !important;
}

.vc_custom_1551792743713 {
	background-color: #ffffff !important;
}

.vc_custom_1546425851240 {
	margin-top: -35% !important;
	padding-right: 7% !important;
	padding-left: 7% !important;
	background-color: #ffffff !important;
}