.vc_custom_1550492442250 {
	padding-top: 100px !important;
	padding-right: 5% !important;
	padding-bottom: 450px !important;
	padding-left: 5% !important;
}

.vc_custom_1549541154932 {
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}

.vc_custom_1549541077594 {
	padding-bottom: 80px !important;
}

.vc_custom_1549541221609 {
	background-image: url(/assets/uploads/2019/01/incident-response-and-containment-security-breach-recovery-cyber-security-puffin.jpg?id=1230) !important;
}

.vc_custom_1549541118256 {
	padding-top: 80px !important;
}

.vc_custom_1546398314217 {
	padding-bottom: 80px !important;
}

.vc_custom_1549445356212 {
	padding-top: 7% !important;
	padding-bottom: 7% !important;
}

.vc_custom_1550492634670 {
	padding-top: 80px !important;
	padding-right: 9% !important;
	padding-bottom: 400px !important;
	padding-left: 9% !important;
}

.vc_custom_1546398432501 {
	padding-top: 5.5% !important;
	padding-bottom: 15.5% !important;
}

.vc_custom_1548357181630 {
	margin-top: -40% !important;
}

.vc_custom_1549445021853 {
	padding-top: 5% !important;
	padding-bottom: 5% !important;
}

.vc_custom_1550492579071 {
	padding-right: 9% !important;
	padding-left: 9% !important;
}

.vc_custom_1546395625301 {
	padding-top: 5% !important;
	padding-bottom: 5% !important;
}

.vc_custom_1550492587806 {
	padding-top: 60px !important;
	padding-right: 9% !important;
	padding-bottom: 40px !important;
	padding-left: 9% !important;
}

.vc_custom_1549541821787 {
	padding-top: 75px !important;
}

.vc_custom_1549541723228 {
	margin-top: -45px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	background-color: #ff6600 !important;
}

.vc_custom_1550492600029 {
	padding-right: 9% !important;
	padding-left: 9% !important;
}

.vc_custom_1550492610299 {
	padding-top: 60px !important;
	padding-right: 9% !important;
	padding-bottom: 40px !important;
	padding-left: 9% !important;
}

.vc_custom_1546395625301 {
	padding-top: 5% !important;
	padding-bottom: 5% !important;
}

.vc_custom_1546390920460 {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	background-color: #152535 !important;
}

.vc_custom_1546440172136 {
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	background-color: #3c93ea !important;
}