.vc_custom_1549560468130 {
	background-image: url(/assets/uploads/2019/02/Puffin-security-testimonials-cybersecurity-why-puffin-security.jpg?id=1465) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1548372294750 {
	background-image: url(/assets/uploads/2019/01/services-big-quote.jpg?id=557) !important;
}

.vc_custom_1549561360335 {
	padding-top: 30px !important;
}

.vc_custom_1548900665655 {
	background-image: url(/assets/uploads/2019/08/experienced-a-data-breach-we-can-help-you-with-incident-response.jpg?id=1267) !important;
}

.vc_custom_1548375315782 {
	padding-top: 60px !important;
	padding-bottom: 70px !important;
}

.vc_custom_1548376401119 {
	background-image: url(/assets/uploads/2018/12/home-parallax2.jpg?id=181) !important;
}

.vc_custom_1548366369291 {
	padding-top: 10% !important;
	padding-bottom: 10% !important;
}

.vc_custom_1548372756783 {
	padding-top: 80px !important;
}

.vc_custom_1549447456359 {
	padding-top: 5% !important;
	padding-bottom: 9% !important;
}

.vc_custom_1508844313230 {
	padding-top: 10% !important;
	padding-bottom: 10% !important;
}

.vc_custom_1508844237087 {
	padding-right: 3% !important;
	padding-left: 3% !important;
}

.vc_custom_1548548222957 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548548216226 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548548209092 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}