.vc_custom_1550229148205 {
	background-image: url(/assets/uploads/2019/02/Puffin-security-cyber-security-partnership.jpg?id=2259) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1549569969851 {
	padding-top: 90px !important;
}

.vc_custom_1549575805239 {
	padding-top: 90px !important;
}

.vc_custom_1549575813866 {
	padding-top: 85px !important;
	padding-bottom: 80px !important;
}

.vc_custom_1548890946395 {
	background-image: url(/assets/uploads/2019/01/advantages-benefits-cyber-security-auditing-puffin-security.jpg?id=1228) !important;
}

.vc_custom_1549019703736 {
	background-image: url(/assets/uploads/2018/12/home-parallax2.jpg?id=181) !important;
}

.vc_custom_1548888772962 {
	padding-top: 14% !important;
	padding-bottom: 14% !important;
}

.vc_custom_1548875727298 {
	margin-top: -5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.vc_custom_1548358340228 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1549574070125 {
	padding-top: 5% !important;
	padding-right: 10% !important;
	padding-bottom: 5% !important;
	padding-left: 10% !important;
}

.vc_custom_1549574062955 {
	padding-top: 5% !important;
	padding-right: 10% !important;
	padding-left: 10% !important;
}

.vc_custom_1549574038143 {
	padding-bottom: 150px !important;
}

.vc_custom_1548358340228 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1549575582908 {
	padding-left: 10px !important;
}

.vc_custom_1527595327842 {
	padding-top: 115px !important;
}

.vc_custom_1548607264319 {
	margin-top: -45px !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	background-color: #ff3a3a !important;
}