.vc_custom_1548890499977 {
	background-image: url(/assets/uploads/2019/01/cybersecurity-adversarial-testing-red-team-service-puffin-security.jpg?id=1224) !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.vc_custom_1548544068529 {
	padding-top: 90px !important;
	padding-bottom: 88px !important;
}

.vc_custom_1548897901196 {
	background-image: url(/assets/uploads/2019/01/incident-response-and-containment-security-breach-recovery-cyber-security-puffin.jpg?id=1230) !important;
}

.vc_custom_1548897515394 {
	padding-top: 100px !important;
	padding-bottom: 100px !important;
	background-image: url(/assets/uploads/2019/08/experienced-a-data-breach-we-can-help-you-with-incident-response.jpg?id=1267) !important;
}

.vc_custom_1548624315836 {
	background-color: #f7f7f7 !important;
}

.vc_custom_1548624326017 {
	padding-top: 60px !important;
	padding-bottom: 70px !important;
	background-color: #f7f7f7 !important;
}

.vc_custom_1548676440573 {
	background-image: url(/assets/uploads/2018/12/home-parallax2.jpg?id=181) !important;
}

.vc_custom_1550510112741 {
	padding-top: 14% !important;
	padding-right: 9% !important;
	padding-bottom: 14% !important;
	padding-left: 9% !important;
}

.vc_custom_1548407533332 {
	margin-top: -5px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.vc_custom_1548358340228 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1549570751530 {
	padding-top: 5% !important;
	padding-right: 15% !important;
	padding-bottom: 5% !important;
	padding-left: 15% !important;
}

.vc_custom_1549570744268 {
	padding-top: 5% !important;
	padding-bottom: 5% !important;
}

.vc_custom_1548675309541 {
	padding-top: 100px !important;
}

.vc_custom_1550510828548 {
	padding-right: 9% !important;
	padding-left: 9% !important;
}

.vc_custom_1548675329822 {
	padding-right: 9% !important;
	padding-left: 9% !important;
}

.vc_custom_1548615190202 {
	padding-left: 10px !important;
}

.vc_custom_1548615318507 {
	padding-right: 8% !important;
	padding-left: 8% !important;
}

.vc_custom_1548622874371 {
	padding-top: 80px !important;
	padding-bottom: 100px !important;
}

.vc_custom_1548624270221 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548624276617 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}

.vc_custom_1548624283430 {
	border-top-width: 1px !important;
	border-right-width: 1px !important;
	border-bottom-width: 1px !important;
	border-left-width: 1px !important;
	padding-top: 30px !important;
	padding-right: 15px !important;
	padding-bottom: 30px !important;
	padding-left: 15px !important;
	background-color: #ffffff !important;
	border-left-color: #dbdbdb !important;
	border-left-style: solid !important;
	border-right-color: #dbdbdb !important;
	border-right-style: solid !important;
	border-top-color: #dbdbdb !important;
	border-top-style: solid !important;
	border-bottom-color: #dbdbdb !important;
	border-bottom-style: solid !important;
}