{% include head.liquid %}
{% include header.liquid %}

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner no_animation">
          <div class="full_width">
             <div class="full_width_inner" >
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549629367860" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner vc_custom_1546429606463">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1546428957301 grid_section" style=' text-align:left;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <p><span style="color: #ffffff;">DON´T DELAY YOUR CYBERSECURITY</span></p>
                                                    </div>
                                                 </div>
                                                 <div class="custom_font_holder" style=" font-size: 70px; line-height: 80px; font-style: normal; font-weight: 700; color: #ffffff; text-decoration: none; letter-spacing: -4.2px; text-align: left;">Keep on touch</div>
                                                 <div class="vc_empty_space"  style="height: 32px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h4 style="text-align: left;"><span style="color: #ffffff;">We want to hear from you. Whether you are an startup, a legal or IT company, investor, or prospective partner, we are here to serve your needs. Let us know you and we will tell you what can we do for your business</span></h4>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546423312686 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1546429642907">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder three_columns eh_three_columns_50_25_25 responsive_mode_from_1000' >
                                     <div class='q_elements_item' data-animation='no' style='background-color:#ffffff;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_942098' style='padding:17% 14% 16%'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_942098{ padding: 76px 11% 11% 11% !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_942098{ padding: 102px 9% 14% 8% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_942098{ padding: 46px 8% 14% 8% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_942098{ padding: 46px 8% 14% 8% !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h2>Contact us<br />
                                                       Book <span style="color: #ff6600;">now</span><br />
                                                       a meeting
                                                    </h2>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 26px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4><span style="color: #999999;">Are you ready to manage all the cyber security challenges <b>by yourself</b>? Contact us now and we will explain you how we can help your company to prevent data breaches and be protected against any threat.</span></h4>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 33px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <span class='q_social_icon_holder circle_social' data-color=#110042 data-hover-background-color=#3083ff data-hover-border-color=#3083ff data-hover-color=#ffffff>
                                              <a itemprop='url' href='https://www.linkedin.com/company/{{ site.linkedin }}' target='_self'>
                                              <span class='fa-stack' style='display: flex;justify-content: center;background-color: rgba(255, 255, 255, 1);border-color: #e1e1e1;border-width: 2px;margin: 0 10px 0 0;font-size: 22px;'>
                                              <i class="qode_icon_font_awesome fa fa-linkedin" style="color: #110042;font-size: 18px;" ></i></span>
                                              </a></span>
                                              <span class='q_social_icon_holder circle_social' data-color=#110042 data-hover-background-color=#3083ff data-hover-border-color=#3083ff data-hover-color=#ffffff>
                                              <a itemprop='url' href='https://twitter.com/{{ site.twitter }}' target='_self'>
                                              <span class='fa-stack' style='display: flex;justify-content: center;background-color: rgba(255, 255, 255, 1);border-color: #e1e1e1;border-width: 2px;margin: 0 10px 0 0;font-size: 22px;'>
                                              <i class="qode_icon_font_awesome fa fa-twitter" style="color: #110042;font-size: 18px;" ></i></span></a></span>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;vertical-align:middle;text-align:center;' data-bg="/assets/uploads/2019/01/contact-us-vertical.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_555668' style='padding:0 0 0 0'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_555668{ padding: 32% 0 32% 0 !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_555668{ padding: 45% 0 45% 0 !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_555668{ padding: 45% 0 45% 0 !important;}}</style>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item' data-animation='no' style='background-color:#459ce8;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_582690' style='padding:12% 20px 12%'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_582690{ padding: 32% 0 32% 0 !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_582690{ padding: 45% 0 45% 0 !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_582690{ padding: 45% 0 45% 0 !important;}}</style>
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <a href="https://goo.gl/maps/pxLLgq63b9x" target="_self">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3C/svg%3E" width="50" height="50" alt="contact-address" title="contact-address" data-src="/assets/uploads/2019/01/contact-address-50x50.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/contact-address-50x50.png" width="50" height="50" alt="contact-address" title="contact-address" /></noscript>
                                                       </div>
                                                    </a>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 10px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p style="text-align: center;"><a href="https://goo.gl/maps/pxLLgq63b9x"><span style="color: #ffffff;">LOCATION</span></a></p>
                                                 </div>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p style="text-align: center;"><span style="color: #ffffff;">1515 Sutter St, San Francisco, CA, 94109, USA</span></p>
                                                    <p style="text-align: center;"><span style="color: #ffffff;">Juan Pantoja 1 2B,28039 Madrid, España</span></p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 25px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <a href="tel:+34919217257" target="_blank">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3C/svg%3E" width="50" height="50" alt="contact-phone" title="contact-phone" data-src="/assets/uploads/2019/01/contact-phone-50x50.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/contact-phone-50x50.png" width="50" height="50" alt="contact-phone" title="contact-phone" /></noscript>
                                                       </div>
                                                    </a>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 10px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p style="text-align: center;"><span style="color: #ffffff;">PHONE</span></p>
                                                 </div>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p style="text-align: center;"><span style="color: #ffffff;">+34 919 217 257</span></p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 25px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <a href="mailto:info@puffinsecurity.com" target="_blank">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3C/svg%3E" width="50" height="50" alt="contact-email" title="contact-email" data-src="/assets/uploads/2019/01/contact-email-50x50.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/contact-email-50x50.png" width="50" height="50" alt="contact-email" title="contact-email" /></noscript>
                                                       </div>
                                                    </a>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 10px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p style="text-align: center;"><a href="mailto:info@puffinsecurity.com" target="_blank" rel="noopener noreferrer"><span style="color: #ffffff;">EMAIL</span></a></p>
                                                 </div>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p style="text-align: center;"><a href="mailto:info@puffinsecurity.com" target="_blank" rel="noopener noreferrer"><span style="color: #ffffff;">info@puffinsecurity.com</span></a></p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 25px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space  vc_custom_1546424115802"  style="height: 80px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element  vc_custom_1546423516369">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Get in Touch!</h3>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space  vc_custom_1546423526125"  style="height: 15px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_text_column wpb_content_element  vc_custom_1548352888780">
                                     <div class="wpb_wrapper">
                                        <h4 style="text-align: center;"><span style="color: #808080;">Fill up this form to contact us if you have any futher questions.<br />
                                           We will contact you shortly</span>
                                        </h4>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder one_column responsive_mode_from_768'  style='background-color:#ffffff'>
                                     <div class='q_elements_item' data-animation='no' style='background-color:#ffffff;background-image: url();background-position: center;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_806341' style='padding:10%'>
                                              <div role="form" class="wpcf7" id="wpcf7-f135-p98-o1" lang="en-US" dir="ltr">
                                                 <div class="screen-reader-response"></div>
                                                 <form action="/contact-us/#wpcf7-f135-p98-o1" method="post" class="wpcf7-form default mailchimp-ext-0.5.18" novalidate="novalidate">
                                                    <div style="display: none;">
                                                       <input type="hidden" name="_wpcf7" value="135" />
                                                       <input type="hidden" name="_wpcf7_version" value="5.1.7" />
                                                       <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                       <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f135-p98-o1" />
                                                       <input type="hidden" name="_wpcf7_container_post" value="98" />
                                                    </div>
                                                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                                                    <script>
                                                       hbspt.forms.create({
                                                       portalId: "4879471",
                                                       formId: "3768d92a-ad44-4eaf-a805-86132b145561"
                                                       });
                                                    </script>
                                                    <!--
                                                       <div id="responsive-form" class="clearfix">
                                                       <div class="form-row">
                                                       <div class="column-full">EMAIL<span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span></div>
                                                       </div>
                                                       <div class="form-row">
                                                       <div class="column-half">FIRST NAME<span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                       <div class="column-half">LAST NAME<span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                       </div>
                                                       <div class="form-row">
                                                       <div class="column-half">COMPANY<span class="wpcf7-form-control-wrap company"><input type="text" name="company" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                       <div class="column-half">EMPLOYEES<span class="wpcf7-form-control-wrap employees"><input type="number" name="employees" value="" class="wpcf7-form-control wpcf7-number wpcf7-validates-as-required wpcf7-validates-as-number" aria-required="true" aria-invalid="false" /></span></div>
                                                       </div>
                                                       <div class="form-row">
                                                       <div class="column-half">TELEPHONE<span class="wpcf7-form-control-wrap telephone"><input type="tel" name="telephone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span></div>
                                                       <div class="column-half">COUNTRY<span class="wpcf7-form-control-wrap country"><input type="text" name="country" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                       </div>
                                                       <div class="form-row">
                                                       <div class="column-full">Message<span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span></div>
                                                       </div>
                                                       <div class="form-row">
                                                       <div class="column-full-conditions"><span class="wpcf7-form-control-wrap opt-in"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="opt-in[]" value="I would like to receive emails from Puffin Security to learn more about our services" /><span class="wpcf7-list-item-label">I would like to receive emails from Puffin Security to learn more about our services</span></span></span></span></div>
                                                       <div class="column-full-conditions"><span class="wpcf7-form-control-wrap privacy-policy"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><input type="checkbox" name="privacy-policy" value="1" aria-invalid="false" /></span></span></span> I accept with my registration the Puffin Security <a href ="privacy-policy">Privacy Policy</a></div>
                                                       </div>
                                                       <div class="form-row">
                                                       <div class="column-full"><input type="submit" value="SEND YOUR REQUEST" class="wpcf7-form-control wpcf7-submit" /></div>
                                                       </div>
                                                       </div>
                                                       -->
                                                    <p>
                                                       <!--end responsive-form-->
                                                    </p>
                                                    <input type='hidden' class='wpcf7-pum' value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />
                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                    <p style="display: none !important"><span class="wpcf7-form-control-wrap referer-page"><input type="hidden" name="referer-page" value="/contact-us/" class="wpcf7-form-control wpcf7-text referer-page" aria-invalid="false"></span></p>
                                                    <!-- Chimpmail extension by Renzo Johnson -->
                                                 </form>
                                              </div>
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img width="1200" height="764" src="/assets/ewww/lazy/placeholder-1200x764.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/contact-us-illustration.jpg" data-srcset="/assets/uploads/2019/01/contact-us-illustration.jpg 1200w, /assets/uploads/2019/01/contact-us-illustration-300x191.jpg 300w, /assets/uploads/2019/01/contact-us-illustration-768x489.jpg 768w, /assets/uploads/2019/01/contact-us-illustration-1024x652.jpg 1024w, /assets/uploads/2019/01/contact-us-illustration-700x446.jpg 700w" data-sizes="auto" loading="lazy" />
                                                       <noscript><img width="1200" height="764" src="/assets/uploads/2019/01/contact-us-illustration.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/contact-us-illustration.jpg 1200w, /assets/uploads/2019/01/contact-us-illustration-300x191.jpg 300w, /assets/uploads/2019/01/contact-us-illustration-768x489.jpg 768w, /assets/uploads/2019/01/contact-us-illustration-1024x652.jpg 1024w, /assets/uploads/2019/01/contact-us-illustration-700x446.jpg 700w" sizes="(max-width: 1200px) 100vw, 1200px" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548899450547" style=' text-align:center;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class='q_elements_holder one_column responsive_mode_from_768' >
                                  <div class='q_elements_item' data-animation='no'>
                                     <div class='q_elements_item_inner'>
                                        <div class='q_elements_item_content q_elements_holder_custom_594075' style='padding:10% 0 25%'>
                                           <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_594075{ padding: 21.6% 0 !important;}}@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_594075{ padding: 23.6% 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_594075{ padding: 24.6% 0 !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_594075{ padding: 40.6% 0 !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_594075{ padding: 34.6% 0 !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_594075{ padding: 32.6% 0 !important;}}</style>
                                           <div class="wpb_text_column wpb_content_element">
                                              <div class="wpb_wrapper">
                                                 <h1><span style="color: #ffffff;">Our customers say&#8230;</span></h1>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1503064533211 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-has-fill">
                            <div class="vc_column-inner vc_custom_1546425851240">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space"  style="height: 50px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="93" height="110" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 93 110'%3E%3C/svg%3E" class="vc_single_image-img attachment-full lazyload" alt="" data-src="/assets/uploads/2018/12/quote-icon.png" loading="lazy" />
                                           <noscript><img width="93" height="110" src="/assets/uploads/2018/12/quote-icon.png" class="vc_single_image-img attachment-full" alt="" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class='testimonials_holder clearfix'>
                                     <div class="testimonials testimonials_carousel" data-show-navigation="no" data-animation-type="slide" data-animation-speed="" data-auto-rotate-slides="5" data-number-per-slide="1">
                                        <ul class="slides">
                                           <li id="testimonials1412" class="testimonial_content">
                                              <div class="testimonial_content_inner">
                                                 <div class="testimonial_text_holder">
                                                    <div class="testimonial_text_inner" style="">
                                                       <p style='font-size:24px;'>After some experiences I already knew that having a secure code is the basis to avoid attacks through our applications. With Puffin everything is simple, we got in touch with them and we told them our problems. They quickly got down to work, made an offer that suited our needs and started working. After the tests, our engineers were able to correct a few critical vulnerabilities that without the help of puffin would have been impossible to discover.</p>
                                                       <p class="testimonial_author" style="color: #f49c38;">CIO International company</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </li>
                                           <li id="testimonials1411" class="testimonial_content">
                                              <div class="testimonial_content_inner">
                                                 <div class="testimonial_text_holder">
                                                    <div class="testimonial_text_inner" style="">
                                                       <p style='font-size:24px;'>We were going to launch an application created by ourselves. We decided to trust Puffin Security to check the code of our application and we were not wrong. Because they exhaustively reviewed the code, it was found that our code was very vulnerable, as well as containing some errors that could cause the application to fail. Thanks to his detailed report, we were able to solve the problems satisfactorily.</p>
                                                       <p class="testimonial_author" style="color: #f49c38;">IT Entrepreneur</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </li>
                                           <li id="testimonials1409" class="testimonial_content">
                                              <div class="testimonial_content_inner">
                                                 <div class="testimonial_text_holder">
                                                    <div class="testimonial_text_inner" style="">
                                                       <p style='font-size:24px;'>Thanks to Puffin Security we discovered that our wireless network was exposed in such a way that anyone could have entered the company network and see confidential files. Once this vulnerability was discovered we could manage it and fix it very quickly. Remarkable the speed and the efficiency of Puffin Security team.</p>
                                                       <p class="testimonial_author" style="color: #f49c38;">Manufacturing company</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </li>
                                           <li id="testimonials1406" class="testimonial_content">
                                              <div class="testimonial_content_inner">
                                                 <div class="testimonial_text_holder">
                                                    <div class="testimonial_text_inner" style="">
                                                       <p style='font-size:24px;'>We are very satisfied with the Audit of our website. The communication with Puffin Security has been very fluid and all the relevant information is transmitted immediately. We are also very happy with the final report, since the vulnerabilities are described in detail.</p>
                                                       <p class="testimonial_author" style="color: #f49c38;">CIO e-Commerce</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </li>
                                           <li id="testimonials1404" class="testimonial_content">
                                              <div class="testimonial_content_inner">
                                                 <div class="testimonial_text_holder">
                                                    <div class="testimonial_text_inner" style="">
                                                       <p style='font-size:24px;'>Mobile applications are a very important part of our business allowing t our users get information from any place. Until working with Puffin Security, we were not aware of the risk. We thought that being outside the stores we were safe. But smartphones are easy to lose and susceptible to theft, as our app had critical vulnerabilities when storing data, anyone who made a terminal could obtain credentials to access the organization. Thanks to the final report prepared by Puffin Security team we could fix all the vulnerabilities.</p>
                                                       <p class="testimonial_author" style="color: #f49c38;">CEO IT startup</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </li>
                                           <li id="testimonials355" class="testimonial_content">
                                              <div class="testimonial_content_inner">
                                                 <div class="testimonial_text_holder">
                                                    <div class="testimonial_text_inner" style="">
                                                       <p style='font-size:24px;'>If we had to recommend a cybersecurity service company, without any doubt it would be puffin security</p>
                                                       <p class="testimonial_author" style="color: #f49c38;">Cybersecurity services manager – One of the BIG FOUR</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </li>
                                           <li id="testimonials354" class="testimonial_content">
                                              <div class="testimonial_content_inner">
                                                 <div class="testimonial_text_holder">
                                                    <div class="testimonial_text_inner" style="">
                                                       <p style='font-size:24px;'>Delegating the cyber security challenge to a company like Puffin is a sort of luck to us.</p>
                                                       <p class="testimonial_author" style="color: #f49c38;">CISO International Insurance industry</p>
                                                    </div>
                                                 </div>
                                              </div>
                                           </li>
                                        </ul>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="call_to_action normal" style="background-color: #2284f4;padding-top: 12pxpx;padding-bottom: 12pxpx;">
                                  <div class="container_inner">
                                     <div class="two_columns_75_25 clearfix">
                                        <div class="text_wrapper column1">
                                           <div class="call_to_action_text" style="">
                                              <h4><span style="color: #ffffff;">Would you like to know more about us?</span></h4>
                                           </div>
                                        </div>
                                        <div class="button_wrapper column2"><a itemprop="url" href="/cybersecurity-experts/" class="qbutton white" target="_self" style="color: #444444;border-color: #ffffff;background-color: #ffffff;">LET'S SEE</a></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

{% include footer.liquid %}
