{% include  head.liquid %}
{% include header.liquid %}
<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <section      data-speed="1" class="parallax_section_holder   lazyload" style = " height:px; " data-bg="/assets/uploads/2019/01/about-us-1.jpg">
                   <div class="parallax_content_full_width left" >
                      <div class='parallax_section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1550492728073">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1546398432501 grid_section" style=' text-align:left;'>
                                     <div class="section_inner clearfix">
                                        <div class='section_inner_margin clearfix'>
                                           <div class="wpb_column vc_column_container vc_col-sm-8">
                                              <div class="vc_column-inner">
                                                 <div class="wpb_wrapper">
                                                    <div class="wpb_text_column wpb_content_element">
                                                       <div class="wpb_wrapper">
                                                          <p><strong><span style="color: #ffffff;">CYBERSECURITY SERVICES</span></strong></p>
                                                       </div>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element">
                                                       <div class="wpb_wrapper">
                                                          <h1><span style="color: #ffffff;">Cybersecurity<br />
                                                             experts</span>
                                                          </h1>
                                                       </div>
                                                    </div>
                                                    <div class="vc_empty_space"  style="height: 32px" ><span
                                                       class="vc_empty_space_inner">
                                                       <span class="empty_space_image"  ></span>
                                                       </span>
                                                    </div>
                                                    <div class="wpb_text_column wpb_content_element">
                                                       <div class="wpb_wrapper">
                                                          <h4 style="text-align: left;"><span style="color: #ffffff;">“Our cyber security consultants and professionals are featured speakers in national and international level events. Our specialized team of experts also consistently report<br />
                                                             new vulnerabilities to the common vulnerabilities and exposures (CVE) database.</span>
                                                          </h4>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </section>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1548357181630">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder three_columns responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no' style='background-color:#ffffff;background-image: url();background-position: center;background-size: cover;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_585730' style='padding:22% 12%'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_585730{ padding: 17% 15% !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_585730{ padding: 19% 25% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_585730{ padding: 17% 16% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_585730{ padding: 16% 8% !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5><span style="color: #ff4242;">Customer Care</span></h5>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 12px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p>Our commitment to customer care has meant many of our customers have been with us since the beginning</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 14px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/01/cybersecurity-Auditing-940.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_443479'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_443479{ padding: 30% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_443479{ padding: 35% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_443479{ padding: 37% !important;}}</style>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item' data-animation='no' style='background-color:#ffffff;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_982015' style='padding:22% 12%'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_982015{ padding: 17% 15% !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_982015{ padding: 19% 25% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_982015{ padding: 17% 16% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_982015{ padding: 16% 8% !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5><span style="color: #ff4242;">Agility + Efficiency</span></h5>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 12px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p>We dig hard into your problem and evaluate the bigger picture, just to know how to execute the most effective solution.</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 14px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder three_columns responsive_mode_from_768' >
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/01/cybersecurity-outsourcing-services-940.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_467166'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_467166{ padding: 30% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_467166{ padding: 35% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_467166{ padding: 37% !important;}}</style>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item' data-animation='no' style='background-color:#ffffff;background-image: url();background-position: center;background-size: cover;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_911365' style='padding:18% 12%'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1024px) and (max-width: 1280px) { .q_elements_item_content.q_elements_holder_custom_911365{ padding: 17% 15% !important;}}@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_911365{ padding: 19% 25% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_911365{ padding: 17% 16% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_911365{ padding: 16% 8% !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5><span style="color: #ff4242;">Tailored, Affordable Advisory</span></h5>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 12px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p>Due to the contact with INCIBE we are in contact with the best young talent. We combine talent with experience at the best price.</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 14px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/01/cybersecurity-assesment-commpliance-940.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_473057'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_473057{ padding: 30% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_473057{ padding: 35% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_473057{ padding: 37% !important;}}</style>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549541154932 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1549445021853">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-8 vc_col-lg-8 vc_col-md-8 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1550492738244">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">From strategy through implementation</h3>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff7f00;height: 1px;width: 50px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4 style="text-align: center;">Our experts will provide security expertise and extend your existing capabilities to fill crucial gaps and provide real-world, threat-driven insight to security operations.</h4>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549541077594 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7 vc_col-md-7 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1546395625301">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="1288" height="924" src="/assets/ewww/lazy/placeholder-1288x924.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/Puffin-cibersecurity-services-about-us.jpg" data-srcset="/assets/uploads/2019/01/Puffin-cibersecurity-services-about-us.jpg 1288w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-300x215.jpg 300w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-768x551.jpg 768w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-1024x735.jpg 1024w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-700x502.jpg 700w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="1288" height="924" src="/assets/uploads/2019/01/Puffin-cibersecurity-services-about-us.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/Puffin-cibersecurity-services-about-us.jpg 1288w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-300x215.jpg 300w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-768x551.jpg 768w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-1024x735.jpg 1024w, /assets/uploads/2019/01/Puffin-cibersecurity-services-about-us-700x502.jpg 700w" sizes="(max-width: 1288px) 100vw, 1288px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_col-md-5 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1550492744175">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2>Addressing the right cyber security strategy</h2>
                                     </div>
                                  </div>
                                  <div class="separator  small left" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff7f00;height: 1px;width: 50px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>Puffin security has been <a href="/cybersecurity-services/">providing cybersecurity services</a> successfully over 8 years. We have an international background operating in different countries and industries to protect what matters most against your threat landscape. We aim to deliver the maximum impact for your IT security investment.</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 40px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  qode-row-with-bg vc_custom_1549541221609" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  grid_section disable_negative_margin" style=' text-align:center;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-has-fill">
                                           <div class="vc_column-inner vc_custom_1549541723228">
                                              <div class="wpb_wrapper"><a  itemprop="url" href="/contact-us" target="_self" data-hover-background-color=#ff6600 data-hover-border-color=#4c8dff data-hover-color=#ffffff class="qbutton  big_large_full_width enlarge" style="color: #ffffff; border-color: #4c8dff; border-radius: 0px;-moz-border-radius: 0px;-webkit-border-radius: 0px; background-color: #ff6600;">BOOK NOW OUR SERVICES</a></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1549541821787 grid_section" style=' text-align:left;'>
                                  <div class="section_inner clearfix">
                                     <div class='section_inner_margin clearfix'>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                           <div class="vc_column-inner vc_custom_1550492778645">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h2 style="text-align: center;"><span style="color: #ffffff;">Our company</span> <span style="color: #ff6600;">values</span></h2>
                                                    </div>
                                                 </div>
                                                 <div class="separator  small center" style="margin-top: 25px;margin-bottom: 50px;background-color: #ff6600;height: 1px;width: 50px;"></div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">COMMITMENT</h4>
                                                          <p style='color: #d4d1d1'>We always try our best to make the things properly right. We don´t tolerate those who don´t work with commitment and seriousness</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">CUSTOMER FIRST</h4>
                                                          <p style='color: #d4d1d1'>We always understand properly our customer needs to go beyond his expectations. We take care with commitment, urgency and expertise</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">HONESTY</h4>
                                                          <p style='color: #d4d1d1'>We are respectfull with customers opinions, and if we think something could be improved we Will share it, but support the collective outcome.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 15px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class='q_icon_with_title small custom_icon_image'>
                                                    <div class="icon_holder" style=" ">
                                                       <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                       <noscript>
                                                          <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                          <noscript>
                                                             <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                             <noscript>
                                                                <img itemprop="image" style="" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="" data-src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" loading="lazy" class="lazyload">
                                                                <noscript><img itemprop="image" style="" src="/assets/uploads/2019/01/Advantages-cybersecurity-audit-and-consulting.png" alt=""></noscript>
                                                             </noscript>
                                                          </noscript>
                                                       </noscript>
                                                    </div>
                                                    <div class="icon_text_holder" style="">
                                                       <div class="icon_text_inner" style="">
                                                          <h4 class="icon_title" style="color: #ffffff;">UP TO DATE</h4>
                                                          <p style='color: #d4d1d1'>Cyber security is evolving, so we take being very informed seriously, in order to improve our methodology each day.</p>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 90px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1549541118256 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-5 vc_col-md-5 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1550492787737">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2><b>Prioritize Controls and </b><b>Mitigate Risk</b></h2>
                                     </div>
                                  </div>
                                  <div class="separator  small left" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff7f00;height: 1px;width: 50px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <p>In today’s digitally connected world, your security program should enable your organization as well as protect it. At PUFFIN Security, <a href="/partnership/">we partner with you</a> to detect faster, respond smarter, and predict and prevent more threats altogether, helping you grow with confidence</p>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 40px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-7 vc_col-md-7 vc_col-xs-12">
                            <div class="vc_column-inner vc_custom_1546395625301">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="1196" height="672" src="/assets/ewww/lazy/placeholder-1196x672.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg" data-srcset="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg 1196w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-300x169.jpg 300w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-768x432.jpg 768w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-1024x575.jpg 1024w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-700x393.jpg 700w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-539x303.jpg 539w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="1196" height="672" src="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks.jpg 1196w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-300x169.jpg 300w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-768x432.jpg 768w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-1024x575.jpg 1024w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-700x393.jpg 700w, /assets/uploads/2019/02/Puffin-cybersecurity-mitigate-risks-protection-cyber-attacks-539x303.jpg 539w" sizes="(max-width: 1196px) 100vw, 1196px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546398314217 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="q_counter_holder  center" style="">
                                     <span class="counter  zero" style="color: #d4d4d4;font-size: 70px;font-weight: 700;">8</span>
                                     <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Years auditing companies</p>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="q_counter_holder  center" style="">
                                     <span class="counter  zero" style="color: #d4d4d4;font-size: 70px;font-weight: 700;">100428</span>
                                     <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Data breaches prevented</p>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="q_counter_holder  center" style="">
                                     <span class="counter  zero" style="color: #d4d4d4;font-size: 70px;font-weight: 700;">12</span>
                                     <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Countries we have worked at</p>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-lg-3 vc_col-md-3 vc_col-xs-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="q_counter_holder  center" style="">
                                     <span class="counter  zero" style="color: #d4d4d4;font-size: 70px;font-weight: 700;">538</span>
                                     <p class="counter_text" style="font-size: 25px;font-weight: 700;text-transform: none;color: #000000;">Companies we have worked with</p>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 30px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <section      data-speed="1" class="parallax_section_holder" style = " height:px; background-image:url('');">
                   <div class="parallax_content center">
                      <div class='parallax_section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-8">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h2 style="text-align: center;"><span style="color: #333333;">What our clients say</span></h2>
                                                    </div>
                                                 </div>
                                                 <div class='testimonials_c_holder clearfix'>
                                                    <div class="testimonials_c testimonials_c_carousel" data-show-navigation="no" data-animation-speed="" data-auto-rotate-slides="5" data-number-per-slide="1">
                                                       <ul class="slides">
                                                          <li id="testimonials-c-1412" class="testimonial_content">
                                                             <div class="testimonial_content_inner">
                                                                <div class="testimonial_text_holder">
                                                                   <div class="testimonial_text_inner" style="color: #565656;">
                                                                      <p style='font-size:18px;color:#565656;'>After some experiences I already knew that having a secure code is the basis to avoid attacks through our applications. With Puffin everything is simple, we got in touch with them and we told them our problems. They quickly got down to work, made an offer that suited our needs and started working. After the tests, our engineers were able to correct a few critical vulnerabilities that without the help of puffin would have been impossible to discover.</p>
                                                                      <p class="testimonial_author" style="color: #565656;font-weight: 600;color: #f48a00;font-size: 16px;">CIO International company</p>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                          </li>
                                                          <li id="testimonials-c-1411" class="testimonial_content">
                                                             <div class="testimonial_content_inner">
                                                                <div class="testimonial_text_holder">
                                                                   <div class="testimonial_text_inner" style="color: #565656;">
                                                                      <p style='font-size:18px;color:#565656;'>We were going to launch an application created by ourselves. We decided to trust Puffin Security to check the code of our application and we were not wrong. Because they exhaustively reviewed the code, it was found that our code was very vulnerable, as well as containing some errors that could cause the application to fail. Thanks to his detailed report, we were able to solve the problems satisfactorily.</p>
                                                                      <p class="testimonial_author" style="color: #565656;font-weight: 600;color: #f48a00;font-size: 16px;">IT Entrepreneur</p>
                                                                   </div>
                                                                </div>
                                                             </div>
                                                          </li>
                                                       </ul>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                        <div class="wpb_column vc_column_container vc_col-sm-2">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper"></div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </section>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                         <div class="vc_column-inner vc_custom_1546390920460">
                            <div class="wpb_wrapper">
                               <div class="qode-advanced-call-to-action" style="height:155px">
                                  <a class="advanced-cta-link" href="/why-puffin" target="_self"></a>
                                  <div class="qode-advanced-cta-content">		
                                     <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px;font-weight:700">
                                     Why working with us	    </span>
                                     <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                     <span class="qode-advanced-cta-icon-holder-table">
                                     <span class="qode-advanced-cta-icon-holder-cell" >
                                     <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                     </span>
                                     </span>
                                  </div>
                                  <div class="qode-advanced-cta-background-holder">
                                     <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-3"></span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-6 vc_col-has-fill">
                         <div class="vc_column-inner vc_custom_1546440172136">
                            <div class="wpb_wrapper">
                               <div class="qode-advanced-call-to-action" style="height:155px">
                                  <a class="advanced-cta-link" href="/contact-us" target="_self"></a>
                                  <div class="qode-advanced-cta-content">		
                                     <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px;font-weight:700">
                                     Reserve our services NOW	    </span>
                                     <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                     <span class="qode-advanced-cta-icon-holder-table">
                                     <span class="qode-advanced-cta-icon-holder-cell" >
                                     <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                     </span>
                                     </span>
                                  </div>
                                  <div class="qode-advanced-cta-background-holder">
                                     <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-3"></span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
{% include footer.liquid %}