{% include head.liquid %}
{% include header.liquid %}

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <section      data-speed="1" class="parallax_section_holder   lazyload" style = " height:px; " data-bg="/assets/uploads/2019/01/services-big-quote.jpg">
                   <div class="parallax_content left">
                      <div class='parallax_section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element  vc_custom_1548289220161">
                                     <div class="wpb_wrapper">
                                        <h1 style="text-align: center;"><span style="color: #ffffff;">Experienced a breach?</span></h1>
                                     </div>
                                  </div>
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1503059764905" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10 vc_col-has-fill">
                                           <div class="vc_column-inner vc_custom_1548289098349">
                                              <div class="wpb_wrapper">
                                                 <div class='q_elements_holder one_column responsive_mode_from_768' >
                                                    <div class='q_elements_item' data-animation='no' style='vertical-align:top;'>
                                                       <div class='q_elements_item_inner'>
                                                          <div class='q_elements_item_content q_elements_holder_custom_219597' style='padding:6.3% 9.7% 11.6%'>
                                                             <div class="wpb_text_column wpb_content_element">
                                                                <div class="wpb_wrapper">
                                                                   <h4 style="text-align: center;">At Puffin Security we can help you to response and contain the breach and recover as faster as possible. For <span style="color: #ff0000;">URGENT service request</span> you can call to: <a href="tel:+34919217257" target="_blank" rel="noopener noreferrer">+34 919 217 257</a> or fill in this form and we will contact you as soon as possible.</h4>
                                                                </div>
                                                             </div>
                                                             <div class="vc_empty_space"  style="height: 25px" ><span
                                                                class="vc_empty_space_inner">
                                                                <span class="empty_space_image"  ></span>
                                                                </span>
                                                             </div>
                                                             <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                                                             <script>
                                                                hbspt.forms.create({
                                                                portalId: "4879471",
                                                                formId: "96303ae9-d387-4fed-b4c1-141010e34221"
                                                                });
                                                             </script>
                                                             <!--
                                                                <div role="form" class="wpcf7" id="wpcf7-f794-p195-o1" lang="en-US" dir="ltr">
                                                                <div class="screen-reader-response"></div>
                                                                <form action="/experienced-a-breach/#wpcf7-f794-p195-o1" method="post" class="wpcf7-form default mailchimp-ext-0.5.18" novalidate="novalidate">
                                                                <div style="display: none;">
                                                                <input type="hidden" name="_wpcf7" value="794" />
                                                                <input type="hidden" name="_wpcf7_version" value="5.1.7" />
                                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f794-p195-o1" />
                                                                <input type="hidden" name="_wpcf7_container_post" value="195" />
                                                                </div>
                                                                <div id="responsive-form" class="clearfix">
                                                                <div class="form-row">
                                                                <div class="column-full">EMAIL<span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-half">FIRST NAME<span class="wpcf7-form-control-wrap first-name"><input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                                <div class="column-half">LAST NAME<span class="wpcf7-form-control-wrap last-name"><input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-full">COMPANY<span class="wpcf7-form-control-wrap company"><input type="text" name="company" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-half">TELEPHONE<span class="wpcf7-form-control-wrap telephone"><input type="tel" name="telephone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" /></span></div>
                                                                <div class="column-half">COUNTRY<span class="wpcf7-form-control-wrap country"><input type="text" name="country" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-full-conditions"><span class="wpcf7-form-control-wrap opt-in"><span class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item first last"><input type="checkbox" name="opt-in[]" value="I would like to receive emails from Puffin Security to learn more about the Puffin Security services" /><span class="wpcf7-list-item-label">I would like to receive emails from Puffin Security to learn more about the Puffin Security services</span></span></span></span></div>
                                                                <div class="column-full-conditions"><span class="wpcf7-form-control-wrap privacy-policy"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><input type="checkbox" name="privacy-policy" value="1" aria-invalid="false" /></span></span></span> I accept with my registration the Puffin Security <a href ="privacy-policy">Privacy policy</a></div>
                                                                </div>
                                                                <div class="form-row">
                                                                <div class="column-full"><input type="submit" value="SEND REQUEST" class="wpcf7-form-control wpcf7-submit" /></div>
                                                                </div>
                                                                </div>
                                                                -->
                                                             <p>
                                                                <!--end responsive-form-->
                                                             </p>
                                                             <input type='hidden' class='wpcf7-pum' value='{"closepopup":false,"closedelay":0,"openpopup":false,"openpopup_id":0}' />
                                                             <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                             <p style="display: none !important"><span class="wpcf7-form-control-wrap referer-page"><input type="hidden" name="referer-page" value="/experienced-a-breach/" class="wpcf7-form-control wpcf7-text referer-page" aria-invalid="false"></span></p>
                                                             <!-- Chimpmail extension by Renzo Johnson --></form>
                                                          </div>
                                                       </div>
                                                    </div>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
             </div>
             </section>
             <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1548376550939 grid_section" style=' padding-top:100px; text-align:center;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-8">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h4>At Puffin Security we deep into your organization beyond technology. We consider structures, processes, strategy and people, analysing security within the context of your business</h4>
                                  </div>
                               </div>
                               <div class="separator  transparent" style="margin-top: 30px;margin-bottom: 8px;"></div>
                               <div class="wpb_text_column wpb_content_element">
                                  <div class="wpb_wrapper">
                                     <h3 style="text-align: center;">Choose the service you need</h3>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-2">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper"></div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548376562301 grid_section" style=' text-align:left;'>
                <div class="section_inner clearfix">
                   <div class='section_inner_margin clearfix'>
                      <div class="wpb_column vc_column_container vc_col-sm-3 vc_col-lg-offset-0 vc_col-lg-3 vc_col-md-3">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548376633304 disable_negative_margin" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" data-src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 22px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: center;">CONSULTING</h5>
                                                    <p style="text-align: center;">Audit &amp; assessment</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 16px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <a  itemprop="url" href="/cybersecurity-audit-assesment/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">Discover</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 20px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-3">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548376661713 disable_negative_margin" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" data-src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 22px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: center;">READ TEAM</h5>
                                                    <p style="text-align: center;">Adversarial testing</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 16px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <a  itemprop="url" href="/adversarial-security-testing-red-team" target="_self"  class="qbutton  white default  qode-button-shadow" style="">Discover</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 20px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-3">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548376670802 disable_negative_margin" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" data-src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-incident-response-containment-services-75x75.png" width="75" height="75" alt="Cybersecurity-incident-response-containment-services" title="Cybersecurity-incident-response-containment-services" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 22px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5>MDR</h5>
                                                    <p>Manage the security of your company</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 16px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <a  itemprop="url" href="/mdr/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">Discover</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="vc_empty_space"  style="height: 20px" ><span
                                  class="vc_empty_space_inner">
                                  <span class="empty_space_image"  ></span>
                                  </span>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="wpb_column vc_column_container vc_col-sm-3">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548376678986 disable_negative_margin" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_single_image wpb_content_element vc_align_center">
                                                 <div class="wpb_wrapper">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                       <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" data-src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" loading="lazy" />
                                                       <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" /></noscript>
                                                    </div>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 22px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5>PROACTIVE SECURITY</h5>
                                                    <p>Enhance your policy</p>
                                                 </div>
                                              </div>
                                              <div class="vc_empty_space"  style="height: 16px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <a  itemprop="url" href="/contact-us" target="_self"  class="qbutton  white default  qode-button-shadow" style="">Contact us</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1546229203903" style=' text-align:left;'>
                <div class="full_section_inner clearfix">
                   <div class="wpb_column vc_column_container vc_col-sm-12">
                      <div class="vc_column-inner">
                         <div class="wpb_wrapper">
                            <div class="qode-advanced-call-to-action" style="height:140px">
                               <a class="advanced-cta-link" href="/contact-us" target="_self"></a>
                               <div class="qode-advanced-cta-content">		
                                  <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px">
                                  Prioritize Controls and Mitigate Risk	    </span>
                                  <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                  <span class="qode-advanced-cta-icon-holder-table">
                                  <span class="qode-advanced-cta-icon-holder-cell" >
                                  <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                  </span>
                                  </span>
                               </div>
                               <div class="qode-advanced-cta-background-holder">
                                  <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                  <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                  <span class="qode-advanced-cta-background-3"></span>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    </div>

{% include footer.liquid %}