{% include head.liquid %}
{% include header.liquid %}

<div class="legal-notice-container" style="margin-top: 200px;padding: 30px;">
    <h3>LEGAL NOTICE</h3>

<p>The information contained in this website is intended to facilitate knowledge of the different services offered by Drainware Systems SL (hereinafter Drainware), CIF: B-70306998 with the address, Calle Juan Pantoja 1, 2B, 28039 (Madrid), Spain.</p>

<p><strong><u>TERMS OF USE:</u></strong></p>

<p>The use of this website grants the condition of user of the same and necessarily implies the full acceptance of its terms of use, included in this Legal Notice. Should the user not agree with these terms, they should refrain from using the website. In order to comply with the regulations, this Legal Notice is subject to changes and updates, so we recommend that the user read and review it whenever they access the website.</p>

<p>The user agrees to make diligent use of this website, in accordance with current legislation, this Legal Notice and any other communication made known to them through this or any other means, as well as the norms of coexistence, morals and generally accepted good manners. Drainware is not responsible for the incorrect use that users make of the information or contents of the service, such acts being the sole responsibility of the user.</p>

<p>Drainware will not be responsible for possible damages that may arise from computer viruses or other harmful elements that, through no fault of Drainware, could affect the user. Similarly, Drainware is not responsible for any damage or harm that may be caused by third parties through illegitimate interference in our system without the consent of Drainware.</p>

<p>The information contained on these websites is current as of the date of the last update and must be considered indicative for the user. Drainware reserves all rights to modify, limit or cancel access to and the contents of the website at any time. Likewise, Drainware reserves the right to make changes to the configuration or presentation of its website. Drainware rejects any responsibility that may arise from the existence of technical problems or mechanical failures in the computer equipment produced during the Internet connection. Drainware does not guarantee that access to the website will be uninterrupted nor that it is free from error or that it cannot cause any damage.</p>

<p>Drainware is not responsible for all the information found on these web pages, nor for the content not produced by Drainware, coming from outside sources. Drainware is not liable for any consequence, damage or harm that may arise from the access or use of the information. Likewise, Drainware rejects all responsibility for information or content of third-party web pages connected through links to these pages. Under no circumstances will Drainware be responsible for any damage suffered by the user by accessing or using such sites or their contents. Drainware guarantees the confidentiality of personal data provided by users in accordance with current legislation on the protection of personal data and the Privacy Policy.</p>

<p><strong><u>INTELLECTUAL AND INDUSTRIAL PROPERTY RIGHTS:</u></strong></p>

<p>&ldquo;PUFFIN SECURITY&rdquo;, the names, logos and titles used on our website &ldquo;https://www.puffinsecurity.com/&rdquo; and that identify Drainware&acute;s products and services are registered trademarks of our company. Other logos, names, titles or trademarks that may appear on &ldquo;https://www.puffinsecurity.com/&rdquo; may be the property of clients and/or entities affiliated or not affiliated with our Portal.</p>

<p>The information, images, texts, documents and any other content located on &ldquo;https://www.puffinsecurity.com/&rdquo; may be consulted solely for informational purposes by any visitor to our website. Drainware reserves the right to restrict access to its network or its contents. Drainware can modify the terms and conditions of use of the website &ldquo;https://www.puffinsecurity.com/&rdquo; at any time and without prior notice. Visitors to the &ldquo;https://www.puffinsecurity.com/&rdquo; website are responsible for reviewing the contents of this Legal Notice to ascertain the terms and conditions of use of our Portal.</p>

<p><strong><u>THIRD-PARTY INTELLECTUAL PROPERTY:</u></strong></p>

<p>Any individual (visitor or not of our website) who considers that their intellectual property rights have been infringed by the unauthorized use of their protected works as published on &ldquo;https://www.puffinsecurity.com/&rdquo; can contact our company and request that the content be removed. If substantiated, your request will be complied with immediately.</p>

<p><strong><u>JURISDICTION AND APPLICABLE LAW:</u></strong></p>

<p>The legislation applicable to the content of this Website will be that of Spain and the jurisdiction to which Drainware submits as the owner of this page for the resolution of any conflict or litigious issue that may arise from its relationship with the user is that of the competent Courts and Tribunals of A Coru&ntilde;a, Spain.</p>

<p><strong>DRAINWARE SYSTEMS, S.L., All rights reserved</strong><br />
<strong>Telephone:</strong>&nbsp;<strong>622331955 &ndash; email: info [@] puffinsecurity.com</strong><br />
<strong>Address: Calle Juan Pantoja, n&ordm; 1, 2&ordm; B, 28039 (Madrid)<br />
CIF: B-B86101367</strong></p>
</div>


{% include footer.liquid %}
