{% include head.liquid %}
{% include header.liquid %}

<a id="back_to_top" href="#">
    <span class="fa-stack">
    <i class="qode_icon_font_awesome fa fa-arrow-up" ></i>        </span>
    </a>
    <div class="content content_top_margin_none">
       <div class="content_inner">
          <div class="full_width">
             <div class="full_width_inner" >
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548890647775 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix' style="margin-top: 145px">
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner vc_custom_1548877141934">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h1><span style="color: #070b26;">MDR</span></h1>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 27px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner" style=' text-align:left;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h4>Our MDR service provides your company with advanced technology in the detection of cybersecurity attacks 24/7 while providing a professional cybersecurity team to solve them.</h4>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 39px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space"  style="height: 100px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left" >
                                     <div class="wpb_wrapper">
                                        <div class="wpb_video_wrapper"><iframe title="Atacando con Mimikatz | Defendiendo con nuestro  MDR" width="1060" height="596" src="{{ page.youtube1Url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner vc_custom_1548407533332">
                            <div class="wpb_wrapper">
                               <div class="call_to_action normal" style="background-color: #c3c3c3;padding-top: 10px;padding-bottom: 10px;">
                                  <div class="container_inner">
                                     <div class="two_columns_75_25 clearfix">
                                        <div class="text_wrapper column1">
                                           <div class="call_to_action_text" style="">
                                              <h5><span style="color: #000000;">EXPERIENCED A BREACH? DO YOU NEED IMMEDIATE ASSISTANCE?</span></h5>
                                           </div>
                                        </div>
                                        <div class="button_wrapper column2"><a itemprop="url" href="/experienced-a-breach" class="qbutton white small" target="_self" style="color: #ffffff;border-color: #dd3333;background-color: #dd3333;">URGENT RESPONSE</a></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1563788289641 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1548358340228">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Our MDR service incorporates:</h3>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1548407533332">
                               <div class="wpb_wrapper">
                                  <div class="separator  small center  qode-type1-gradient-left-to-right" style="margin-top: 20px;margin-bottom: 40px;background-color: #cecece;height: 2px;"></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1563788429882 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner vc_custom_1563788581819">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;"><span style="color: #993366;">Malware Deception</span></h2>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_381573' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_381573{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_381573{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_381573{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_381573{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: justify;">We realized that modern Malware is becoming more evasive. This means that it avoids being analyzed, preventing them from knowing their behavior and therefore being controlled. Malware is analyzed in isolated environments that have specific characteristics. When Malware detects this type of environment, it does not runs.</h5>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_737283' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_737283{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_737283{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_737283{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_737283{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: justify;">With Malware Deception we emulate this environment, preventing it from running, but we also catch it by registering all calls to the system that Malware performs to detect the environment.</h5>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="vc_empty_space"  style="height: 80px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                                  <div class="wpb_video_widget wpb_content_element vc_clearfix   vc_video-aspect-ratio-169 vc_video-el-width-100 vc_video-align-left" >
                                     <div class="wpb_wrapper">
                                        <div class="wpb_video_wrapper"><iframe title="Malware deception" width="1060" height="596" src="{{ page.youtube2Url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1548407533332">
                               <div class="wpb_wrapper">
                                  <div class="separator  normal   qode-type1-gradient-left-to-right" style="margin-top: 20px;margin-bottom: 40px;background-color: #cecece;height: 2px;"></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1563788461018 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1563788634665">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;"><span style="color: #008080;">Anti-Ransomware</span></h2>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_141260' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_141260{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_141260{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_141260{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_141260{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: justify;">Security products are continually adding new types of technologies to detect and block Malware. These could include technologies such as machine learning, exploit detection or behavior analysis. But as soon as these technologies are introduced, the attackers find ways to avoid them. Our technology stops this cycle by protecting your critical files and allowing any unwanted changes to be reversed.</h5>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_821177' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_821177{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_821177{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_821177{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_821177{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h5 style="text-align: justify;">With our solution the effects of Ransomware can always be undone. Even the Ransomware changes from day zero or unknown. The technology can preserve the original file without requiring a backup, which protects the files with virtually no additional disk activity.</h5>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1563788763014 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10 vc_col-md-offset-1 vc_col-md-10">
                            <div class="vc_column-inner vc_custom_1548358340228">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Our MDR service will provide your company with:</h3>
                                     </div>
                                  </div>
                                  <div class="separator  small center  qode-type1-gradient-left-to-right" style="margin-top: 20px;margin-bottom: 40px;background-color: #cecece;height: 2px;"></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="1941" height="1052" src="/assets/ewww/lazy/placeholder-1920x1041.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/07/scheme-mdr.png" data-srcset="/assets/uploads/2019/07/scheme-mdr.png 1941w, /assets/uploads/2019/07/scheme-mdr-300x163.png 300w, /assets/uploads/2019/07/scheme-mdr-768x416.png 768w, /assets/uploads/2019/07/scheme-mdr-1024x555.png 1024w, /assets/uploads/2019/07/scheme-mdr-700x379.png 700w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="1941" height="1052" src="/assets/uploads/2019/07/scheme-mdr.png" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/07/scheme-mdr.png 1941w, /assets/uploads/2019/07/scheme-mdr-300x163.png 300w, /assets/uploads/2019/07/scheme-mdr-768x416.png 768w, /assets/uploads/2019/07/scheme-mdr-1024x555.png 1024w, /assets/uploads/2019/07/scheme-mdr-700x379.png 700w" sizes="(max-width: 1941px) 100vw, 1941px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;"><strong>Is your company ready to respond and incident?</strong></h3>
                                     </div>
                                  </div>
                                  <div class="separator  small center" style="margin-top: 25px;margin-bottom: 40px;background-color: #ff9f1f;height: 1px;width: 50px;"></div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder one_column responsive_mode_from_768' >
                                     <div class='q_elements_item' data-animation='no'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_766403' style='padding:30px 5% 30px'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 1280px) and (max-width: 1440px) { .q_elements_item_content.q_elements_holder_custom_766403{ padding: 50px 4% 0 0 !important;}}@media only screen and (min-width: 768px) and (max-width: 1024px) { .q_elements_item_content.q_elements_holder_custom_766403{ padding: 40px 24% 202px 244px !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_766403{ padding: 40px 5px 50px 25px !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_766403{ padding: 40px 5px 50px 25px !important;}}</style>
                                              <div class="vc_empty_space"  style="height: 20px" ><span
                                                 class="vc_empty_space_inner">
                                                 <span class="empty_space_image"  ></span>
                                                 </span>
                                              </div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h4 style="text-align: left;">Companies lose an average of thousands of euros per year due to attacks and incidents of cybersecurity. The risk of suffering losses from these attacks increases every year, and the key to reducing it is to be prepared to detect them as quickly as possible and respond appropriately when they occur.</h4>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  grid_section" style=' padding-bottom:90pxpx; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1549572540852">
                               <div class="wpb_wrapper">
                                  <div class="wpb_single_image wpb_content_element vc_align_center">
                                     <div class="wpb_wrapper">
                                        <div class="vc_single_image-wrapper   vc_box_border_grey">
                                           <img width="940" height="628" src="/assets/ewww/lazy/placeholder-940x628.png" class="vc_single_image-img attachment-full lazyload" alt=""   data-src="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg" data-srcset="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg 940w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-300x200.jpg 300w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-768x513.jpg 768w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-700x468.jpg 700w" data-sizes="auto" loading="lazy" />
                                           <noscript><img width="940" height="628" src="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg" class="vc_single_image-img attachment-full" alt="" srcset="/assets/uploads/2019/01/puffin-international-cybersecurity-services.jpg 940w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-300x200.jpg 300w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-768x513.jpg 768w, /assets/uploads/2019/01/puffin-international-cybersecurity-services-700x468.jpg 700w" sizes="(max-width: 940px) 100vw, 940px" /></noscript>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548619706371 grid_section" style=' text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-12 vc_hidden-lg vc_hidden-md vc_hidden-sm vc_hidden-xs">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class='q_elements_holder two_columns responsive_mode_from_768' >
                                     <div class='q_elements_item  lazyload' data-animation='no' style='background-position: center;background-size: cover;' data-bg="/assets/uploads/2019/01/download-whitepaper-cyber-security.jpg">
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_162571'>
                                              <style type="text/css" data-type="q_elements_custom_padding" scoped>@media only screen and (min-width: 600px) and (max-width: 768px) { .q_elements_item_content.q_elements_holder_custom_162571{ padding: 30% !important;}}@media only screen and (min-width: 480px) and (max-width: 600px) { .q_elements_item_content.q_elements_holder_custom_162571{ padding: 30% !important;}}@media only screen and (max-width: 480px) { .q_elements_item_content.q_elements_holder_custom_162571{ padding: 30% !important;}}</style>
                                           </div>
                                        </div>
                                     </div>
                                     <div class='q_elements_item' data-animation='no' style='background-color:#152535;vertical-align:middle;'>
                                        <div class='q_elements_item_inner'>
                                           <div class='q_elements_item_content q_elements_holder_custom_884512' style='padding:19.8% 7% 15.5%'>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h2><span style="color: #ffffff;">Industry case of study</span></h2>
                                                 </div>
                                              </div>
                                              <div class="separator  small center" style="background-color: #FFFFFF;"></div>
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <p><span style="color: #ffffff;">We help industry sector customers gain an understanding of their cyber security risks and assist them identify business-driven remediation actions</span></p>
                                                 </div>
                                              </div>
                                              <div class="separator  transparent" style="margin-top: 41px;margin-bottom: 0px;height: 0px;"></div>
                                              <a  itemprop="url" href="" target="_self" data-hover-background-color=#191919 data-hover-border-color=#191919  class="qbutton  medium default" style="color: #ffffff; font-style: normal; background-color: #ff8d42;">Download it now</a>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548619804597" style=' text-align:center;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548622874371" style=' text-align:center;'>
                                  <div class="full_section_inner clearfix">
                                     <div class="wpb_column vc_column_container vc_col-sm-2">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper"></div>
                                        </div>
                                     </div>
                                     <div class="wpb_column vc_column_container vc_col-sm-8">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper">
                                              <div class="wpb_text_column wpb_content_element">
                                                 <div class="wpb_wrapper">
                                                    <h2 style="text-align: center;"><span style="color: #333333;">What our clients say</span></h2>
                                                 </div>
                                              </div>
                                              <div class='testimonials_c_holder clearfix'>
                                                 <div class="testimonials_c testimonials_c_carousel" data-show-navigation="no" data-animation-speed="" data-auto-rotate-slides="10" data-number-per-slide="1">
                                                    <ul class="slides">
                                                       <li id="testimonials-c-1412" class="testimonial_content">
                                                          <div class="testimonial_content_inner">
                                                             <div class="testimonial_text_holder">
                                                                <div class="testimonial_text_inner" style="color: #565656;">
                                                                   <p style='font-size:20px;color:#565656;'>After some experiences I already knew that having a secure code is the basis to avoid attacks through our applications. With Puffin everything is simple, we got in touch with them and we told them our problems. They quickly got down to work, made an offer that suited our needs and started working. After the tests, our engineers were able to correct a few critical vulnerabilities that without the help of puffin would have been impossible to discover.</p>
                                                                   <p class="testimonial_author" style="color: #565656;font-weight: 300;color: #f48a00;font-size: 16px;">CIO International company</p>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </li>
                                                       <li id="testimonials-c-1411" class="testimonial_content">
                                                          <div class="testimonial_content_inner">
                                                             <div class="testimonial_text_holder">
                                                                <div class="testimonial_text_inner" style="color: #565656;">
                                                                   <p style='font-size:20px;color:#565656;'>We were going to launch an application created by ourselves. We decided to trust Puffin Security to check the code of our application and we were not wrong. Because they exhaustively reviewed the code, it was found that our code was very vulnerable, as well as containing some errors that could cause the application to fail. Thanks to his detailed report, we were able to solve the problems satisfactorily.</p>
                                                                   <p class="testimonial_author" style="color: #565656;font-weight: 300;color: #f48a00;font-size: 16px;">IT Entrepreneur</p>
                                                                </div>
                                                             </div>
                                                          </div>
                                                       </li>
                                                    </ul>
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="wpb_column vc_column_container vc_col-sm-2">
                                        <div class="vc_column-inner">
                                           <div class="wpb_wrapper"></div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548543627640 grid_section" style=' padding-top:300px; padding-bottom:117px; text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-6">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h2 style="text-align: center;"><span style="color: #ffffff;">Around 98% of the apps that have been tested are vulnerable to cyber attack</span></h2>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-3">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div   data-q_id="#about"    class="vc_row wpb_row section vc_row-fluid  vc_custom_1548624315836 grid_section" style=' padding-top:100px; text-align:center;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h4>At Puffin Security we deep into your organization beyond technology. We consider structures, processes, strategy and people, analysing security within the context of your business</h4>
                                     </div>
                                  </div>
                                  <div class="separator  transparent" style="margin-top: 30px;margin-bottom: 8px;"></div>
                                  <div class="wpb_text_column wpb_content_element">
                                     <div class="wpb_wrapper">
                                        <h3 style="text-align: center;">Related services you may be interested</h3>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-2">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper"></div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548624326017 grid_section" style=' text-align:left;'>
                   <div class="section_inner clearfix">
                      <div class='section_inner_margin clearfix'>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548624270221 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" data-src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-audit-consultingt-services-75x75.png" width="75" height="75" alt="Cybersecurity-audit-consultingt-services" title="Cybersecurity-audit-consultingt-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">CONSULTING</h5>
                                                       <p style="text-align: center;">Audit &amp; assessment</p>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/cybersecurity-audit-assesment/" target="_self"  class="qbutton  white default  qode-button-shadow" style="">Discover</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548624276617 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" data-src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-Red-team-services-75x75.png" width="75" height="75" alt="Cybersecurity-Red-team-services" title="Cybersecurity-Red-team-services" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5 style="text-align: center;">READ TEAM</h5>
                                                       <p style="text-align: center;">Adversarial testing</p>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/adversarial-security-testing-red-team" target="_self"  class="qbutton  white default  qode-button-shadow" style="">Discover</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="wpb_column vc_column_container vc_col-sm-4">
                            <div class="vc_column-inner">
                               <div class="wpb_wrapper">
                                  <div      class="vc_row wpb_row section vc_row-fluid vc_inner  vc_custom_1548624283430 disable_negative_margin" style=' text-align:center;'>
                                     <div class="full_section_inner clearfix">
                                        <div class="wpb_column vc_column_container vc_col-sm-12">
                                           <div class="vc_column-inner">
                                              <div class="wpb_wrapper">
                                                 <div class="wpb_single_image wpb_content_element vc_align_center">
                                                    <div class="wpb_wrapper">
                                                       <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                          <img class="vc_single_image-img  lazyload" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75 75'%3E%3C/svg%3E" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" data-src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" loading="lazy" />
                                                          <noscript><img class="vc_single_image-img" src="/assets/uploads/2019/01/Cybersecurity-security-managemed-security-service-provider-75x75.png" width="75" height="75" alt="Cybersecurity-security-managemed-security-service-provider" title="Cybersecurity-security-managemed-security-service-provider" /></noscript>
                                                       </div>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 35px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <div class="wpb_text_column wpb_content_element">
                                                    <div class="wpb_wrapper">
                                                       <h5>PROACTIVE SECURITY</h5>
                                                       <p>Enhance your cyber security</p>
                                                    </div>
                                                 </div>
                                                 <div class="vc_empty_space"  style="height: 16px" ><span
                                                    class="vc_empty_space_inner">
                                                    <span class="empty_space_image"  ></span>
                                                    </span>
                                                 </div>
                                                 <a  itemprop="url" href="/experienced-a-breach" target="_self"  class="qbutton  white default  qode-button-shadow" style="">Contact us</a>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                                  <div class="vc_empty_space"  style="height: 20px" ><span
                                     class="vc_empty_space_inner">
                                     <span class="empty_space_image"  ></span>
                                     </span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div      class="vc_row wpb_row section vc_row-fluid  vc_custom_1548545321638" style=' text-align:left;'>
                   <div class="full_section_inner clearfix">
                      <div class="wpb_column vc_column_container vc_col-sm-12">
                         <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                               <div class="qode-advanced-call-to-action" style="height:140px">
                                  <a class="advanced-cta-link" href="/experienced-a-breach" target="_self"></a>
                                  <div class="qode-advanced-cta-content">		
                                     <span class="qode-advanced-cta-text-holder" style="color:#ffffff;font-size:25px">
                                     Prevent from data breaches with a proactive protection	    </span>
                                     <span class="qode-advanced-cta-icon-holder" style="color:#ffffff;font-size:38px;font-weight:600;height:45px;width:45px">
                                     <span class="qode-advanced-cta-icon-holder-table">
                                     <span class="qode-advanced-cta-icon-holder-cell" >
                                     <span aria-hidden="true" class="qode_icon_font_elegant arrow_right qode-advanced-cta-icon" ></span>			    </span>
                                     </span>
                                     </span>
                                  </div>
                                  <div class="qode-advanced-cta-background-holder">
                                     <span class="qode-advanced-cta-background-1 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-2 qode-type1-gradient-left-to-right"></span>
                                     <span class="qode-advanced-cta-background-3"></span>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>

{% include footer.liquid %}
