{% include head.liquid %}
{% include header.liquid %}

<div class="privacy-container ex-p">
    <h3>SCOPE OF THE PRIVACY POLICY AND PROCESSING OF PERSONAL DATA</h3>

<p>This policy on the processing of personal data will be applicable to users of the Puffin Security SL website, as well as to all those who provide their personal data through the channels enabled and indicated for this.</p>

<p><strong>Identity of the data controller</strong></p>

<p>The person responsible for the processing of the user&rsquo;s personal data is Puffin Security SL with registered office at Calle Alvarado 15, 0 ED (Madrid), Spain, with CIF B19997576.</p>

<p>Purposes for which your personal data are processed, legitimizing basis and data retention periods.</p>

<p>Processing of personal data based on the consent of the interested party:</p>

<p>Managing user requests for information. The personal data of those who request information will be processed with the sole purpose of attending to said requests, within the terms provided by law, and suppling the required information. Said personal data will be kept for the time necessary to manage the request and the possible obligations derived from it, after which they will be eliminated.<br />
Management of recruitment processes for public job offers. The personal data of job seekers and those who participate in recruitment processes will only be processed for the purpose of selecting candidates and managing applications for public job offers. Your data will be kept for the legally allowed time, after which they will be deleted.<br />
Puffin Security SL will only process personal data where it has been expressly and explicitly consented to by the interested party through the channels enabled. Likewise, we inform you that said consent is revocable at any time. This can be done using the channels indicated for the exercise of the rights of the interested party.</p>

<p>The user or interested party undertakes to provide correct, truthful and up-to-date information about their situation. Failure to supply the required personal data, in cases in which it is indicated as mandatory, will result in Puffin Security SL being unable to supply the requested information or provide the required service.</p>

<p>Recipients of personal data and international data transfers.</p>

<p>Your data may be communicated or transferred to Public Administrations or other entities, to the extent that such communication is necessary or mandatory to manage your request.</p>

<p>Likewise, we inform you that your contact information may be the object of international data transfer to countries located outside the European Union in order to offer an adequate service in relation to your request, without prejudice to compliance with the requirements demanded by data protection regulations in relation to international data transfers.</p>

<p>Exercise of the rights of the interested parties.</p>

<p>We inform you that at any time you can exercise your rights, under the legally established terms, by sending a written communication to the following address: Calle Alvarado 15, 0 ED (28039), or by email: info@puffinsecurity.com</p>

<p>We remind you that in said communication you must indicate the right you want to exercise, the data or set of personal data that is the object of your claim and provide a valid identity document.</p>

<p>For any questions or complaints regarding the processing of personal data, you can contact our Data Protection Delegate through the email address: info@puffinsecurity.com</p>

<p>Finally, we inform you that you have the right to file a claim with the Spanish Data Protection Agency, as the controlling authority. www.agpd.es</p>

</div>

{% include footer.liquid %}
